[2021-08-03 09:15] nikkhils commented on #3455
Hi @xin-hedera

Thanks for the report. It does look like a bug. I have added it to the TimescaleDB triaging board and we will look at it soon.

[2021-08-03 09:20] nikkhils commented on #3452
@dberardo-com The UDFs should be simply passed through from timescale point of view. If Presto does anything additional then it would need to be reported there.

On the whole, this looks like it needs some testing and playing around with. Please do let us know the outcome.

[2021-08-03 09:49] nikkhils commented on #3442
I am working on a fix for this.

[2021-08-03 09:50] nikkhils commented on #3442
Am working on a fix for this.

[2021-08-03 12:36] raffomania opened #3459 "Missing package `timescaledb-2-loader-postgresql-12`"
**Relevant system information:**
 - OS: Ubuntu 20.04.2 LTS
 - PostgreSQL version (output of `postgres --version`): 12
 - TimescaleDB version (output of `\dx` in `psql`): 2.3.1
 - Installation method: apt install

**Describe the bug**
When installing timescale 2.3.1 with postgres 12, the installation errors out because the loader package is missing.

**To Reproduce**
We're using the timescale PPA l

[2021-08-03 13:09] Pinacolada8 commented on #2857
Hey guys,
I know it is annoying to ask about release time, but do you have any release time estimate?
Sorry for my bad english and for that annoying question.

[2021-08-03 13:11] jonatas commented on #3419
Hello @riskomap ! Yes it's possible! Think that Timescale is fully compatible with  Postgres, so it will be the same as query a regular view.

[2021-08-03 13:11] #3419 closed

[2021-08-03 14:01] dberardo-com commented on #3452
sure i will, although honestly i wonder why am i the first one trying this out :D

[2021-08-03 14:48] jameswinegar commented on #3449
Thanks for the advice, for our use case the most recent 4 chunks are the most important so the `VACUUM FULL` wasn't terrible, but also not great.

I've added the auto_vacuum changes, I appreciate it a lot.

[2021-08-03 20:39] gayyappan commented on #3453
@comunidadio What are the steps you used for upgrade the extension?

[2021-08-04 02:18] comunidadio commented on #3453
@gayyappan
[code]

[2021-08-04 11:02] k1ng440 commented on #3459
[code]

[2021-08-04 11:20] EraYaN commented on #3459
I have a feeling it was an overreaction to https://github.com/timescale/timescaledb/issues/3454 and some packages were pulled, the main package for pg 13 is also gone.

[2021-08-04 11:25] nikkhils commented on #3439
@AlekseiSaff if will be great if you can share the data/steps so that we can reproduce it ourselves as well.

[2021-08-04 12:57] svenklemm commented on #3459
The location for ubuntu packages has changed and they are now hosted on packagecloud. Docs will be updated soon to reflect it.

https://github.com/timescale/docs/pull/234/

[2021-08-04 18:00] gayyappan commented on #3453
I tried the steps you outlined above. It works as expected. Selects work after the update as well.

[code]

[2021-08-05 07:47] nikkhils commented on #3438
@dumm1 this is a major version upgrade. So major version upgrades are typically done by doing a `pg_dump` followed by `pg_restore`. Please refer to PostgreSQL documentation for major version upgrades.

The following documentation should help

https://docs.timescale.com/timescaledb/latest/how-to-guides/update-timescaledb/update-timescaledb-2/#compatibility

[2021-08-05 10:54] #3442 closed

[2021-08-05 10:59] nikkhils commented on #3413
@akamensky can you please disable `timescaledb.enable_distributed_insert_with_copy` by setting it to `FALSE` in your setup and let us know if the performance degradation goes away?

[2021-08-05 11:00] akamensky commented on #3413
@nikkhils Please see above. It has already been done before and the result was posted above as well.

[2021-08-06 08:16] wilfriedroset opened #3463 "Draining of nodes"
[2.4 blog post](https://blog.timescale.com/blog/move-fast-but-dont-break-things-introducing-the-experimental-schema-with-new-experimental-features-in-timescaledb-2-4/) introduces `move_chunk` and `copy_chunk` as experimental functions which is great.

In a production use case, users might need to remove temporarily (kernel upgrade, rolling reboot) a node from the multi node setup. To do that prope

[2021-08-06 10:14] zeroallox commented on #2841
Giving TSDB another whirl after a few months using v2.4.0 in Docker image ```timescale/timescaledb:latest-pg13```.

There does not appear to be any improvement: The CAGG generation only utilizes a single core of a 32 core system. :(

Has there been any updates or internal discussion about multi thread support for CAGG generation?

[2021-08-06 13:24] phemmer commented on #3463
If there's going to be an automatic rebalancer (and I think such would be a good thing), then I think this would best be handled with a "node state" paradigm. Meaning a node would be in one of 5 states that would control the behavior of chunk access & balancing.

|           | Read existing chunks | Write new chunks | Rebuild chunks |
|-----------|----------------------|------------------|--------

[2021-08-06 14:48] dumm1 opened #3464 "A dependency issue in timescaledb-loader-postgresql-11"
I was creating a timescaledb extension 1.7 in PostgreSQL11.
It returned error.
ERROR: extension "timescaledb" has no installation script not update patch for version "2.3.1

timescaledb-loader-postgresql-11 was installed by yum.
#yum install timescaledb-loader-postgresql-11
However, among all the dependencies, there is a timescaledb-2-loader-postgresql-11.

`# yum install timescaledb-loader-postgr

[2021-08-07 20:09] arnaud-busson-eficia opened #3465 "Cannot update from 2.3.0 to 2.4.0"
**Relevant system information:**
 - OS: Ubuntu 18.04
 - PostgreSQL version (output of `postgres --version`): 13.3
 - TimescaleDB version (output of `\dx` in `psql`): 2.3.0
 - Installation method: apt install

**Describe the bug**
After downloading and installing the timescaledb version 2.4.0, running "ALTER EXTENSION timescaledb UPDATE" won’t upgrade

**To Reproduce**
Steps to reproduce the behavi

[2021-08-09 08:03] nikkhils commented on #3452
Please feel free to open another issue if there is anything timescaledb specific.

[2021-08-09 08:03] #3452 closed

[2021-08-09 08:04] nikkhils commented on #3449
Please feel free to open another issue if you have any further queries.

[2021-08-09 08:04] #3449 closed

[2021-08-09 08:17] nikkhils commented on #3413
@akamensky ok, thanks for following up. We will continue to discuss this internally.

[2021-08-09 08:19] nikkhils commented on #3438
Please feel free to create another issue if the above brings forth anything timescale specific.

[2021-08-09 08:19] #3438 closed

[2021-08-09 14:35] mfundul commented on #3465
Can you try `ALTER EXTENSION timescaledb UPDATE TO "2.4.0";` and see if that works?

[2021-08-09 14:52] arnaud-busson-eficia commented on #3465
Hello,

I just tried:
[code]

I am missing something in the process I detailed above ?

[2021-08-09 15:02] mfundul commented on #3465
This is different than what you installed (13.3). It appears that you may have multiple postgres versions installed.

[2021-08-09 15:03] mfundul commented on #3465
In that case you should update your timescaledb database for 12.7

[2021-08-09 15:32] arnaud-busson-eficia commented on #3465
Thank you, that was it.

For what it worth, I didn’t know how to downgrade to 12, so I got inspired by this process to set back the 12 version as the main: https://gorails.com/guides/upgrading-postgresql-version-on-ubuntu-server

Now my postgresql is back to 12, and timescaledb is 2.4.0:
[code]

I’m closing the issue, thanks again

[2021-08-09 15:32] #3465 closed

[2021-08-10 04:27] nishi-15 commented on #1500
I am facing same issue. Is this issue resolved?

[2021-08-10 05:24] alx696 opened #3467 "duplicate key value violates unique constraint after restore when create index"
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version (output of `postgres --version`): 13.3
 - TimescaleDB version (output of `\dx` in `psql`): 2.3.1
 - Installation method: apt installapt install

**Describe the bug**
After [restore](https://docs.timescale.com/timescaledb/latest/how-to-guides/backup-and-restore/timescaledb-backup/#procedure-restoring-your-database-from-backu

[2021-08-10 06:26] wilfriedroset commented on #3463
In the offline case, the access node would need to know if a chunk is _complete_ or not. Let's take an example:
* We have a 1 accessnode + 3 datanodes setup with replication factor=2
* `chunkN`  and `chunkN'` (replicated chunk) are hosted on `dnX` and `dnY`
* `dnY` goes offline for a small time then come back online while the cluster still taking writes
* my understanding is that `chunkN'` would n

[2021-08-10 08:17] mfundul commented on #1500
This is an experimental feature right now, look [here](https://blog.timescale.com/blog/move-fast-but-dont-break-things-introducing-the-experimental-schema-with-new-experimental-features-in-timescaledb-2-4/).

[2021-08-10 08:54] maggusf commented on #1784
having more or less the same problem. because of the bigger heap I can't compress certain table as the compressed chunk hits the error:
SELECT compress_chunk(i) from show_chunks('mytable', older_than => INTERVAL '2 days') i
[54000]: ERROR: row is too big: size 8648, maximum size 8160

[2021-08-10 09:04] mfundul commented on #1784
There may be too many columns and it hits the block size limit after inefficient compression. Can you give some more information about the schema?

[2021-08-10 09:14] maggusf commented on #1784
sure, here we go:

[code]

[2021-08-10 09:40] mfundul commented on #2841
There have been internal discussions about optimizations for CAGGs but there are no updates as of yet. It is likely that the upcoming changes for CAGGs will break compatibility and you should not expect linear scaling since the Continuous aggregate materialization process is not an embarrassingly parallel workload.

[2021-08-10 09:46] mfundul commented on #3454
Moving from ppa to packagecloud should fix this issue. Check the [latest documentation](https://docs.timescale.com/timescaledb/latest/how-to-guides/install-timescaledb/self-hosted/ubuntu/installation-apt-ubuntu/##installation-apt-ubuntu) on how to do that.

[2021-08-10 09:46] #3454 closed

[2021-08-10 09:51] zeroallox commented on #2841
Understood!

What do you mean by "break compatibility"? Will one need to regenerate the CAGG MV's again? Or just that the user facing function calls / params are changing?

NP either way, just want to keep an eye out.

In any case, thank you so much for taking the time to get back to me.

[2021-08-10 09:53] mfundul commented on #2841
It would probably mean that there would be a new version of CAGGs, e.g. CAGG v2. You would probably be able to use v2 for new data, and you would need to migrate from v1 to v2 for existing CAGGs with the help of a tool.

[2021-08-10 10:15] mfundul commented on #3464
`CREATE EXTENSION timescaledb WITH VERSION "1.7.5";` should work.

[2021-08-10 23:26] jankatins opened #3469 "TimescaleDB Background Worker Scheduler crash with "malloc.c:2394: sysmalloc: Assertion ... failed""
**Relevant system information:**
 - OS: fedora 33
 - PostgreSQL version (output of `postgres --version`): 12.7
 - TimescaleDB version (output of `\dx` in `psql`): 2.4
 - Installation method: internal build

**Describe the bug**
During a automated test, we saw the following error in the log which lead to crashing tests. This error does not happen often (just saw it for the second time). The failing

[2021-08-11 08:10] mfundul commented on #3469
@jankatins can you get a backtrace of this?

It appears this is some `malloc` memory corruption, which timescaledb seldomly uses.

This could be a bug in timescaledb connection code which explicitly uses `malloc()`, or, probably less likely, in remote execution code or fdw code.

It could also be a postgresql race condition for `DROP EXTENSION` but I don't believe that it is at this point.

[2021-08-11 08:20] raffomania commented on #3459
The docs imply that packagecloud is only needed for versions >= 2.4. If this is true, installing 2.3 from the PPA should still work, right? Or should I open a PR to adjust the docs?

[2021-08-11 09:05] mfundul commented on #2901
@LeeHampton do you by any chance use `timescaledb.disable_load` as well?

[2021-08-11 10:19] raffomania commented on #3459
It also seems like version 2.3 is not published on packagecloud yet, leaving us with no way to install 2.3 at this time.

Every job in our CI is failing since over a week because of this and we can't think of anything short of building the packages ourselves to fix it. Are there other workarounds?

[2021-08-11 10:50] svenklemm commented on #3459
2.3.1 and 2.4.0 are on packagecloud, if you want to install a different previous versions they are still available through PPA but in either case you need the packagecloud repository too because the loader package is only on packagecloud.

So if you need a version < 2.3.1 you need both repos. For >= 2.3.1 you only need packagecloud.

[2021-08-11 11:51] tmtron opened #3472 "Feature Request: Change interval of newest chunk immediately"
Currently [set_chunk_time_interval](https://docs.timescale.com/api/latest/hypertable/set_chunk_time_interval/) only affects future chunks.
It would  be great if it could also affect he newest chunk.

We have some use-cases where the ingestion rate can be changed by the customers: e.g. they may start with slow data (where 1 month is okay), but then change at any time to a higher ingestion rate, whe

[2021-08-11 16:32] jankatins commented on #3469
This happens rarely, I cannot reproduce at will :-(. In this case, the above is the only output I have (happened on a jenkins).

[2021-08-11 19:26] jankatins commented on #3469
Some background, as I just saw it again in the same test:

[code]

It crashes in the last step. always_reconnecting_cursor is basically opening a new connection and cursor and then executes this.

I also think (so no hard data :-() that I only saw it recently, so only with tsdb 2.4. At least twice in two days makes it at least more frequent in the 2.4 release.

[2021-08-12 06:17] hardikm10 opened #3474 "SELECT * LIMIT 1 over a continuous aggregate scans all chunks"
Relevant system information:
OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]: Docker / timescale/timescaledb:2.3.0-pg12
PostgreSQL version (output of postgres --version): 12.7
TimescaleDB version (output of \dx in psql): 2.3.0
Installation method: [e.g., "using Docker", "apt install", "source"] : "Using Docker"

**Describe the bug**
Doing a select * from X limit 1 style query against a hypertable (X)

[2021-08-12 07:16] hardikm10 opened #3475 "Distinct Queries over Continuous Aggregates doesn't utilize SkipScan"
Relevant system information:
OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]: Docker / timescale/timescaledb:2.4.0-pg12
PostgreSQL version (output of postgres --version): 12.7
TimescaleDB version (output of \dx in psql): 2.4.0
Installation method: [e.g., "using Docker", "apt install", "source"] : "Using Docker"

**Describe the bug**
Doing a distinct query over a continuous aggregate doesn't utilize S

[2021-08-12 07:44] mfundul commented on #3469
I wonder if it's related to https://github.com/timescale/timescaledb/pull/3434
This PR was introduced in v2.4.0

[2021-08-12 08:35] mkindahl commented on #1784
A possible fix here would be to check the row size when turning on the `compression` flag rather than when trying to compress the chunk. This would give an error when compression is enabled for the table rather than when an attempt is made to compress the table, which is probably easier to follow, understand, and handle.

[2021-08-12 09:25] raffomania commented on #3459
Thanks, our apt package list was an older version, we have now located the 2.3 package in packagecloud.
I'm closing this issue, thanks again for the support.

I think you'd probably help some people by putting this sentence into the docs :)

[2021-08-12 09:25] #3459 closed

[2021-08-12 15:52] nevotheless opened #3476 "Timescale not compatible with Postgres provided via Software Collections (scl)."
**Relevant system information:**
 - OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc] **CentOS 7.9**
 - PostgreSQL version (output of `postgres --version`): [e.g. 13.2, 12.0] **10.17**
 - TimescaleDB version (output of `\dx` in `psql`): [e.g. 1.0.0] **1.7.5**
 - Installation method: [e.g., "using Docker", "apt install", "source"] **yum repo https://packagecloud.io/timescale/timescaledb/el/7/$basearch**

[2021-08-12 17:59] benwilson512 commented on #2565
Experiencing this on 2.4.0. Our compression jobs due to deadlocks when queries are being performed on the table. We were not running into this on 2.3.X.

[2021-08-12 18:45] mfundul commented on #3476
The different name of the dependency is indeed the reason. I imagine if the maintainers of centos-release-scl ever decided to include timescaledb in their repos they would make it work.

You could try this as a workaround:
[code]
Maybe you can make it work?

[2021-08-12 21:12] tyhoff opened #3477 "More control over how Continuous Aggregate refreshes are scheduled"
We have 1 hyper table and we have 3 continuous aggregates on this one hyper table. We're noticing that if all of the 3 aggregate refreshes happen to run at once, the refresh process takes ~30-40 minutes and the CPU nears 80-90%, but if they all happen to run at different times, each takes 3-4 minutes and the CPU is at a happier 40% max.

I imagine there could be a global setting that prevents more

[2021-08-13 02:50] svenklemm opened #3478 "Assertion failure in continuous aggregate ddl test"
Link to coredump: https://github.com/timescale/timescaledb/runs/3315697509?check_suite_focus=true

[code]

[2021-08-13 09:33] nevotheless commented on #3476
The workaround works, yes. Thanks for that. I'll try and contact the scl maintainers if there's something they can do.

[2021-08-13 09:33] #3476 closed

[2021-08-13 13:03] poelstra-sioux commented on #1400
It's interesting that the materialized view behind the cagg is a hypertable, which is a necessity for defining a cagg.
However, when looking into the materialized view, it appears that its intermediate state is stored as binary blobs.

As a workaround for now, is there a way to basically manually 'roll up' that intermediate state into the new aggregate by directly building the query on top of the

[2021-08-13 13:51] emres opened #3479 "The hint for "no data nodes can be assigned to the hypertable" error ("Add data nodes to the database.") is not informative enough"
**Relevant system information:**
 - OS: [Debian GNU/Linux version 10.10 ("buster")](https://www.debian.org/releases/buster/)
 - PostgreSQL version: 12.7
 - TimescaleDB version: 2.3.1
 - Installation method: "apt install"

**Describe the bug**
The **hint** for `no data nodes can be assigned to the hypertable` **error** (`Add data nodes to the database.`) is not informative enough.

I hit this case

[2021-08-14 05:15] grawlinson opened #3480 "Embedded version strings causes non-deterministic builds"
Just going through our repositories and ensuring all packages are deterministic/reproducible when I came across an issue with timescaledb. Some [background](https://reproducible-builds.org) on reproducible builds.

The project seems to hardcode some strings at compile-time, as shown below:

https://github.com/timescale/timescaledb/blob/eace5ea23b299681a45efa312cf6f51f587d561c/src/config.h.in#L10-L

[2021-08-14 17:13] yuezhihan opened #3481 "GROUP BY error when setting compress_segmentby with an enum column"
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version: 13.3
 - TimescaleDB version: 2.4.0
 - Installation method: apt install

**Describe the bug**

When setting compress_segmentby with an enum column `enum_col`, a query with GROUP BY `enum_col` raises an error.

**To Reproduce**

1. Create hypertable and insert data

[code]

2. Enable compression (segment by with the enum_col

[2021-08-16 02:35] lukepalmer opened #3482 "Upgrading 2.1.0 -> 2.4.0 breaks, bad dependency in timescaledb-2-oss-postgresql-12-2.4.0-0.el7.x86_64"
**Relevant system information:**
 - OS: Centos 7
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 2.4
 - Installation method: [e.g., "using Docker", "apt install", "source"] rpm

**Describe the bug**
Taking an upgrade to timescale 2.4.0 breaks a database running timescale 2.1.0 because the 2.1.0 library cannot be found.
Upgrading to 2

[2021-08-16 03:22] zcattacz opened #3483 "Query for latest records runs very sloow"
**Relevant system information:**
 - OS: [e.g. Windows 2012 x64]
 - PostgreSQL version (output of `postgres --version`): 13.3
 - TimescaleDB version (output of `\dx` in `psql`):
[code]
 - Installation method: [e.g., "using Docker", "apt install", "source"]

**Describe the bug**
A simple query for the latest 100 (regardless of 100 or 10) records took 13~14s.
[code]

=== table DDL
[code]
=== Query pl

[2021-08-16 03:33] zcattacz commented on #3483
Without `LIMIT` clause:

[code]

=== Chunk Count
[code]

[2021-08-16 06:39] tripermc opened #3484 "Out of background workers"
**Relevant system information:**
 - OS: Windows 10 x64
 - PostgreSQL version (output of `postgres --version`): 12.5.1
 - TimescaleDB version (output of `\dx` in `psql`): 2.3
 - Installation method: setup

**postgresql.conf
- max_worker_processes = 19		# (change requires restart)
- max_parallel_workers_per_gather = 4	# taken from max_parallel_workers
- max_parallel_workers = 8		# maximum number of

[2021-08-16 15:59] mkindahl opened #3486 "Regression test continuous_aggs_bgw fails with 12.8"
**Relevant system information:**
 - OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc] Linux
 - PostgreSQL version (output of `postgres --version`): 12.8
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0-dev
 - Installation method: source

**Describe the bug**
When building with PG 12.8 and running regression tests, the test `continuous_aggs_bgw` fails with the following error:

[code]

[2021-08-16 18:20] MatthewDownsNR opened #3488 "Unable to use compression_segment_by on multiple columns"
**Relevant system information:**
Timescale Forge 1 CPU, 4GB RAM instance

**Describe the bug**
Timescale claims that "The option timescaledb.compress_segmentby must be a set of columns separated by commas.", when it is actually a set of columns separated by commas.

**To Reproduce**
Steps to reproduce the behavior:
1. Create this table and hypertable it
[code]
2. Attempt to enable compression usin

[2021-08-16 22:47] MatthewDownsNR commented on #3488
When I leave out the third column "order" just to see what happens, I get this error:
<img width="921" alt="Screen Shot 2021-08-16 at 5 44 23 PM" src="https://user-images.githubusercontent.com/66033256/129638279-76417d19-b3cf-459b-9aa3-d801556683fd.png">
Which makes me believe the parsing on Timescale's end for "timescaledb.compression_segment_by" is at least partially working, since it was able t

[2021-08-16 23:25] zcattacz commented on #3483
Without ’ORDER BY’, with or without LIMIT it returns in moderate time

[2021-08-17 00:35] lukepalmer commented on #3482
It looks the package was re-pushed with the correct dependency on postgresql 12.6. Thanks all.

[2021-08-17 00:35] #3482 closed

[2021-08-17 07:18] #3486 closed

[2021-08-17 12:33] mkindahl commented on #3484
Thank you for the bug report @tripermc !

You see the error because the scheduler tries to find a background worker to run a job but there are none. Have you tried to increase the `timescaledb.max_background_workers` option to see if the warning goes away?

[2021-08-17 12:36] mkindahl commented on #3477
Hi @tyhoff ! If you lower the number of background workers, it should not be possible for multiple jobs to start at the same time. It will generate warnings in the log though.

[2021-08-17 12:41] mkindahl commented on #3480
Thanks for the bug report @grawlinson. The link to the plain-text output above does not show anything. Could you paste parts of the text in the bug report so that we can find it later?

[2021-08-17 12:44] mkindahl commented on #3479
Thank you for the bug report @emres. It would indeed be easier to understand if the hint contained the reason for the failure.

[2021-08-17 12:45] Rafael-006 opened #3492 "File not found - timescaledb.control"
**Relevant system information:**
 - OS: Ubuntu 20.04.2 LTS
 - PostgreSQL version 13.4
 - Installation method: apt install

**Describe the bug**
I am following the official documentation to do a first time installation of timescaledb in my local machine. Everything worked fine for installation however i face an error when running migration for a table. I followed the quick start guide for node appl

[2021-08-17 15:12] #2655 closed

[2021-08-17 15:17] syco opened #3493 "Install timescaledb on debian 10"
**Relevant system information:**
 - OS: Debian 10
 - PostgreSQL version: psql (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): [e.g. 1.0.0]
 - Installation method: apt install

**Describe the bug**
I have a new clean debian, I followed the instructions from https://docs.timescale.com/timescaledb/latest/how-to-guides/install-timescaledb/self-hosted/deb

[2021-08-17 20:07] svenklemm commented on #3493
You need to run `CREATE EXTENSION timescaledb;` in every database you want to use timescaledb.

[2021-08-17 20:20] svenklemm commented on #3488
Since order is a SQL keyword it needs to be quoted. The following works:
[code]

[2021-08-17 20:23] svenklemm commented on #3492
The control file is part of the loader package. Can you reinstall timescaledb-2-postgresql-13-loader.

[2021-08-17 20:54] TroyDey opened #3495 "Calling copy_chunk procedure within another procedure leads to the connection being terminated with error"
**Relevant system information:**
 - OS: Alpine, timescale/timescaledb:2.4.0-pg13, Host: OS X Catalina
 - PostgreSQL version (output of `postgres --version`): 13.3
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.0
 - Installation method: Docker

**Describe the bug**
Calling timescaledb_experimental.copy_chunk procedure within a procedure leads to this error:

WARNING:  transaction left non-

[2021-08-18 04:19] Rafael-006 commented on #3492
i tried uninstalling and reinstalling the timescaledb-2-postgresql-13-loader but that didn't work

[2021-08-18 08:34] syco commented on #3493
Thanks, that was it.
I feel like this is basic postgresql knowledge, but after a over a decade on mysql and mariadb, it's not as easy as it seems...
Maybe a note at the end of the install doc would point others in the right direction.
However, this one can be closed.
Thanks again.

[2021-08-18 08:34] #3493 closed

[2021-08-18 12:00] usego opened #3496 "cannot execute SQL without an outer snapshot or portal on PG 13.4"
**Relevant system information:**
PostgreSQL 13.4 (Debian 13.4-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit
based on docker FROM timescale/timescaledb-ha:pg13-latest

List of installed extensions
 pg_stat_statements  | 1.8     | public     | track planning and execution statistics of all SQL statements executed
 plpgsql             | 1.0     | pg_catalog | PL/

[2021-08-18 13:46] svenklemm commented on #3492
Oh wait I see your error message references PG12 but you stated you are using PG13. Seems like you might have installed the extension for the wrong version. So you would have to reinstall timescaledb-2-postgresql-12-loader

[2021-08-18 14:28] Rafael-006 commented on #3492
Well that worked.

I had both 12 and 13 version of postgresql installed. I removed version 12 and tried but couldn't get that work. Then removed version 13 and installed the version 13 again.

Now i installed the TimescaleDB and able to run the migration.

Thanks.

[2021-08-18 14:28] #3492 closed

[2021-08-18 23:24] benchub opened #3498 "LIMIT 1 clause causes timescaledb to request a very reasonable 16ZB of ram, which I don't have"
**Relevant system information:**
 - Linux 5.4.0-1051-aws #53~18.04.1-Ubuntu SMP Fri Jun 18 14:54:27 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux
 - PostgreSQL 12.6 (Ubuntu 12.6-1.pgdg18.04+1) on aarch64-unknown-linux-gnu, compiled by gcc (Ubuntu/Linaro 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit
 - TimescaleDB version 2.3.1
 - Installation method: apt install

**Describe the bug**
We've noticed one one of o

[2021-08-19 03:29] mfreed commented on #2966
Perhaps the initial implementation of this could simplify the problem:  Next job is scheduled at next clock_aligned time.  So if you "miss" the next scheduled time because the last job took too long -> too bad, you just wait for the next scheduling interview.

This isn't a problem if your scheduled times are far apart (hour, day) compared to execution time, but makes it less appropriate for a job

[2021-08-19 03:29] zcattacz commented on #3498
you can try remove `order by` ?

[2021-08-19 03:32] drpebcak commented on #2966
I think most people would expect it to work like cron, where jobs would overlap if they take too long to run.

[2021-08-19 03:34] mfreed commented on #2966
But UNIX cron probably doesn't have the same problem like max_background_workers as the database, and perhaps even worse, doesn't typically deal with the complexities of lock discipline.

[2021-08-19 03:36] mfreed commented on #2966
For what it's worth, `pg_cron` doesn't support overlapping jobs either:

https://github.com/citusdata/pg_cron#what-is-pg_cron

[2021-08-19 03:44] drpebcak commented on #2966
True, it probably is safer all around not to allow a job to overlap. Both because of the way background workers are and also because of the way sql works - in most cases a duplicate job would probably cause some locking nightmares.

For me the biggest benefit would be that if you wanted to run something once a day or once a month, it would reliably start running at the exact same time every time.

[2021-08-19 06:38] #3479 closed

[2021-08-19 08:23] aelg commented on #3496
Seems also to have the same behavior after upgrading from PostgreSQL 12.7 -> 12.8

[2021-08-19 09:21] mkindahl commented on #3496
Thank you for the bug report @usego ! This is indeed a bug in all existing versions of TimescaleDB and is fixed in https://github.com/timescale/timescaledb/pull/3489. It is unfortunately not yet released, but we are looking at getting a patch release out as soon as possible.

[2021-08-19 09:21] #3496 closed

[2021-08-19 09:22] ventris commented on #3496
Do you have a timeline for when you think you can release?

[2021-08-19 09:34] mkindahl commented on #3498
Thank you for the bug report @benchub . In hex, the number is 0xFFFFFFFF6ED18F60, which looks like a negative int64 that for some reason is passed down to the allocation. It is hard to pinpoint without a stack trace. Is it possible for you to attach a debugger and put a breakpoint on the line that gives the error and check the stack trace?

[2021-08-19 09:36] eclipticwld commented on #3496
I updated all dependencies on production machine along with PostgreSQL from 13.1 to 13.4 and it break the TimescaleDB. It queries aggregated data for new records within 3 seconds but old data could be accessed within 600 ms. I guess it break the real-time aggregation feature. Moreover, I observe a drop of performance. It used to take 60 ms instead of 600 ms. Not sure about cause of performance.

[2021-08-19 09:46] eclipticwld commented on #3496
I updated all dependencies on production machine along with PostgreSQL from 13.1 to 13.4 and it break the TimescaleDB. It queries aggregated data for new records within 3 seconds but old data could be accessed within 600 ms. I guess it's about not working real-time aggregation feature. Moreover, I observe a drop of performance. It used to take 60 ms instead of 600 ms. Not sure about cause of perfo

[2021-08-19 14:18] benchub commented on #3498
No @zcattacz , removing the `order by` does not help.

[2021-08-19 14:19] benchub commented on #3498
@mkindahl That sounds like something I could probably do, but I have no idea how to know what line to break at, or how to find out.

[2021-08-19 20:25] TroyDey opened #3502 "Inconsistent Behavior with Native Replication When a Data Node Failes and is Readded"
**Relevant system information:**
- OS: Alpine, timescale/timescaledb:2.4.0-pg13, Host: OS X Catalina
- PostgreSQL version (output of postgres --version): 13.3
- TimescaleDB version (output of \dx in psql): 2.4.0
- Installation method: Docker

**Describe the bug**
When using native replication has unexpected behavior when a data node fails.

- When a data node goes down both selects and mutating co

[2021-08-20 14:11] jw1u1 opened #3506 "duplicate key value violates unique constraint on extension update"
**Relevant system information:**
 - OS: Red Hat Enterprise Linux Server release 7.9 (Maipo)
 - PostgreSQL version (output of `postgres --version`): 12.8
 - TimescaleDB version (output of `\dx` in `psql`):  installed_version | 1.7.5, default_version   | 2.3.0
 - Installation method: yum

**Describe the bug**
 ALTER EXTENSION timescaledb UPDATE;
ERROR:  duplicate key value violates unique constraint

[2021-08-20 14:31] jw1u1 commented on #3506
default version  2.4.1 does update properly

[2021-08-21 01:06] zcattacz commented on #3483
Am missing a index.

[2021-08-21 01:06] #3483 closed

[2021-08-21 15:07] akschu commented on #2344
I'm having the same issue with timescaledb 2.4.0 on postgres-12.7.  Did anyone find a workaround since there isn't seem to be any movement towards identifying the issue?

[2021-08-21 22:26] luqasz opened #3507 "Missing debian 11 bullseye packages"
**Relevant system information:**
 - OS: debian 11 bullseye
 - Installation method: apt

**Describe the bug**
No packages available

**To Reproduce**
In sources.list:
```deb https://packagecloud.io/timescale/timescaledb/debian bullseye main```

**Expected behavior**
Available package

**Actual behavior**
[code]

Debian 11 bullseye is [now ](https://www.debian.org/News/2021/20210814) newest stable.

[2021-08-22 01:11] grawlinson commented on #3480
Apologies, seems that previous build output isn't saved.

So far through testing (compiling timescaledb on machines with different kernel releases), the only hardcoded variable that changes in-between builds is `BUILD_OS_VERSION`. As a rule of thumb, variables that change regularly shouldn't really make its way into the resultant binary.

What I've done [downstream](https://github.com/archlinux/sv

[2021-08-22 12:25] mohamedmossadaeye commented on #447
this may solve the problem :https://stackoverflow.com/questions/55312365/how-to-convert-a-simple-postgresql-table-to-hypertable-or-timescale-db-table-usi/55314991#55314991
if you are trying transform django model to hypertable check example
`timestamp = models.DateTimeField(auto_now_add=True, db_index=True, primary_key=True)`

[2021-08-23 04:43] QuanJingHong opened #3508 "Speed query very slow on TimescaleDB"
I created a table with the command:

[code]

Then I insert an amount of about 34 million records.

The query speed is very good, the amount of Ram used by the docker container is about 500MB-1.2GB. But query speed gets a problem after I insert amount of 1.8 million records, the time field is out of order before I had inserted it.

I use DBbeaver and get the message "You might need to increase max_

[2021-08-23 08:34] mkindahl commented on #3495
The problem occurs because the `copy_chunk` and `move_chunk` uses plumbing transaction commands (e.g., `CommitTransactionCommand()` and `StartTransactionCommand()`) from inside a PG procedure. Since these manipulate the SPI context, it will break when put inside PL/SQL procedures. We should instead use `SPI_commit` and friends.

[2021-08-23 13:38] NunoFilipeSantos commented on #3435
Our first hypothesis was that we could just turn on, remove the error and it would work (not the case).
Instead, we are moving forward with a refresh procedure which warrants a new estimate to September 2021.

[2021-08-23 17:39] bkief commented on #2574
Any current status on adding adaptive chunking back?

[2021-08-23 19:34] elpablete commented on #414
Hey guy, just my 2 cents: weeks are convertible to days (unlike months, years ...) shouldn't it be possible to specify the interval in weeks?

[2021-08-24 07:16] #3495 closed

[2021-08-24 07:32] mjf commented on #3244
Hi @nikkhils do you have any news about this, please?

[2021-08-24 09:06] janbols opened #3513 "function percentile_agg(double precision) does not exist in docker image"
**Relevant system information:**
 - Docker image: timescale/timescaledb:2.4.1-pg13

**Describe the bug**
I'm trying to tun the tutorial on https://docs.timescale.com/timescaledb/latest/tutorials/nfl-analytics/ingest-and-query/
After loading all the data and creating the materialized view, I wanted to run the query on https://docs.timescale.com/timescaledb/latest/tutorials/nfl-analytics/advanced-an

[2021-08-24 09:10] kvaikla opened #3514 "timescaledb fresh install fails"
Hi,
Seems, that something is wrong in SHAREDIR/extension/
OS:RH 7.9
Pg:12.5

Steps what has been done:
yum install timescaledb-2-postgresql-12-2.3.1-0.el7.x86_64
timescaledb-tune -conf-path=/pgdata/pgsql/12/data/postgresql.conf

[code]
[code]

Did I mess something up?

br
Kaido

[2021-08-24 09:55] mfundul commented on #3514
Since you're not installing the latest available version but version 2.3.1 then you should run the command:
[code]

[2021-08-24 09:56] kvaikla commented on #3514
Like I wrote
[code]

[2021-08-24 09:57] mfundul commented on #3514
Maybe duplicate of https://github.com/timescale/timescaledb/issues/3482

[2021-08-24 10:05] kvaikla commented on #3514
if so then what could be a solution?

[2021-08-24 10:19] mfundul commented on #3514
A solution seems to be to upgrade PG to >= 12.6

[2021-08-24 10:53] kvaikla commented on #3514
Ok, but i think, pg patch level "control" is too much.  Furtheremore, if doc says:  "TimescaleDB requires PostgreSQL 12 or 13"

[2021-08-24 12:27] mkindahl commented on #3506
@jw1u1 Thanks for the bug report. This seems to be issue #3331, which was fixed in 2.3.1, so please try that version, or later, instead.

[2021-08-24 12:27] #3506 closed

[2021-08-24 12:48] mkindahl commented on #3508
Hello @QuanJingHong ! This is highly dependent on the query that you use. If you could add the query and the output of `EXPLAIN` for the query to the issue, it might be possible to figure out what the problem is.

[2021-08-24 13:51] NunoFilipeSantos commented on #2747
@tylerfontaine for prioritisation efforts: Is this a customer or something you experimented with?

[2021-08-24 14:05] NunoFilipeSantos commented on #3383
Hi @fdmontero, can you please try on TimescaleDB 2.4.1?

[2021-08-24 14:09] NunoFilipeSantos commented on #3514
@kvaikla please upgrade to TimescaleDB 2.4.1 where we have fixed this issue.

[2021-08-24 14:09] #3514 closed

[2021-08-24 14:13] NunoFilipeSantos commented on #2680
Fixed on TimescaleDB 2.4.0.

[2021-08-24 14:13] #2680 closed

[2021-08-24 14:17] NunoFilipeSantos commented on #2944
Closing the issue. If you can provide more information feel free to re-open it.

[2021-08-24 14:17] #2944 closed

[2021-08-24 15:35] QuanJingHong commented on #3508
[code]

[2021-08-24 17:14] mkindahl commented on #2777
This was fixed in https://github.com/timescale/timescaledb/pull/1505, so closing.

[2021-08-24 17:14] #2777 closed

[2021-08-25 02:22] mattfysh commented on #2978
Hi @erimatnor - are there future plans to allow this? In my case, performance is not a bottleneck so I'm happy if this were to come with a toggle. For now, what I'm thinking of doing as a workaround (using the following object as an example):

[code]

1. The table is created with a `user_data` jsonb column

[code]

2. Before insert, inspect the `user_data` object and extract out any numeric attrib

[2021-08-25 03:25] QuanJingHong commented on #3508
File explain:https://drive.google.com/file/d/1bA5EwcWMUn5oTUirHFD25cSU1cYGwGLo/view?usp=sharing

[2021-08-25 06:42] majozv commented on #1094
@erimatnor Hi Erik, UPSERT on distributed hypertables would be useful for us even with limitations like not supported updates on "partitioning" columns...

[2021-08-25 07:07] mfundul commented on #2901
Closing this since @LeeHampton verified this has been resolved after upgrading to version 2.0.1
@jankatins if your issue still persists with version 2.4.1 you should create a new issue with your description above:
https://github.com/timescale/timescaledb/issues/2901#issuecomment-891123076

[2021-08-25 07:07] #2901 closed

[2021-08-25 08:23] QuanJingHong commented on #3508
I create Two DB with same schema:

34m records: API  3s
after insert data, from 34m record to 36m record: take 18s

[2021-08-25 10:36] ddobrinskiy opened #3517 "Unclear error message for invalid continuous aggregate view"
A continuous aggregate view can be created only on top of another table, not on top of another view.

However that is not clear for new users, and when they inevitably try to do so, the error message is not clear: `[0A000] ERROR: invalid continuous aggregate view`

Maybe it might make sense to have separate errors for cases when:

- user is tryging to create a contagg on top another view
- user fo

[2021-08-25 10:38] zdm opened #3518 "v2.4.1 build error"
**Relevant system information:**
 - OS: CentOs 8
 - PostgreSQL version (output of `postgres --version`): 13.4
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: source

**Describe the bug**
`bootstrap` produces error, see below.

**To Reproduce**
[code]

[2021-08-25 13:23] mkindahl commented on #3518
@zdm Thank you for the bug report. This seems to be a fairly straightforward fix, so hopefully we can fix it for the next release.

[2021-08-25 13:24] zdm commented on #3518
But how to build current release? ))

On 25.08.2021 16:23, Mats Kindahl wrote:

[2021-08-25 18:17] alex88 opened #3522 "Allow restoring to a lower timescaledb version database with ts-restore"
Trying to debug a performance regression I was trying to restore our database into a docker container using a lower timescaledb version but I wasn't unable to becuase of this error:

[code]

It would be nice to be able to do so since exporting/reimporting the data manually can be a long process especially when the involved tables depends on other tables.

This it the slack discussion regarding [th

[2021-08-25 20:11] alex88 opened #3523 "Performance regression after upgrading from 2.3 to 2.4"
**Relevant system information:**
 - OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc] Timescaledb cloud
 - PostgreSQL version (output of `postgres --version`): [e.g. 13.2, 12.0] 13.4
 - TimescaleDB version (output of `\dx` in `psql`): [e.g. 1.0.0] 2.4.0
 - Installation method: [e.g., "using Docker", "apt install", "source"] cloud

**Describe the bug**
After upgrading to 2.4.0 (not sure the version we h

[2021-08-30 08:14] nikkhils opened #3535 "Enhance GRANT/REVOKE handling"
Carrying this over to `timescaledb` project from https://github.com/timescale/product/issues/63

- [x] Test the behavior of SET SESSION AUTHORIZATION or SET ROLE in multi-node. Currently it sets the AN session current user/role which should create connections with the same user to the DNs.
- [x] #3595
- [x] #3594
- [x] https://github.com/timescale/timescaledb/issues/3851
- [x] `REVOKE  ALL ON publ

[2021-08-30 08:48] kkoppel opened #3536 "Promscale maintenance jobs fail after TimescaleDB upgraded to v2.4.1"
**Relevant system information:**
 - Docker images: timescale/timescaledb:2.4.1-pg12 and timescale/timescaledb:2.4.1-pg13 together with timescale/promscale:0.5.1

**Describe the bug**
I am using Promscale together with TimescaleDB to archive Prometheus data. After upgrading from timescale/timescaledb:**2.3.1-pg12** to timescale/timescaledb:**2.4.1-pg12**, the scheduled maintenance jobs fail on ever

[2021-08-30 11:25] nixxholas opened #3538 "Multi-threaded COPY insertions result in segfault"
**Relevant system information:**
 - OS: Ubuntu 20.04 LTS
 - PostgreSQL version (output of `postgres --version`): Ubuntu 13.4-1.pgdg20.04+1
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt install

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. 8-16 instances of our same application

[2021-08-30 11:40] fvannee opened #3539 "Default legacy function (time_col_name_for_chunk) that gets created is invalid"
As part of installation, some plpgsql functions are created. Creation is fine, but they can never actually be called, because they don't work anymore. (`h.time_column_name` does not exist). I assume they're leftovers from earlier tsdb versions. I think they should be removed from `sql/schema_info.sql`.

[code]

[2021-08-30 15:39] #3518 closed

[2021-08-30 21:51] jgm-ktg commented on #3094
@svenklemm Just FYI, on 2.4.1 (Timescale Forge), the following instance of your method above seems to cause problems with EXPLAIN:

[code]
[code]

...the query itself runs fine.  Should this be a separate bug report?

[2021-08-30 22:48] svenklemm commented on #3094
I dont think this is related to SkipScan there is already a bugreport for this: https://github.com/timescale/timescaledb/issues/3128

[2021-08-30 23:02] jgm-ktg commented on #3094
Odd, the query above worked! Only the EXPLAIN failed, and even that worked again with enable_remote_explain=off

[2021-08-31 13:19] jgm-ktg commented on #3128
@svenklemm Can you provide the definition/data of `t` above and how the distributed hypertable was partitioned?  As mentioned on #3094, I was able to seemingly successfully run a lateral join on a distributed hypertable.  In my case, only the EXPLAIN failed with an error similar to above.

[2021-08-31 22:24] tylerfontaine commented on #2747
@NunoFilipeSantos I discovered it in the course of working with a customer, but it isn't preventing any significant work. It was just unexpected behavior.

[2021-09-01 08:53] cheerfulstoic commented on #3467
I just ran into this and found that if I tweaked the index name (like adding a `_` at the end) it created fine...

[2021-09-01 11:50] jankatins commented on #2009
We also saw a similar error once in our upgrade check runs: Check from 12 -> 13, timescaledb version was 2.3.1:

[code]

Unfortunately, I cannot rule out that we had a DB in there with an older timescaledb version. But given that I've seen this once out of hundreds of such runs, I guess it's more a timing issue and there are some locks missing?

[2021-09-01 15:51] gayyappan commented on #3539
@fvannee Thank you for reporting this oversight.

[2021-09-01 15:52] phemmer opened #3543 "create_distributed_hypertable() fails when using custom type & non-public schema."
**Relevant system information:**
 - OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
When attempting to create a distributed hypertable in a non-public schema containing

[2021-09-01 16:10] gayyappan commented on #3543
@phemmer Have you tried manually creating uint8 type on **all** the data nodes and then executing create_distributed_hypertable? Does that work?

[2021-09-01 16:12] phemmer commented on #3543
The extension (and data type) is installed on all nodes. Note the test above labeled "schema=public function=create_distributed_hypertable".

[2021-09-01 16:55] gayyappan commented on #3498
@benchub You can break at errmsg (postgres function defined in elog.c).
It would help to see a stack trace.

[2021-09-01 17:49] gayyappan commented on #3538
@nixxholas Is there anything else happening in the background for this table - specifically 1) Is compression enabled and 2) do you have a compression policy that might compress chunks that you are copying data into?

[2021-09-01 17:58] gayyappan commented on #3543
@phemmer Could you post the output for `show search_path` for both cases : create_distributed_hypertable that  succeeds and the one that fails ?

[2021-09-01 18:12] phemmer commented on #3543
I'm not sure how to do that for the remote node. From the message output above, it looks like it's failing on the data node, not the access node. I can manually connect to the DB on that node, but I don't know how to replicate the same environment as what timescaledb has when it connects.

For the access node where I'm running the statements, it's:
[code]

[2021-09-02 01:52] phemmer commented on #3543
Thought of a way to get `search_path` from the remote nodes:
[code]
Then on each data node:
[code]

[2021-09-02 12:26] phemmer commented on #3543
Ok, so I found the issue.

I set `log_statement = all`, and I see the following statements being executed when it establishes the connection:
[code]

The reason why the `call distributed_exec()` doesn't detect it, and show that search path, is because it's temporarily overridden:
[code]

And when calling `create_distributed_hypertable()` it is not being overridden:
[code]

[2021-09-02 14:08] phemmer commented on #3543
I just ran across this function in the code, which has a documentation comment that seems highly relevant:
https://github.com/timescale/timescaledb/blob/dd3e422964f9a0d8a913d03ae2da2ad64799f3f8/tsl/src/fdw/deparse.c#L665-L685

So maybe the solution is as simple as swapping `format_type_with_typemod()` with `deparse_type_name()` in `deparse_columns()`:
https://github.com/timescale/timescaledb/blob/

[2021-09-02 19:26] #3539 closed

[2021-09-02 19:39] gayyappan opened #3545 "Background worker fails, on PG13.4, if the registered procedure has commit."
Steps to reproduce:
Create a table conditions with compression enabled and some uncompressed chunks.

CREATE TABLE conditions (
      time        TIMESTAMPTZ       NOT NULL,
      location    TEXT              NOT NULL,
      location2    char(10)              NOT NULL,
      temperature DOUBLE PRECISION  NULL,
      humidity    DOUBLE PRECISION  NULL
    );
select create_hypertable( 'conditions',

[2021-09-02 19:47] gayyappan commented on #3545
This is probably related to: https://git.postgresql.org/gitweb/?p=postgresql.git;a=commitdiff;h=84f5c2908dad81e8622b0406beea580e40bb03ac

[2021-09-02 20:47] ConradKurth opened #3546 "Backfilling data to continuous aggregate"
**Relevant system information:**
 - OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]
 - PostgreSQL version (output of `postgres --version`): [e.g. 13.2, 12.0]
 - TimescaleDB version (output of `\dx` in `psql`): [e.g. 1.0.0]
 - Installation method: [e.g., "using Docker", "apt install", "source"]

Running on timescale cloud. Postgres v12 and latest version of timescale as of writting

**Describe the bug

[2021-09-02 20:59] phemmer commented on #848
So I attempted to use the pguint extension to obtain uint64 functionality. It does appear to work, but only in single node. If you try to use multi-node you get the error `unsupported integer size 8`. It appears to be an issue when the access node is serializing the data to send to the data node.

[2021-09-02 21:12] gayyappan commented on #3546
```CALL refresh_continuous_aggregate('some_table_summary',NULL,NULL);```
The semantics is to refresh everything from beginning to the end since you don't specify a specific start/end point.
.
If you want to stop the refresh at a certain date , you have to specify that in the refresh.
``` CALL refresh_continuous_aggregate(<cont agg name>, NULL, '2019-01-01'); ```

[2021-09-02 21:16] ConradKurth commented on #3546
Yes, we are essentially inserting data from start to end. I understand  that I can specify stop and start endpoints but I am refreshing the entire aggregate.

I want to maintain all the data already existing in the continuous aggregate as well, which per a slack conversation does not exist.

[2021-09-02 21:31] gayyappan commented on #3546
Could you elaborate why something like this does not work?
[code]

This refreshes the aggregate from beginning  to the <date specified > . It does not touch the 90 days worth of data.

[2021-09-02 21:36] ConradKurth commented on #3546
Option 2. I may not have made this clear I realize. The hypertable drops data after 90s days. As for your further comment, we do still need to keep the aggregated data n the continuous aggregate

[2021-09-03 01:21] JH-D opened #3547 "Follow the doc, but the test practice shows performance much slower"
Especially the "**Each truck and its last known location**" test case, the page said can be Real-time, **but in practice the test even can't finished after hours**, can see the benchmark database's SELECT process is keep running.

![图片](https://user-images.githubusercontent.com/7844108/131935703-2483b894-ab4c-4b6b-a742-a8fa563f32dd.png)

Introduction page: https://blog.timescale.com/blog/how-to-be

[2021-09-03 06:27] choisnetm commented on #3079
Hi,

Do you have any news regarding this issue?
Is it safe for performance to set enable_bitmapscan to off in a production environment? What is this parameter for? How can I know the potential impacts?

[2021-09-03 11:21] john9x opened #3548 "Spikes of the slow queries"
Hello!

We try to migrate our data from MySQL to TSDB but I faced with next problem.
Sometimes one type of query executes dramatically slow (5, 15, 30, 60 seconds!) and I don't understand why.
I don't see any IO bottlenecks or something else. And when I execute request manually it executes fast.
May be you can help me.

Query example, insignificant fields are omitted
[code]

hypertable
[code]

DDL

[2021-09-03 14:40] dlax commented on #2899
It seems a bug in pg_upgradecluster rather because the new cluster is created without `shared_preload_libraries = 'timescaledb'` in postgresql.conf despite this being present in old cluster configuration file.

[2021-09-03 18:41] davidkohn88 commented on #3546
I think what you're looking for is something like a `refresh_no_delete` where it would only add data to the continuous aggregate.

For now, a workaround would be a query that essentially does that manually. Usually when we do a refresh, we do a delete in teh time period and then a re-populate. As long as the data you've inserted is disjoint, you should be able to just do the insert (if it's not di

[2021-09-03 18:42] nixxholas commented on #3538
Noted. @BingHuang-Chin need your assistance on this.

[2021-09-04 06:17] john9x commented on #3548
When we try to execute more queries like this one in parallel PG eats all CPU time, all IOPS and LA jumps to the sky. :(

BTW I forgot one thing -  chunks older than 7 months is compressed.
[code]

[2021-09-05 20:02] svenklemm commented on #3079
I would consider it safe. It will prevent bitmap scans from being used but bitmap scans are not as common and ideally you only have sequential scan and index scan, but this heavily depends on your schema and the types of queries you are running.

[2021-09-06 00:08] mxfactorial opened #3550 "hypertable constraint blocks trigger from copying values before insert"
**Relevant system information:**
 - OS: macos big sur, 11.5.2
 - PostgreSQL version (output of `postgres --version`): 13.3
 - TimescaleDB version (output of `\dx` in `psql`): 2.4
 - Installation method: docker, timescale/timescaledb:latest-pg13

**Describe the bug**
hypertable constraint blocks trigger from copying values before insert

**To Reproduce**
Steps to reproduce the behavior:
1. save bel

[2021-09-06 08:37] ohadkorenok opened #3552 "Syncrhonize Timescale db to handle with custom intervals"
Hey, I am willing to collect weird time intervals using continous aggregations, such as 37 minutes and my intervals will start every day at 00:00.
So for example, I am willing to have an interval starts each day at 00:00, 00:37, 01:14... until 23:26, and then start all over from 00:00, 00:37... and so forth until 23:26 again.

Of course that I would like to make them at the same view and not creat

[2021-09-06 11:15] phiresky opened #3554 "Continuous aggregate refresh policy locks out all interaction with the main hypertable if a pg_dump is running"
**Relevant system information:**
 - OS: Debian bullseye
 - PostgreSQL version: 12.8
 - TimescaleDB version: 2.4.1
 - Installation method: apt install

**Describe the bug**
pg_dump was running and currently dumping a completely different table. This apparently holds a AccessSharedLock on all tables that it will dump in the future (see `--jobs` in [the docs](https://www.postgresql.org/docs/12/app-pg

[2021-09-06 14:33] jankatins commented on #3469
We now saw it again in a simplified test case:
Create PG, wait to be able to connect, create extensions, run `SELECT * FROM timescaledb_pre_restore()`. Logs:

[code]

[2021-09-06 15:03] erimatnor commented on #3554
You could try disabling background workers before dumping the data:

[code]

[2021-09-06 16:10] jankatins commented on #3469
And we have a stack trace:

[code]

[2021-09-07 08:22] mfundul commented on #3469
This looks kind of relevant https://www.postgresql.org/message-id/20161227.081023.1859085287098959176.t-ishii%40sraoss.co.jp

[2021-09-07 08:46] mkindahl commented on #3469
The steps triggering this bug are:

1. Background workers are starting, probably as a result of `timescaledb_post_restore` and start to initialize SSL.
2. While the background workers are starting, a sigterm is sent to the background worker, triggering the signal handler. This could be caused by the `DROP EXTENSION`.
3. The signal handler is running a `malloc` (because of the `ereport` in `launche

[2021-09-07 13:11] mkindahl commented on #3545
Seems related to this: https://github.com/timescale/timescaledb/pull/3510, which fixes https://github.com/timescale/timescaledb/issues/3495

[2021-09-07 15:12] enthusiastics opened #3559 "SQL Error [42883]: ERROR: function percentile_agg(double precision) does not exist for timescaleDB"
i’m following this https://docs.timescale.com/timescaledb/latest/tutorials/nfl-analytics/advanced-analysis/#average-and-median-yards-run-per-game-by-type-of-player  , for this sql, i got the error:

    WITH sum_yards AS (
     SELECT a.player_id, displayname, SUM(yards) AS yards, gameid
     FROM player_yards_by_game a
     LEFT JOIN player p ON a.player_id = p.player_id
     GROUP BY a.player_id

[2021-09-07 15:30] gayyappan commented on #3559
@enthusiastics You need the timescaledb toolkit extension. https://github.com/timescale/timescaledb-toolkit/releases

[2021-09-07 17:43] enthusiastics opened #3561 "[error] failed copying `timescaledb_toolkit.control` to `/usr/share/postgresql/13/extension/timescaledb_toolkit.control`: Operation not permitted (os error 1)"
I'm following the instruction to setup timescaledb and timescaledbtoolset on aws .. However, I got this error:

[code]

Sure, I could sudo copy myself... But i'm not sure if any other error would occur if I do this step...

sudo cargo does not work....

[2021-09-07 18:01] enthusiastics commented on #3561
I'm trying sudo su becoming root and rerun all the installations again

[2021-09-07 18:05] enthusiastics commented on #3561
if i used sudo user all the way... the i got error when trying to do initdb...

[2021-09-07 19:50] enthusiastics opened #3563 "use a docker that already installed timescale-toolkit"
I could run with

`docker container  run -d --name timescaledb -p 5432:5432 -e POSTGRES_PASSWORD=fdfwueuhqidagduasgsuasdgy -e PGDATA=/pgdata -v ~/pgdata:/pgdata timescale/timescaledb:latest-pg13
`

to launch a timescaledb instance with success, however, I figured that timescale-toolkit is not installed... so i am then looking for a version with timescale-toolkit installed. So i found this high ava

[2021-09-07 23:16] fabriziomello commented on #3545
@mkindahl there are some good reason to don't use the entire SPI api?? I mean use SPI_connect, SPI_exec, etc...

[2021-09-08 01:43] JH-D commented on #2252
@erimatnor  @pmwkaa
Hello, may I ask a question.
**What is the correct query method in 2.4.1?**

I make a distributed hypertable and insert billions rows, but the result is 0.
![图片](https://user-images.githubusercontent.com/7844108/132431714-97150e60-c9fe-4ac0-bfc8-36527a52cc95.png)
![图片](https://user-images.githubusercontent.com/7844108/132431849-bcad11e1-3410-481f-8c88-e888bd37fd5e.png)

## Rele

[2021-09-08 03:28] enthusiastics opened #3564 "trying to setup timescaledb-ha edition"
I'm trying to setup timescaledb high availability edition with the following command on a aws ubuntu instance... However, I got this error... could anyone help?

    (base) ubuntu@ip-321-12-32-154:~$ sudo docker run -ti --user 1000:1000 --volume=/tmp/vmount:/home/postgresql/pgdata --rm -e POSTGRES_PASSWORD=sdafasd -e PGDATA=/home/postgresql/pgdata timescale/timescaledb-ha:pg13-latest
    chmod: ch

[2021-09-08 07:59] #3469 closed

[2021-09-09 15:27] andnig commented on #2966
I implemented a at least for me working workaround. It is possible to change the "next_start"-attribute of a job from inside the job itself.
In the procedure which is called by the job (PSQL-Pseudocode) (most probably at the "end" of the procedure)
1. get the "last_run_started" entry of the job (in the procedure/function
[code]
2. Change the next_start - entry of the job:
[code]

In general this d

[2021-09-09 17:04] rwilliams-r7 commented on #3219
We are also having the same problem and it is causing large performance problems. Is there any help on this problem?

[2021-09-10 00:50] enthusiastics commented on #271
I am also very interested in this "as_of" join, what would be the best solution for now?

[2021-09-10 03:12] leeweit opened #3571 "We've a similar case, installed timescaledb.2.4.1,How resove 'Upgrade your license to 'timescale' to use this free community feature.' ?"
We've a similar case, installed timescaledb.2.4.1,How resove 'Upgrade your license to 'timescale' to use this free community feature.' ?

[2021-09-10 03:12] leeweit opened #3572 "We've a similar case, installed timescaledb.2.4.1,How resove 'Upgrade your license to 'timescale' to use this free community feature.' ?"
We've a similar case, installed timescaledb.2.4.1,How resove 'Upgrade your license to 'timescale' to use this free community feature.' ?

[2021-09-10 05:43] ZuoGuocai opened #3573 "the serial number of hyper chunk name is not continuous"
I use `timescaledb-2-postgresql-12-2.4.1`  in my zabbix project, but I found that the serial number of chunk name  is not continuous. I wonder why the serial number of chunk name is discontinuous

Query results for reference：

[code]

![20210910 png](https://user-images.githubusercontent.com/12830551/132806784-b232f997-7e48-4309-88d9-6b372ef2ee9f.jpg)

[2021-09-10 06:55] #3571 closed

[2021-09-10 06:55] leeweit commented on #3571
same case

[2021-09-10 07:05] leeweit commented on #3046
same problem,Have you solved the problem,thanks.

[2021-09-10 07:05] leeweit commented on #3046
same problem,Have you solved the problem,thanks.

[2021-09-10 13:54] #3513 closed

[2021-09-10 16:25] davidkohn88 commented on #271
The joins above are reasonable solutions for now and should be reasonably performant, depending on what you're doing, we're also thinking about adding some more functionality around this in the toolkit, but it's probably a bit of a ways off, but you can add comments in this issue for now, and maybe explain more what exactly you're trying to achieve and what you think we should prioritize: https://

[2021-09-11 05:01] chivalry123 commented on #1400
Same here, I also found chained continuous aggregate very important for my application.

[2021-09-11 11:10] svenklemm commented on #3573
This is expected and not a problem. The chunk id is retrieved from a postgres sequence. If you start a transaction that has an insert into a hypertable but never gets commited the chunk id will not be reused but skipped.

https://www.postgresql.org/docs/current/sql-createsequence.html

[code]

[2021-09-11 11:10] #3573 closed

[2021-09-11 21:16] mxfactorial commented on #3550
**workaround**

timescale requires a default timestamp on the column targeted by the triggered function

the triggered function then overwrites the default timestamp

[code]

[2021-09-11 21:16] #3550 closed

[2021-09-12 04:01] svenklemm commented on #2937
Fixed in PG14
https://github.com/postgres/postgres/commit/2d689babe3cb50dcb29f6ed595a61d56e518c0d8

[2021-09-12 04:01] #2937 closed

[2021-09-12 16:02] enthusiastics opened #3578 "timescaledb extract continuous aggregate as another hypertable"
From what I understood so far, the internal implementation of created continuous aggregate (CAGG) is by using another hypertable. But the result is demonstrated to us using a materialized view. I would like to ask is it possible to explicitly create such hypertable. So that I could Create another CAGG on top of the previous CAGG?

[2021-09-13 05:45] hifzurrahman-dell commented on #1587
do we have root cause/resolution for this?

[2021-09-13 05:49] svenklemm commented on #1587
I could not reproduce the mentioned issue locally. Are you experiencing the issue and can you provide a sql script to reproduce the issue in a fresh installation?

[2021-09-13 05:57] hifzurrahman-dell commented on #1587
I have around 1400 empty chunks and around 3000 loaded chunks on a table called "my_data", i am deleting empty chunk in batches of 100 using the "drop table if exists  " statement for each table.
per batch it takes around 50seconds to delete it (which is acceptable).
Post deleting the empty chunks, i am processing my other task on "my_data" table and in this case queries are very slow.

If I do pr

[2021-09-13 07:15] svenklemm commented on #1587
Hmm can you provide a script to recreate an environment that exhibits the problematic behaviour. Not sure what could be causing this.

[2021-09-13 13:50] erimatnor commented on #3548
The query plan doesn't show any slowness. Could you please provide the explain of a plan/execution that shows the slow behavior?

[2021-09-13 13:53] mfundul commented on #3435
@NunoFilipeSantos design is [here](https://github.com/timescale/timescaledb-private/issues/958)

[2021-09-13 15:01] erimatnor commented on #3552
You can automate continuous aggregate refreshing with a policy. To ask further questions related to the usage of continuous aggregates I would recommend our [Slack community](https://slack.timescale.com).

[2021-09-13 15:01] #3552 closed

[2021-09-13 15:04] erimatnor commented on #3561
If the current user doesn't have permission to install in the target location, you need to install as a user that has the proper permissions.

Closing since not a timescaledb extension issue.

[2021-09-13 15:04] #3561 closed

[2021-09-13 15:07] erimatnor commented on #3563
We currently do not bundle timescaledb_toolkit in the official Docker image but might do it in the future. Timescale Cloud has it pre-installed.

You can also open a request in the timescaledb-docker repo.

[2021-09-13 15:07] #3563 closed

[2021-09-13 15:09] erimatnor commented on #3564
This issue isn't related to the TimescaleDB extension. Please file a bug in, e.g., the [timescaledb-docker-ha](https://github.com/timescale/timescaledb-docker-ha) repo if you think there is an issue with that image.

[2021-09-13 15:09] #3564 closed

[2021-09-13 15:13] erimatnor commented on #3572
Please make sure you install a version of TimescaleDB that includes TSL licensed code and ensure the `timescaledb.license` settings variable is set to `timescale`.

https://docs.timescale.com/api/latest/informational-views/license/

[2021-09-13 15:13] #3572 closed

[2021-09-13 15:14] erimatnor commented on #3578
The internal implementation stores data in a non-final form. You could SELECT from the cagg and insert into a new hypertable with a query similar to:

[code]

[2021-09-13 15:14] #3578 closed

[2021-09-13 16:27] john9x commented on #3548
Unfortunately, no. All EXPLAINs that I did looks normal. Difference depends on queried time interval.
When I remove from query NULL workaround `CAST('2021-09-03 07:00:07' AS timestamp) IS NULL OR` performance increasing significantly. But still I see random queries with 5 - 10 - 20 seconds execution time, very much less, but nevertheless.

We have a few query types:

- get last value for source -

[2021-09-14 02:08] gayyappan commented on #3547
see https://github.com/timescale/tsbs/issues/177 for followup.

[2021-09-14 02:21] jonatas commented on #1400
I created a simple prototype that works like caggs on top of caggs but with two hypertables: https://gist.github.com/jonatas/3f8cc056742264898e3b437bcdc548ce

[2021-09-14 04:22] hardikm10 opened #3580 "Segfault during TRUNCATE restart Identity"
**Relevant system information:**
OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]: Docker / timescale/timescaledb:2.4.1-pg13

PostgreSQL version (output of postgres --version): 13.4
TimescaleDB version (output of \dx in psql): 2.4.1
Installation method: [e.g., "using Docker", "apt install", "source"] : "Using Docker"

**Describe the bug**
Issuing a truncate command causes segfault which is of random o

[2021-09-14 10:55] erimatnor commented on #1094
@waterdrop01 @majozv Realize we've been silent on this one, but it's due to focusing on other priorities. We have many requests from users so we need to balance priorities :)

FWIW, though, we just started discussing if there's something we can do to make this work, the effort involved, etc. We'll keep you posted.

[2021-09-14 11:06] ondrejspilkaABB commented on #1094
I have to agree two years is quite a time for such an impactful small functionality.
But I also understand you have full hands with 2.0 release...

[2021-09-14 12:39] phemmer opened #3581 "hypertable_compression_stats reports incorrect values"
**Relevant system information:**
 - OS: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
The `before_compression_*_bytes` values reported by `hypertable_compression_stats` are incorrectly undersized.

**To Reproduce

[2021-09-14 12:53] phemmer opened #3582 "Alter table alter type on distributed hypertable"
**Relevant system information:**
 - OS: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
Attempting to change the data type of a distributed hypertable results in `ERROR:  operation not supported on distributed hype

[2021-09-14 14:32] #3548 closed

[2021-09-14 17:51] mtomeh-clgx opened #3583 "Cannot install timescaledb on Ubuntu 18.04.5 LTS x86_64. Unable to locate package"
Relevant system information:

OS: Ubuntu 18.04.5 LTS x86_64
PostgreSQL version : Postgres 12.8
TimescaleDB version:  1.7.5
Installation method: sudo apt install timescaledb-2-loader-postgresql-12
Describe the bug :  Package not found. Error:

~> sudo apt install timescaledb-2-postgresql-12
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate

[2021-09-15 08:02] svenklemm commented on #3583
If you want to install 1.7 ubuntu packages in addition to packagecloud you also need to add the ppa.

https://legacy-docs.timescale.com/v1.7/getting-started/installation/ubuntu/installation-apt-ubuntu

1.7 is a very old version and you should consider upgrading to latest version.

[2021-09-15 08:02] #3583 closed

[2021-09-15 10:53] 01012 opened #3584 "Can't restore one chunk from backup"
**Relevant system information:**
 - OS: docker container (Alpine), host Debian GNU/Linux 10 (buster)
 - PostgreSQL version (output of `postgres --version`): 10.16
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: using Docker timescale/timescaledb-postgis:1.7.4-pg10

**Describe the bug**
I have an issue with one hypertable and specifically with one chunk. I'm trying

[2021-09-15 16:28] mtomeh-clgx commented on #3583
I was trying to upgrade from 1.7 to 2.4. so current version timescaleDB is 1.7 on one machine (that's why I referenced 1.7 in the issue).  However, even on separate a fresh postgres server without timescaledb installed, we're getting the same issue. One observation is when  running "sudo apt update" it shows error with "public key " for  timescaledb. see output below:

Get:7 https://packagecloud.i

[2021-09-15 17:08] phemmer opened #3585 "Multinode join not pushing condition to remote"
**Relevant system information:**
 - OS: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
When a query uses filter against a lookup table, the filter condition is not evaluated prior to dispatching the query to the r

[2021-09-16 03:14] phemmer commented on #3585
From trying to find a workaround for this, I think this may not be timescaledb issue, but general postgres limitation.
I'm assuming timescaledb essentially operates with the data nodes as FDWs, and is just using the postgres query planner to figure out what query to push to the remote nodes. So I don't know what influence timescaledb has over the query planner, and if this is something timescaledb

[2021-09-16 07:10] erimatnor commented on #3585
There are many potential push-downs that can be done that we do not support at this point, but it is something we aim to continuously work on. Ideally, you'd push down the whole JOIN, but that requires also the table you are joining with being distributed and partitioned in a way that allows for joins on individual nodes.

[2021-09-16 10:48] svenklemm commented on #3583
Did you import the gpg keys? We test package installation nightly and there were no errors recently.

https://github.com/timescale/timescaledb/blob/master/.github/workflows/apt-packages.yaml
https://github.com/timescale/timescaledb/actions/runs/1239664978

[2021-09-16 11:39] cheerfulstoic opened #3589 "`ts_insert_blocker` trigger goes missing after a `ts-dump` / `ts-restore`"
**Relevant system information:**
 - OS: `timescale/timescaledb:2.2.0-pg13` Docker image.  Output of `uname -a`: `Linux timescaledb-0 5.4.0-67-generic #75-Ubuntu SMP Fri Feb 19 18:03:38 UTC 2021 x86_64 Linux`
 - PostgreSQL version (output of `postgres --version`): `postgres (PostgreSQL) 13.2`
 - TimescaleDB version (output of `\dx` in `psql`): 2.2.0
 - Installation method: using Docker

**Describe

[2021-09-16 13:08] svenklemm commented on #3584
Hmm if you only dump the data of a chunk but not the metadata you should not have dropped the table like that. You should have instead called truncate on the chunk and then load data from backup.

[2021-09-16 13:08] #3584 closed

[2021-09-16 13:36] erimatnor commented on #3463
The drain case has certainly been discussed and is part of our design. However, the actual draining is probably logic that fits better in an orchestration framework. You need to decide on things like where should you "drain" all the chunks to (i.e., there's a chunk scheduling issue"). For instance, in a replication scenario, you don't want to copy a chunk to a node that already has a copy. Or, you

[2021-09-16 13:49] phemmer commented on #3463
I feel like the reasons you mention are justification of why this should be built into timescaledb, and not external. After all timescaledb already has to solve many of these problems when deciding where to put new chunks as they're created. It's aware of the available nodes & the replication factor.

[2021-09-16 15:12] mgagliardo91 commented on #3545
Also running into this issue, please update on an ETA of the fix if you have one. This breaks the https://github.com/timescale/timescaledb-extras/blob/master/backfill.sql job as it cannot call `COMMIT` from the scope of the background worker.

[2021-09-16 16:02] gayyappan commented on #3581
@phemmer whenever a compress_chunk operation is executed, we record the number of bytes before/after compress_chunk is executed. The compression_stats function reads from this static table and helps you determine the compression ratio.

The detailed_size computes the values dynamically and accounts for the actual storage at the current point in time - a) this includes any associated storage with t

[2021-09-16 16:59] phemmer commented on #3581
I'm not doing any inserts into compressed chunks.

[2021-09-16 18:08] fabriziomello commented on #3545
@mgagliardo91 I think by tomorrow we'll merge the PR that fix this issue: https://github.com/timescale/timescaledb/pull/3574

[2021-09-16 23:08] sprasoon opened #3591 "How to get timestamp associated with percentile(x) value using timescale db time_bucket?"
I need find percentile(50) value and its timestamp using timescale db time-bucket. Finding P50 is easy but I don't know how to get the time stamp.

    Select time_bucket('120 sec',timestamp_utc) as interval_size,
    first(timestamp_utc,int_val) as minTime,
    min(int_val) as minVal,

    last(timestamp_utc,int_val) as maxTime,
    max(int_val) as maxVal,

    -- timestamp of percentile value be

[2021-09-17 07:55] erimatnor commented on #3535
FWIW, I am not sure we can blindly forward `GRANT ALL ON SCHEMA public.test` since that will make the command fail if it doesn't exist on all nodes and then there's no way to get out of the failure. I think we need to be smart about how to forward commands, for instance, we could check if any distributed hypertables or objects belonging to a distributed hypertable exist in the schema. Only if such

[2021-09-17 08:23] 01012 commented on #3584
Thanks a lot!

[2021-09-17 10:17] bodypumper opened #3593 "Why only one data chunk is scanned when querying a table, but many data chunks are scanned when querying a view?"
Hi
**Relevant system information:**
 - OS: [Ubuntu 11.13-1.pgdg18.04+1]
 - PostgreSQL version [PostgreSQL 11.13]
 - TimescaleDB version  [1.7.5]
 - Installation method: [apt install]

Preconditions
1：I created a table and a hypertable before.
SELECT create_hypertable('sys_device_delivery_t', 'upload_time', chunk_time_interval => INTERVAL '7 days')

2：I created a unique index on table
create unique

[2021-09-17 12:08] erimatnor opened #3594 "Handle GRANT/REVOKE DATABASE on a distributed database"
`GRANT`/`REVOKE` should be forwarded to all data nodes (if data nodes exist).

[2021-09-17 12:09] erimatnor opened #3595 "`GRANT ALL ON public.test TO regress_dep_user2;` this works, but `GRANT ALL ON ALL TABLES IN SCHEMA testns TO regress_dep_user1;` does not work. We decided that we could just forward it right away to all datanodes and let it work/fail depending on the presence of the schema. Tables that are created distributed on the datanodes will get the privileges without us worrying about which tables to forward the command for."

[2021-09-17 14:12] fabriziomello commented on #3545
PR merged: https://github.com/timescale/timescaledb/pull/3574

[2021-09-17 14:12] #3545 closed

[2021-09-17 18:39] depinski commented on #2899
From 11 to 13 I also ran into this but the workaround isn't working.

[2021-09-18 01:43] phemmer opened #3598 "multinode query not preserving timestamp type on remote causing bad query"
**Relevant system information:**
 - OS: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
When using `now()::timestamp` in a where clause, the remote node is receiving a `timestamptz` value which is then cast to a `t

[2021-09-18 06:15] svenklemm commented on #2264
I think this is about tree traversal. You are not supposed to iterate over the planner tree but AsyncAppend does which means the code will break for out of tree custom nodes.

[2021-09-18 09:18] dlax commented on #2899
https://salsa.debian.org/postgresql/postgresql-common/-/merge_requests/14 is
an attempt to fix pg_upgradecluster for this issue.

[2021-09-20 05:12] Haybu commented on #1435
experiencing the same `SQL Error [22023]: ERROR: no top level time_bucket_gapfill in group by clause` error  when using `time_bucket_gapfill` function. I wonder if any update. thanks.

[2021-09-20 19:58] drfraser opened #3601 "Chunks of a table go 'missing' under certain circumstances"
**Relevant system information:**
 - OS: Ubuntu 20
 - PostgreSQL version 13.4
 - TimescaleDB version 2.4.1
 - Installation method: apt install

**Describe the bug**
A select statement to list the unique dates in a table revealed only the last chunk was being searched, not the first chunk

**To Reproduce**
1. Create a hypertable with a date (not datetime column) (and other columns) and an interval o

[2021-09-21 10:01] EwattchGuillaumeCaruso opened #3604 "Questions about partitionning for IOT usage"
Hi everyone,

We have an existing IOT database that I am trying to migrate to timescaleDB, and I am wondering about some table design, mainly about partitionning.

We receive a lot of data every minute, each identified with a UUID. Some of this data represents indices, and we need to save indices delta. So our schema for 'indices delta' looks something like that :

[code]

periode_type can be "yea

[2021-09-21 11:41] nikkhils commented on #3582
Let's see if the documenrtation needs a sample ALTER TYPE command as well.

[2021-09-21 12:57] erimatnor opened #3605 "Allow registering callbacks in connection cache"
Add a way to register a callback for creating and closing connections in the connection cache. Such callbacks are useful to be able to register init and cleanup function for connections. For instance, one might want to generate a certificate for a user that connects to a data node.

[2021-09-21 14:56] fabriziomello commented on #3145
@NunoFilipeSantos it's not working yet... checked now and still failing. Assigning myself and will have a look.

1. Logs:

[code]

2. Backtrace

[code]

[2021-09-21 17:15] drfraser commented on #3601
need-more-info: what exactly?

Table structure and related SQL:
[code]
The data being inserted is a CSV file of 1 row per dateof/leadtime/geocode, and the date range is from 1993-01-01 to 2020-12-01 with the year of 2017 missing entirely.  so two chunks of 50 years each get created.

If the insert script does not immediately compress the hunks after inserting the data, then things are fine.  But w

[2021-09-21 17:50] svenklemm commented on #3601
I tried to follow your instructions and i wasnt able to reproduce it.

[code]

Ideally you would provide a minimal script that creates an environment that exhibits the erraneous behaviour.

[2021-09-21 18:13] drfraser commented on #3601
There are 444000+ rows in the table, so I won't make an example that uses all that data.... what is annoying is the inconsistency - I can't make it happen all the time. But I will work on this, though I need to get this MVP working ASAP...

I was using "select count(distinct dateof) from table" - I will add the output of EXPLAIN on my next update

[2021-09-21 19:42] mgagliardo91 commented on #2857
Would also love to see UPSERTS with unique constraints on compressed tables. With how much data we have per compressed chunk, it takes a really long time to use the backfill script - a single compressed chunk can take up to 2 hours to decompress even if we only need to upsert 2K records.

[2021-09-22 05:54] Marmelatze opened #3606 "Debian 11: 2.4.2 undefined symbol: EnsurePortalSnapshotExists"
**Relevant system information:**
 - OS: Debian 11
 - PostgreSQL version (output of `postgres --version`): 13.3-1
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.2
 - Installation method: apt install

**Describe the bug**
`CREATE EXTENSION IF NOT EXISTS timescaledb CASCADE;` results in the error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. apt install postgresql-13
1. apt

[2021-09-22 09:31] akuzm commented on #271
With LATERAL join on timestamp inequality, I guess the right side is going to do index lookups, but it's still O(left_rows * log(right_rows)). A merge-join-like algorithm will be O(left_rows + right_rows).

An older attempt of implementing this in vanilla postgres: https://www.postgresql.org/message-id/flat/bc494762-26bd-b100-e1f9-a97901ddad57%40postgrespro.ru

For the reference, ClickHouse uses s

[2021-09-22 09:55] NunoFilipeSantos commented on #3145
Thank you @fabriziomello . :)

[2021-09-22 10:14] niksajakovljevic opened #3608 "Make `timescaledb.ssl_dir` GUC visible to all users"
`timescaledb.ssl_dir` GUC is currently only visible for superusers. This makes it impossible for non superusers to read GUC value which might be useful in some cases (eg. troubleshooting or building multinode automation)
Since this GUC does not contain any sensitive information it makes sense to make it public.

[2021-09-22 10:35] devrimgunduz opened #3609 "PostgreSQL 14 support"
Hi,

When will you release PG14 compatible version? 14.0 is around the corner (due next week).

Regards, Devrim

[2021-09-22 10:38] erimatnor commented on #3609
We hope to have PG14 support in the next minor release 2.5.0. So, shortly after PG14 is released.

[2021-09-22 10:38] #3609 closed

[2021-09-22 11:29] svenklemm commented on #3606
Thank you for the bugreport. This should be fixed now.

[2021-09-22 11:29] #3606 closed

[2021-09-22 15:43] Haybu opened #3611 "User defined functions do not instantly send messages via postgres NOTIFY feature"
I created a user-defined function to test a use case that sends a periodic notification (messages using Postgres NOTIFY feature). I have an app that connects to the database and listens to a channel (named test). I registered a user-defined action (procedure) to emit a message with a scheduler every 5 sec, like this

[code]
I don’t get the messages delivered (flushed) right away on my app side. Ho

[2021-09-22 17:18] pmalhaire commented on #796
Hello I am facing the same issue,
But only from the drop chunk fonction.

My hypertable has 400 chunks from few bytes to 15MB and my machine has 1GB memory.

I have arround 65 hypertables of the same type.

DELETE works fine but drop chunk fails.

It looks like this is a sizing issue in my case.

[2021-09-22 18:04] drfraser commented on #3601
Hi, it has happened again and I investigated things a bit.  I have attached the source file of data as it's not too big. Also attached is a sort of writeup of various SQL statements I ran - the first chunk is definitely not getting processed. It is mentioned in the query plan, but the row count is always 0

FYI: the geocode column is now CHAR(4) but everything else as above is the same

I won't de

[2021-09-22 21:23] fabriziomello commented on #3580
I had a quick look and the segfault happen when we have a trigger for truncate and then execute the truncate twice in the same session.

I've created a minimal reproducible test case as following:

[code]

[2021-09-23 03:26] hardikm10 opened #3614 "DROP OWNED not propagating to chunks"
**Relevant system information:**
 - PostgreSQL version (output of `postgres --version`): 11.12
 - TimescaleDB version (output of `\dx` in `psql`): 2.31
 - Installation method: [e.g., "using Docker", "apt install", "source"] - using Docker (timescale/timescaledb:2.3.1-pg11)

**Describe the bug**
'reassign owned by' doesn't seem to be propagating to chunks as it leaves some unnecessary access privil

[2021-09-23 09:04] akuzm commented on #1853
Do we have a reproducer for this? In the simplest case of a distributed hypertable with two data nodes, the LIMIT seems to be correctly pushed down to the data nodes:
[code]

[2021-09-23 11:13] akuzm commented on #1723
Seems to be working correctly now, at least in the simplest case:
[code]

[2021-09-23 16:52] niksajakovljevic opened #3617 "Don’t block operations on local objects"
In a multinode setup each data node is represented as a foreign server on the access node.
Currently it is not possible to change the owner of the foreign server:
`ERROR:  alter owner not supported on a TimescaleDB data node`

Being able to manage ownership of foreign servers is useful for various things. For example by changing a
foreign server owner one can block/unblock data node removal.

This

[2021-09-23 21:12] demianph commented on #2691
RHEL 8.4 appstream modules includes postrgresql versions through 13.3, Any chance we can get timescale to work with it?
Running into some kind of issue where the PGDG repo just times out (possible corporate security).

[2021-09-24 01:02] phemmer commented on #3447
As a dirty workaround, you can do this in 2 steps:
[code]

Not suitable for all scenarios, but it works for my use case.

[2021-09-24 05:16] hardikm10 opened #3619 "cannot execute SQL without an outer snapshot or portal on PG 11.13"
**Relevant system information:**
 - PostgreSQL version (output of `postgres --version`): [e.g. 13.2, 12.0] : 11.13
 - TimescaleDB version (output of `\dx` in `psql`): [e.g. 1.0.0] : 2.3.1
 - Installation method: [e.g., "using Docker", "apt install", "source"] : MST

**Describe the bug**
Refreshing of continuous aggregates fails with:

A clear and concise description of what the bug is.

[code]

Wh

[2021-09-24 11:21] mkindahl commented on #3614
This actually seems to be associated with either `DROP OWNED BY` or `REVOKE PRIVILEGES ON SCHEMA`. If the `DROP OWNED BY` is removed from the sequence below, we get an error when dropping the user in the last row.

[code]

[2021-09-24 11:25] mkindahl commented on #3614
From [PostgreSQL Documentation on DROP OWNED](https://www.postgresql.org/docs/13/sql-drop-owned.html)

This means that the drop owned will try to revoke the privileges on the hypertable as well, but this will not propagate to the chunks.

[2021-09-24 12:49] phemmer commented on #3498
Received a similar error:
[code]

When attempting to run query:
[code]

In my case the table `_haproxy_agg_instance_host` is a distributed hypertable, and the error is coming from one of the data nodes.

Attaching gdb to `errmsg` didn't trigger. I attached to `errstart` instead and got:
[code]

[code]

[2021-09-24 19:30] felipenogueirajack opened #3620 "Querying different fields of a JSONB column in a compressed database results in loss of connection / database crashing."
**Relevant system information:**

- CentOS Linux 7 (kernel version Linux 3.10.0-1160.36.2.el7.x86_64).
- The machine hardware has AMD EPYC 7452 32-Core Processor (4 cores), 16GB of main memory, 1TB solid-state hard-drive and a swap file of 4GB.
- PostgreSQL version 12.7 (postgres --version)
- TimescaleDB version 2.3.0 (\dx in psql)
- Installation method: using docker (image latest-pg12).

**Descri

[2021-09-26 04:29] MA-MacDonald opened #3621 "Cannot bucket by seconds, minutes, hours with time_bucket_ng"
**Relevant system information:**
 - OS: Windows 10 x64
 - PostgreSQL version: 13.3
 - TimescaleDB version: 2.4.2

**Describe the bug**
Cannot bucket by  seconds, minutes, hours with `timescaledb_experimental.time_bucket_ng`

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The docs state `time_bucket_ng` can be bucketed by seconds, minutes, hours, days and weeks

**A

[2021-09-26 04:35] #3621 closed

[2021-09-27 03:08] hardikm10 commented on #3580
Thanks, @fabriziomello!

[2021-09-27 09:45] DavidPavlicek commented on #3182
Hi, we have similar issue... truncate within function call is ignored when timescale is active. Without timescale, same code runs OK - table is truncated.

[2021-09-27 12:14] akuzm commented on #271
The different grammar is probably required because the semantics is different from the normal join on inequality condition -- we only have to return the closest righthand row that matches. In an extension, we can't introduce new grammar (or can we?), so we can consider using a special dummy function for the join, e.g. `JOIN ON left.series = right.series AND timescale.asof(left.timestamp <= right.t

[2021-09-27 13:51] DavidPavlicek opened #3622 "Truncate table within function call take no effect (Timescale breaks truncate!)"
**Relevant system information:**
 - OS: CentOS 8
 - PostgreSQL version 13.4
 - TimescaleDB version 2.4.1
 - Installation method: pgdg rpm package

**Describe the bug**
When Timescale is installed (create extension timescaledb), then truncate commands within functions take no effects on standard tables. Truncate is executed (without errors or warnings), but data in tables stay in place. This is a s

[2021-09-27 14:56] akuzm commented on #3598
Looks like the proximate cause is that the `timestamptz -> timestamp` conversion is not immutable (uses current global timezone from settings), that's why the filter expression is not folded to a constant on data nodes. If you specify the timezone explicitly with `timezone`, the chunks are filtered:

[code]

On the other hand, `now()` is not immutable by itself, only stable, but maybe we have spec

[2021-09-28 01:26] phemmer commented on #3598
Hrm, that's quite the edge case, but it does make sense. However wouldn't that be just why it's not sent across to the remote node as a simplified `::timestamp`? Since it's what postgres defines as "stable", shouldn't it just be evaluated once, and thus can be used to determine which chunks need scanning, and doesn't need to be evaluated on every single record within the chunk?

[2021-09-28 03:10] phemmer commented on #3598
Another thought: This smells like dangerous behavior with regards to user expectations.

When I use `now()` (or anything which provides a `timestamp`/`timestamptz`), I expect that to reference a specific moment in time. If when the query reaches the data node, that time references a different moment, this would cause very unexpected results.

Given that we see `now()` is being converted to a const

[2021-09-28 10:47] NunoFilipeSantos commented on #2169
@erimatnor wasn't this fixed with the PR that got merged above?

[2021-09-28 11:17] NunoFilipeSantos commented on #2911
This looks like a duplicate of #2897. Closing.

[2021-09-28 11:17] #2911 closed

[2021-09-28 12:16] erimatnor commented on #2169
@NunoFilipeSantos No, I don't think it was fixed.

[2021-09-28 12:19] erimatnor opened #3623 "Handle DROP OWNED BY and REASSIGN OWNED BY in multinode"
Forward DROP OWNED BY and REASSIGN OWNED BY to data nodes in a distributed database and add appropriate tests (probably need to be TAP tests given that this deals with role objects). A description on procedure to drop a role is given here: https://www.postgresql.org/docs/current/role-removal.html

Related to https://github.com/timescale/timescaledb/issues/3614

[2021-09-28 14:17] l85m commented on #3614
Is there a work around for this until the fix is deployed? Do we need to manually revoke all privileges on the chunks before dropping the roll?

[2021-09-28 18:57] fabriziomello commented on #3622
@DavidPavlicek I tested against 2.4.1 tag and can't reproduce the problem:

[code]

Note that everything worked as expected:
- all rows removed
- relation rewritten on disk (different relfilenode)

[2021-09-29 06:23] nikkhils commented on #3611
Hi @Haybu

The jobs are being run in background worker processes. So the notify payload gets added to the notification queue appropriately. However some additional tweaking might be required in the background worker job running handling to make this work.

[2021-09-29 07:20] mkindahl commented on #3614
The workaround is to perform a `REVOKE ALL PRIVILEGES ON ALL TABLES IN SCHEMA _timescaledb_internal FROM <user>` before dropping the user.

[2021-09-29 08:04] DavidPavlicek commented on #3622
@fabriziomello OK, I will try to investigate further... But it is pretty obvious in our system... when timescale is active, then function ends on primary key duplicate (truncate before insert takes no effect), when timescale is disabled, same function runs withou issue...

[2021-09-29 09:48] mkindahl commented on #3595
Removing multinode label since this is not specific to multinode, it applies to normal hypertables as well.

[2021-09-29 09:50] mkindahl commented on #3614
The bug is caused by two separate problems interacting:

1. `GRANT ON ALL TABLES IN SCHEMA` does not propagate the grants to the chunks, which means that only the hypertable ACL is updated but not the chunk ACL. This is issue #3595.
2. `DROP OWNED` uses `pg_shdepend` to find all owned objects, but newly created chunks get the ACL from the hypertable, but `pg_shdepend` is not updated when adding ne

[2021-09-29 12:11] nikkhils commented on #3611
Hi @Haybu, this seems to be standard PG behavior. I tried the following with 2 PSQL sessions and I see similar async behavior between both:

Session1
[code]

Session2
[code]

Now, in session1 I execute a lot of NOTIFY commands:

Session1
[code]

I do NOT see them getting delivered simultaneously on the other side. Now if I run a NOTIFY on the other session, then it gets all these notificaitions:

[2021-09-29 13:25] nikkhils commented on #3623
Once https://github.com/timescale/timescaledb/pull/3625 gets in then we can test on a multinode setup and see if the problem is resolved here as well.

[2021-09-29 13:37] DavidPavlicek commented on #3622
I was able to reproduce this bug on fresh system with this code... It is bit messy, but it mimics what our real code do:

[code]

There is also error log from my test system:
[code]

[2021-09-29 14:25] NunoFilipeSantos commented on #3619
@hardikm10 can you please verify if the customer can upgrade to a supported PG version (12, 13)?

Right now, back porting a fix to PG11 would mean a lot of changes to our CI and it would take a lot of time to even get the fix to the customer.

The best strategy would be to help the customer to upgrade to PG12 (at least) so we can release the fix with a supported PG version.

[2021-09-29 15:08] tylerfontaine commented on #3619
@NunoFilipeSantos and I spoke about this and I agree - unless there is some very compelling reason for them to not move to PG12 and upgrade timescaledb to 2.4.2, I don't think doing a backport to PG11 which we've dropped support for on more modern versions makes a lot of sense here.

So Hardik, if you can explore that with them, it'd be great.

[2021-09-29 18:42] fabriziomello commented on #3622
Hey @DavidPavlicek, thanks a lot for your test case. Seems it's related to #3580 that I'm already working on a fix.

[2021-09-29 21:39] fabriziomello commented on #3182
@pafiti @DavidPavlicek I'm working on another issue (#3580) that seems will also fix it.

[2021-09-30 06:06] nikkhils commented on #3591
Hi @sprasoon can you please discuss this on Timescale community slack channels? You can join here: https://timescaledb.slack.com/join/shared_invite/zt-w8oilh9u-BloBaSaPlAoklVFyLRySCQ#/shared-invite/email

[2021-09-30 07:17] nikkhils commented on #3593
@bodypumper will it be possible for you to share the schema of the involved table[s] and the views and queries in text form here?

[2021-09-30 07:21] afiskon commented on #3591
@sprasoon this seems to be a basic PostgreSQL GROUP BY query without anything specific to TimescaleDB, unless I'm missing something:

[code]

Please see PostgreSQL documentation for more details, e.g. https://www.postgresql.org/docs/current/functions-aggregate.html

[2021-09-30 07:21] #3591 closed

[2021-09-30 07:28] bodypumper commented on #3593
@nikkhils Hi,

**the schema of table：sys_device_delivery_t**
CREATE TABLE sys_device_delivery_t (
	entity_id varchar(40) NOT NULL,
	"key" varchar(255) NOT NULL,
	ts int8 NOT NULL,
	upload_time timestamptz NOT NULL,
	bool_v bool NULL,
	str_v varchar(10000000) NULL,
	long_v int8 NULL,
	dbl_v numeric(15,2) NULL,
	data_type varchar(10) NULL,
	device_sn varchar(40) NULL,
	cumulative bool NULL,
	set_fla

[2021-09-30 09:23] nikkhils commented on #3543
@phemmer thanks for the accurate analysis! We will try to get this in for the next release

[2021-09-30 09:33] hardikm10 commented on #3619
They were willing to upgrade to PG12, and in fact. they already upgraded.

[2021-09-30 09:44] mkindahl commented on #3580
Adding a printout of information while running the the test reveals this:

[code]

This looks like the smoking gun:
1. When executing the `TRUNCATE TABLE` statement, PostgreSQL create a `TruncateStmt` with `elements` set to the list of tables to truncate. This is allocated in the `PortalContext`.
2. This is then passed to the TimescaleDB hook, which then eventually goes into the `process_truncate`

[2021-09-30 09:52] NunoFilipeSantos commented on #3619
Has the customer upgraded to either 2.4.1 or 2.4.2?

[2021-09-30 13:09] mkindahl commented on #3620
@felipenogueirajack Thank you for the bug report! This could be related to the processing of `DecompressChunk`. Is this something that only happens with compressed tables, or can this be reproduced also on uncompressed tables? In other words, if you run the query before compressing the chunks, does it still crash?

[2021-09-30 18:17] felipenogueirajack commented on #3620
@mkindahl Thank for your comment. No, I have only seen the problem when I run the query in a compressed hypertable. For instance, I decompressed all chunks in the hypertable and the query above executed normally in ~47 seconds.

[2021-09-30 20:49] akschu opened #3628 "pg_restore: error: could not execute query: ERROR: permission denied for table hypertable"
- PostgreSQL 11.13 upgrading to 13.4
 - TimescaleDB version 2.3.1 on both 11.13 and 13.4
 - Installation method: compiled from source.

When upgrading from postgres 11.13 to 13.4 using the following commands:
[code]

[code]

In that Log I get:

[code]

I've been playing around with the permissions and can't quite seem to figure out why it won't upgrade.  I did upgrade from a much older version of

[2021-10-01 07:45] binakot opened #3629 "DISTINCT ON causes error when using with array of single value and order by second parameter"
Currently I'm using PostgreSQL 12.8 with TimescaleDB 2.2.0.

Yesterday I test the migration to the latest TimescaleDB version and got the error with few queries.

I create the repo to reproduce the problem: https://github.com/binakot/timescaledb-error-distinct-on-single-object-array-and-second-order-by.

---

## Summary

[code]

When we use `DISTINCT ON` with `IN array` of single object and second

[2021-10-01 07:48] nikkhils commented on #1926
@mjb512 can you please confirm if this is still a problem for you?

[2021-10-01 07:49] nikkhils commented on #2283
Sven has provided the response already. Closing this one.

[2021-10-01 07:49] #2283 closed

[2021-10-01 07:56] nikkhils commented on #2247
@shijunfeng multinode initial version has been released. Please try it out.

[2021-10-01 07:59] nikkhils commented on #2537
This has been handled via the `cloudutils` extension now. Closing.

[2021-10-01 07:59] #2537 closed

[2021-10-01 08:28] hardikm10 commented on #3619
@NunoFilipeSantos Yeah, to 2.4.2.

[2021-10-01 09:42] NunoFilipeSantos commented on #3619
That's great!
Can we close this one then?
Thank you. :)

[2021-10-01 10:00] #3619 closed

[2021-10-01 10:03] #1926 closed

[2021-10-01 11:11] NunoFilipeSantos commented on #2652
Closing this issue.
@Barolina if you can add more information, feel free to reopen it.

[2021-10-01 11:11] #2652 closed

[2021-10-01 11:16] NunoFilipeSantos commented on #2327
We believe #2604 fixed this issue, closing it.
Feel free to reopen it if that is not the case.

[2021-10-01 11:16] #2327 closed

[2021-10-01 11:18] NunoFilipeSantos commented on #2611
@hartmutbehrens if you can add more information, feel free to reopen this issue.

[2021-10-01 11:18] #2611 closed

[2021-10-01 11:19] NunoFilipeSantos commented on #3439
@AlekseiSaff if you can provide more information feel free to reopen the issue.

[2021-10-01 11:19] #3439 closed

[2021-10-01 11:21] NunoFilipeSantos commented on #1546
@leftys if you can provide more information feel free to reopen this issue.

[2021-10-01 11:21] #1546 closed

[2021-10-01 11:22] NunoFilipeSantos commented on #3538
@nixxholas can you provide more information?

[2021-10-01 11:26] NunoFilipeSantos commented on #1574
@ouafnico please try our latest version (2.4.2) if the problem still persists feel free to reopen this issue.

[2021-10-01 11:26] #1574 closed

[2021-10-01 11:28] NunoFilipeSantos commented on #2744
@phemmer let us know if @svenklemm's suggestion worked. If it didn't feel free to reopen the issue.

[2021-10-01 11:28] #2744 closed

[2021-10-01 11:29] NunoFilipeSantos commented on #2717
Closing since we are unable to reproduce it.
Feel free to reopen it.

[2021-10-01 11:29] #2717 closed

[2021-10-01 11:35] NunoFilipeSantos commented on #2656
@ricardo-s-ferreira can you check against our 2.4.2 version to see if this happens there?

[2021-10-01 11:36] NunoFilipeSantos commented on #2712
@jon-v can you please test this agains the latest version of Timescale (2.4.2)?

[2021-10-01 11:38] NunoFilipeSantos commented on #1842
@bijwaard can you please check against the latest version of Timescale 2.4.2?

[2021-10-01 11:39] NunoFilipeSantos commented on #2353
@ruslandoga can you try to test it agains our latest TimescaleDB version (2.4.2)?

[2021-10-01 11:57] NunoFilipeSantos commented on #2670
@moodgorning can you try our latest TimescaleDB 2.4.2 and get back to us?

[2021-10-01 11:58] #2174 closed

[2021-10-01 12:03] NunoFilipeSantos commented on #3114
Can you please upgrade PG to a supported version (12 or 13) and get back to us?

[2021-10-01 12:05] NunoFilipeSantos commented on #2308
@nrlulz can you please try against our latest TimescaleDB version (2.4.2) and get back to us?

[2021-10-01 12:07] NunoFilipeSantos commented on #1489
@WarriorOfWire can you please try against our latest TimescaleDB version (2.4.2) and get back to us?

[2021-10-01 12:13] #1226 closed

[2021-10-01 12:14] NunoFilipeSantos commented on #1226
Feel free to reopen it if you can still reproduce it on TimescaleDB 2.4.2.

[2021-10-01 12:15] erimatnor commented on #1394
@jonfreedman Tried to reproduce the initial example on the most recent version of TimescaleDB (2.4.2) and it fails on creating the second test table with the error: "ERROR:  foreign keys to hypertables are not supported".

So, it seems this is the expected behavior.

Closing the issue. Please reopen if this turns out to still be a problem.

[2021-10-01 12:15] #1394 closed

[2021-10-01 12:15] NunoFilipeSantos commented on #2509
@simfleischman can you please try against our latest TimescaleDB version (2.4.2) and get back to us?

[2021-10-01 12:24] phemmer commented on #2537
Can you provide details on this extension? Does it have a web page or repo to find out more about it?

[2021-10-01 12:27] phemmer commented on #3629
I wonder if this is at all related to #3498. The query parser for `select distinct` seems to be fairly broken.

[2021-10-01 12:41] bijwaard commented on #1842
Hi Nuno,
I'm[ trying to install timescaledb again](https://docs.timescale.com/timescaledb/latest/how-to-guides/install-timescaledb/self-hosted/debian/installation-apt-debian/#installation-apt-debian), have since moved to debian bullseye on arm64, now the package doesn't want to install for some reason.
[code]
Kind regards,
Dennis

[2021-10-01 13:08] iosifnicolae2 commented on #1394
Where we can track where this functionality will be implemented?

Thank you!

[2021-10-01 13:11] #2212 closed

[2021-10-01 13:50] NunoFilipeSantos commented on #2486
@himkool can you please try against our latest TimescaleDB version (2.4.2) and get back to us?

[2021-10-01 13:50] ruslandoga commented on #2353
@NunoFilipeSantos sorry, I stopped using timescale.

[2021-10-01 13:50] #2353 closed

[2021-10-01 13:54] NunoFilipeSantos commented on #3547
Closing. Discussion on timescale/tsbs#177 .

[2021-10-01 13:54] #3547 closed

[2021-10-01 13:57] NunoFilipeSantos commented on #2659
@JLockerman can you please try against our latest TimescaleDB version (2.4.2) and get back to us?

[2021-10-01 13:57] NunoFilipeSantos commented on #3423
@akamensky can you please try against our latest TimescaleDB version (2.4.2) and get back to us?

[2021-10-01 13:59] NunoFilipeSantos commented on #2654
@JLockerman can you please try against our latest TimescaleDB version (2.4.2) and get back to us?

[2021-10-01 14:00] NunoFilipeSantos commented on #1779
@msqr can you please try against our latest TimescaleDB version (2.4.2) with PG12 or 13 and get back to us?

[2021-10-01 14:01] NunoFilipeSantos commented on #2740
@phemmer can you please try against our latest TimescaleDB version (2.4.2) and get back to us?

[2021-10-01 14:02] jherman3 opened #3634 "Timescale does not delete empty chunks after a large DELETE"
After a large `DELETE` operation, the hypertable still has all of its chunks despite most of them having 0 rows. This causes queries to be slow as they have to scan every chunk.

I had a table with approximately 1.5 billion rows across 350 chunks, and ran a `DELETE` which deleted nearly all of them. The filter to delete was not the primary time field so I could not use `drop_chunks`. After deletin

[2021-10-01 14:42] #3614 closed

[2021-10-01 15:31] NunoFilipeSantos commented on #2367
@meson10 has @svenklemm 's solution fixed your problem?

[2021-10-01 15:33] NunoFilipeSantos commented on #2304
@kgonia can you please try agains our latest TimescaleDB release (2.4.2) and get back to us?

[2021-10-01 15:35] NunoFilipeSantos commented on #2344
@menardorama can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 15:37] NunoFilipeSantos commented on #2109
@jflambert can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 15:38] NunoFilipeSantos commented on #2086
Closing, feel free to reopen it again if you can reproduce it with our latest TimescaleDB 2.4.2 (PG 12 or PG13).

[2021-10-01 15:38] #2086 closed

[2021-10-01 15:39] NunoFilipeSantos commented on #1586
@markns can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 15:43] NunoFilipeSantos commented on #2385
@bcherkezovtf can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 15:53] simfleischman commented on #2509
We have no timeline for updating but when we do I will report back. Thanks

[2021-10-01 15:54] NunoFilipeSantos commented on #2921
@Ashutosh202 can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 15:54] nrlulz commented on #2308
@NunoFilipeSantos I have not seen this happen in any of our databases since upgrading to 2.0. They are all running 2.4.2 now.

[2021-10-01 15:55] NunoFilipeSantos commented on #2906
@domienvandamme1 can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 15:57] NunoFilipeSantos commented on #2773
@brettwooldridge and @krvajal can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 16:01] NunoFilipeSantos commented on #1879
@Nk185 can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 16:06] NunoFilipeSantos commented on #3189
@victor-sudakov can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 16:13] NunoFilipeSantos commented on #2308
That is wonderful news! 🥇
Closing this issue, if you encounter it again on 2.X, feel free to reopen it.

[2021-10-01 16:13] #2308 closed

[2021-10-01 16:25] NunoFilipeSantos commented on #1595
We already support PG 12 and 13. :)

[2021-10-01 16:25] #1595 closed

[2021-10-01 16:26] NunoFilipeSantos commented on #1599
@comicfans can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 16:28] #1600 closed

[2021-10-01 16:28] NunoFilipeSantos commented on #1600
We have Windows working for the latest 2.4.2 version, if you want to try it out.

[2021-10-01 16:30] NunoFilipeSantos commented on #1610
@blenddata what TimescaleDB version are you using?

[2021-10-01 16:35] NunoFilipeSantos commented on #1721
@rahulbsw can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 16:44] NunoFilipeSantos commented on #2247
@shijunfeng please let us know if the new release works for you.

[2021-10-01 16:45] NunoFilipeSantos commented on #2215
@tnesztler can you please try with our latest TimescaleDB 2.4.2 (PG 12 or PG13) and get back to us?

[2021-10-01 16:49] NunoFilipeSantos commented on #2599
@JLockerman do you know if this was fixed int he meantime?

[2021-10-01 16:50] NunoFilipeSantos commented on #2633
@WireBaron which TimescaleDB version are you using?

[2021-10-01 16:50] #2642 closed

[2021-10-01 16:53] NunoFilipeSantos commented on #1613
@yebidaxiong @komodovaran and @Bialomazur closing the issue, feel free to reopen it if you encounter it on TimescaleDB 2.4.2 with PG12 or 13.

[2021-10-01 17:32] smpshehan commented on #1394
I don't understand why do you close this issue? I understand that it is not a bug. But we need that feature. Having a foreign key to another table is a fundamental feature of a relational database. Without that, how can we create the relations?

[2021-10-01 17:34] smpshehan commented on #1394
What is your solution to create a reference to a hypertable from another table?

[2021-10-02 02:11] WarriorOfWire commented on #1489
@NunoFilipeSantos In fact I have since moved to another company! My new team reinvents less ancillary stuff so we're using OpenTelemetry with Promscale (I've chatted with Ramon about the difficulties imposed by conspiring limitations in both OpenTelemetry and Promscale but they don't relate to this issue). We don't use continuous aggregates on this team; so I'm unable to query my old data, and my

[2021-10-02 09:59] victor-sudakov commented on #3189
Will be able to do that after the weekend.

[2021-10-02 10:30] mohammad-matini commented on #3114
@NunoFilipeSantos tl;dr Upgrading from 1.7.0 to 2.4.2 on PG12, the bug still appeared as long as the compressed chunks had foreign constrains created with older versions of Timescale. This is an issue of a missing step in the SQL migration scripts, and its required C functions not being exposed on Timescale's end. So the version of PostgreSQL has no effect on the reproduction of the issue.

---

T

[2021-10-03 06:20] mfreed commented on #3634
Hi @jherman3 For most applications that "age out" data, we recommend use drop_chunks() or data retention policies, which do delete the chunks (and are _much_ faster than calling DELETE as well):

- https://docs.timescale.com/api/latest/hypertable/drop_chunks/
- https://docs.timescale.com/api/latest/data-retention/add_retention_policy/

I'm curious if you needed something specific that led you to u

[2021-10-03 13:34] quantgit opened #3639 "Ubuntu package remains upgradable after upgrade"
**Relevant system information:**
 - OS: Ubuntu 20.04.03
 - PostgreSQL version (output of `postgres --version`): 13.4
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.2
 - Installation method: apt install

**Describe the bug**
After successfully upgrading the timescaledb package via `apt upgrade timescaledb-2-postgresql-13`, the package remains upgradable, i.e., `apt list --upgradable` shows

[2021-10-03 16:28] pratapagiri opened #3640 "[Question] Realtime aggregation of Timeseries"
We have multiple devices and timeseries for each device. These devices fall under different geographic regions. For example- each region may have 10000 devices. Is it possible to aggregate (sum) timeseries region-wise for a given Time start and Time End (real-time)?

[2021-10-03 17:06] Alexander3 commented on #698
Had the same issue, please include some instructions in docs here: https://docs.timescale.com/timescaledb/latest/how-to-guides/backup-and-restore/pg-dump-and-restore/#backup-entiredb

[2021-10-04 00:23] jirutka commented on #3609
Why did you close this issue if it’s not resolved yet?

I hope it will be till November 1, otherwise I’d have to remove timescaledb package ([postgresql-timescaledb](https://pkgs.alpinelinux.org/packages?name=postgresql-timescaledb)) from the upcoming Alpine Linux release.

[2021-10-04 02:44] pratapagiri opened #3641 "[Question] Timescaledb sizing calculator"
Is possible to calculate the memory size based on measurements per second and retention period (days) for a metric in IOT data?

[2021-10-04 07:49] nikkhils commented on #2630
@mtin we are trying to resolve this via https://github.com/timescale/timescaledb/issues/3595

[2021-10-04 08:33] erimatnor commented on #1394
This issue was filed as a bug, which now cannot be reproduced. So the current behavior is as intended.

For the feature request of supporting foreign keys to hypertables, please refer to the following issue: https://github.com/timescale/timescaledb/issues/498

[2021-10-04 08:57] nikkhils commented on #3611
@Haybu am closing this because this is standard PG behavior.

[2021-10-04 08:57] #3611 closed

[2021-10-04 09:15] nikkhils commented on #3629
@svenklemm please take a look at this issue with `SELECT DISTINCT ON`:

[code]

Do note that `EXPLAIN SELECT DISTINCT ON (a) * FROM test WHERE a in (1,2) ORDER BY a ASC, time DESC;` works fine.

[2021-10-04 10:49] erimatnor commented on #3318
You can add additional partitioning columns using [`add_dimension`](https://docs.timescale.com/api/latest/hypertable/add_dimension/#parallelizing-queries-across-multiple-data-nodes). But it currently doesn't work if you already have data in the hypertable as that would require rewriting all the date in the new partitioning scheme.

[2021-10-04 10:50] erimatnor commented on #3318
Closing since question answered with pointer to documentation. If, for some reason, this didn't answer the request, feel free to reopen.

[2021-10-04 10:50] #3318 closed

[2021-10-04 11:33] nikkhils commented on #2830
Dmitry has provided the solution above. Closing this now.

[2021-10-04 11:33] #2830 closed

[2021-10-04 11:49] svenklemm opened #3643 "Handle new PG14 ALTER TABLE options"
The following new ALTER TABLE options need handling in process_utility and tests:
* AT_SetCompression
* AT_DetachPartitionFinalize
* AT_ReAddStatistics

[2021-10-04 12:48] sebvett commented on #3629
I've also got this problem (was just about to ask on StackOverflow when I found this Issue). To add to the weirdness, the same [style of] query works on a different hypertable!
---
I'm using a `DISTINCT ON` query, very similar to [TSDB's own example from a blog post](https://blog.timescale.com/blog/how-we-made-distinct-queries-up-to-8000x-faster-on-postgresql/), but it fails for a single item list

[2021-10-04 13:12] nikkhils commented on #1813
Closing this one since #2963 is tracking this enhancement.

[2021-10-04 13:12] #1813 closed

[2021-10-04 13:12] #3543 closed

[2021-10-04 13:15] nikkhils commented on #2823
@iqbalaydrus the default for `temp_file_limit` is -1 which means unlimited. Looks like your setup is trying to limit the size?

[2021-10-04 14:12] jherman3 commented on #3634
Thanks for the response. Our primary time field (which we want to use for fast queries) is different than the one we would like to have our retention policy on, and I was not aware of a way to have multiple time fields for chunking. Therefore we used DELETE in order to filter on the second time field. This query wiped away most chunks because the two time fields are _usually_ within a short time o

[2021-10-04 14:17] #3608 closed

[2021-10-04 15:06] #3582 closed

[2021-10-04 18:37] #3145 closed

[2021-10-04 21:42] lukepalmer opened #3647 "EL7: 2.4.2 undefined symbol: EnsurePortalSnapshotExists"
**Relevant system information:**
 - OS: EL7
 - PostgreSQL version (output of `postgres --version`): 12.7
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.2
 - Installation method: rpm
 -
**Describe the bug**
Timescale 2.4.2 needs EnsurePortalSnapshotExists from postgresql which is only present in 12.8 and above. The package dependency specifies 12.6, which is incorrect and will allow instal

[2021-10-04 23:40] ainz-95 commented on #1777
@NunoFilipeSantos unfortunately it's still happening on 2.4.2 (PG12 and PG13).

[2021-10-05 12:19] AuspeXeu commented on #414
Is there also going to be a equivalent `*_ng` version of `gapfill`?

[2021-10-05 12:34] erimatnor opened #3650 "Create API function for setting up logical replication between data nodes"
When copying or moving chunks, the data node subscriber node sets up a logical replication subscription using a connection string constructed on the access node.

This connection string might not work if the client authentication information is not the same on the access node and the subscriber data node. For instance, a connection string that uses a passfile might not work if the passfile only ex

[2021-10-05 12:54] afiskon commented on #3641
@pratapagiri Not 100% sure if I understood the question. If this is something derivable from the data you saved, of course, you can calculate this!

In any case, please note, that this is an issue tracker, not a support forum. Please address your question to our Slack https://timescaledb.slack.com/ Provide the schema of your database with some sample of the data and give a little more details on w

[2021-10-05 12:54] #3641 closed

[2021-10-05 12:57] afiskon commented on #3640
@pratapagiri If this is something derivable from the data you saved, of course, you can calculate this! Please note, however, that this is an issue tracker, not a support forum. Please address your question to our Slack https://timescaledb.slack.com/ Provide the schema of your database with some sample of the data and give a little more details on what you want to calculate.

[2021-10-05 12:57] #3640 closed

[2021-10-05 13:08] thoby1 commented on #2578
Is there any traction on this issue? It's about a year now since this comment was posted. I'm experience the same issue with version 2.4.1 of TimescaleDB.

[2021-10-05 13:23] jflambert commented on #2109
@NunoFilipeSantos it seems to have been fixed in 2.4.2 yes (still happens in 2.4.1)

Note that `chunk_relation_size_pretty` had to be replaced with `chunks_detailed_size` or equivalent in 2.x

[2021-10-05 13:23] #2109 closed

[2021-10-05 14:52] mcanu commented on #3629
Any update on this issue? We are having the same issue with the `distinct on` and is blocking our migration to the `2.3.1` version.

[2021-10-05 16:49] svenklemm commented on #3647
Thank you for the report this was indeed a bug in the metadata of the package and should be fixed now. There are plans to detect this automatically but currently we only detect ABI incompatibilities in the other direction.

[2021-10-05 17:43] svenklemm commented on #3639
This should be fixed by `apt-get clean` there were some issues with the initial packages (wrong metadata) so I rebuilt them so you might have those old packages cached. Feel free to reopen if you still see this after clearing the package cache.

[2021-10-05 17:43] #3639 closed

[2021-10-05 22:13] pgwhalen commented on #1248
+1.  We understand the complexities, but unfortunately the workarounds are pretty limited.

My team's mental model seems to match the proposed solution of `time_bucket` taking a timezone argument.  For what it's worth, our use case is for financial data that is mostly written during business days, so the intricacies around daylight savings aren't too relevant to us.

[2021-10-05 22:55] svenklemm opened #3651 "reorder_chunk does not do correct attribute mapping between chunk and hypertable"
Reorder fails to convert column references in the used index from the hypertable to the chunk attributes leading to wrong results or spurious errors when the index references columns with different attnum between chunk and hypertable.

To reproduce:
[code]

[2021-10-05 23:04] fabriziomello commented on #3643
@svenklemm can you elaborate a bit more what kind of handling we should add here. As far I see in the code the `AT_DetachPartitionFinalize` should be blocked, but what about `AT_SetCompression` and `AT_ReAddStatistics` ??

[2021-10-06 00:24] geuis opened #3653 "retention policy isn't removing data from hypertable"
**Relevant system information:**
 - OS: Ubuntu 20.04.3 LTS
 - PostgreSQL version (output of `postgres --version`): 12
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt install process described https://docs.timescale.com/timescaledb/latest/how-to-guides/install-timescaledb/self-hosted/ubuntu/installation-apt-ubuntu/#installation-apt-ubuntu

**Describe the bug**

[2021-10-06 10:00] quantgit commented on #3639
The problem persists after running `apt-get clean`.

[2021-10-06 10:07] #3653 closed

[2021-10-06 10:24] NunoFilipeSantos commented on #3415
@hakanu this should be fixed now, thank you.
Feel free to reopen this issue if that is not the case.

[2021-10-06 10:24] #3415 closed

[2021-10-06 10:54] NunoFilipeSantos commented on #2109
Thank you @jflambert! That is great news.

[2021-10-06 10:59] #3651 closed, assigned to svenklemm

[2021-10-06 11:56] hardikm10 opened #3656 "Compression job running after inserting data fails"
Relevant system information:
OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]: Docker / timescale/timescaledb:2.4.2-pg13

PostgreSQL version (output of postgres --version): 13.4
TimescaleDB version (output of \dx in psql): 2.4.2
Installation method: [e.g., "using Docker", "apt install", "source"] : "Using Docker"

**Describe the bug**
Calling run_job(compression_job_id) fails with the error "ERROR: ca

[2021-10-06 12:07] mkindahl commented on #3656
The error is reported from inside `init_toast_snapshot` when there is no snapshot returned from `GetOldestSnapshot()`, which means that there is no snapshot at all. This function is called from two locations: `toast_delete_datum` and `toast_fetch_datum_slice`,  which seems to be called when deleting or scanning tuples in a table that has a TOAST table (which a compressed chunk has).

- `toast_dele

[2021-10-06 12:07] akuzm opened #3658 "distributed hypertable: unexpected child node of Append or MergeAppend: 60"
[code]

AsyncAppend can't handle a Result node that is generated on the remote side for a constant true/false qual.

Somewhat related to this one: https://github.com/timescale/timescaledb/issues/3598

[2021-10-06 14:58] csroli opened #3659 "pgdata keeps growing on access node in a cluster containing only distributed hypertables"
**Relevant system information:**
 - OS: Debian GNU/Linux 10
 - PostgreSQL version: 12.7
 - TimescaleDB version: 2.4.0
 - Installation method: multi node helm chart, with timescale/timescaledb-ha:pg12.7-ts2.4.0-p2 Docker image

**Describe the bug**
Disk utilization keeps growing on access node containing only distributed hypertables.

**To Reproduce**
Have a 3 node cluster with only distributed hyp

[2021-10-06 14:59] NunoFilipeSantos commented on #2509
Thank you for letting us know.
Closing for now. Feel free to reopen it if you can reproduce it with the latest version.

[2021-10-06 14:59] #2509 closed

[2021-10-06 15:22] JLockerman commented on #2599
@NunoFilipeSantos I haven't heard anything. @cevian Have you guys seen the bug recently, or did we work around it on the promscale end?

[2021-10-06 15:24] JLockerman commented on #2599
(the  [promscale `duplicate-trigger-repro`](https://github.com/timescale/promscale/tree/duplicate-trigger-repro) branch is still up so the reproduction steps in the original post should still trigger the bug, if it still exists)

[2021-10-06 16:14] rkazak opened #3660 "Timescale installation issues on OSX"
Background:
I am using OSX to do some learning/testing on Timescale.  I am also using the package manager 'brew' as described on this page [installation-homebrew](https://docs.timescale.com/timescaledb/latest/how-to-guides/install-timescaledb/self-hosted/macos/installation-homebrew/) on doing this I have run into a couple of issues.

Results:
1.  Installing ts via brew actually pulled in pg14 and

[2021-10-06 16:54] binakot commented on #3629
I did the temporary hotfix for broken queries while waiting for a patch ;)

May be it can be helpful for someone:

[code]

[2021-10-06 19:13] #3182 closed

[2021-10-06 19:13] #3580 closed

[2021-10-06 19:13] #3622 closed

[2021-10-06 19:58] AstrOsu commented on #2731
Had the same issue as sudeepignition.

`CREATE EXTENSION timescaledb    SCHEMA public    VERSION "2.3.0";`

Tried a 'create materialized hypertable' that works on other psql dbs with timescale ver 2.3, but for this particular db I got:

ERROR:  unrecognized parameter namespace "timescaledb"
SQL state: 22023

[2021-10-06 23:20] ADMoreau opened #3662 "Using pgsync with timescale"
Hello, I am trying to migrate a database from AWS to a managed timescale db instance using pgsync. Is this possible? I am having issues related to permissions on timescale's installed extension. After running pgsync I get the following:

[to] ALTER TABLE "_timescaledb_catalog"."dimension_slice" ALTER CONSTRAINT "dimension_slice_dimension_id_fkey" DEFERRABLE
/home/austin/.rbenv/versions/3.0.2/lib/r

[2021-10-07 02:29] phemmer opened #3663 "Drop distributed hypertable within procedure doesn't drop remote tables"
**Relevant system information:**
 - OS: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
When dropping a distributed hypertable within a procedure, only the table on the access node is dropped, while the table(s) on

[2021-10-07 13:53] akuzm opened #3664 "Segfault in partition-wise aggregation with HAVING"
[code]

Doesn't fail if I disable partition-wise aggregation (I think that by default it is enabled):

[code]

[2021-10-07 14:16] toufik-belgacemi opened #3665 "MacOS - directory not found for options"
**Relevant system information:**
 - OS: MacOS Big Sur 11.6
 - PostgreSQL version (output of `postgres --version`): 12.8
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.0
 - Installation method: source

**Describe the bug**
I can't use the make into the build folder, I have this error :

[code]

[2021-10-07 14:44] cevian opened #3666 "create_distributed_hypertables does not correctly resolve type schemas."
**Relevant system information:**
 - Docker image `timescaledev/promscale-extension:0.1.1-ts2-pg12` (TIMESCALEDB_VERSION=2.3.1)

**Describe the bug**
When creating a distributed hypertable, the schema of types isn't always fully passed down. My impression is that when you create the create table command, the types are rendered according to the search path on the access node. That search_path may no

[2021-10-07 14:59] #3629 closed

[2021-10-07 15:51] Twenty7 opened #3668 "ts-restore: run failed while updating extension: failed to update extension version: ERROR: "rides_daily" is not a materialized view"
**Relevant system information:**
 - OS: Alpine 10.2.1_pre1 / Alpine 10.3.1_git20210424 / MacOS 11.6
 - PostgreSQL version: 13.2 / 13.4
 - TimescaleDB version: dump (2.2.0) -> restore (2.4.2)
 - Installation method: Docker & Source on Mac

**Describe the bug**
Error with ts-restore when restoring continuous aggregate on a newer version of timescaledb
Example: Dump database on 2.2.0, then restore on

[2021-10-07 19:55] svenklemm commented on #3639
Yea you might need clean, update, upgrade but after full cycle it should be resolved.

[2021-10-08 04:33] phemmer opened #3669 "Provide debian package containing debug symbols"
**Relevant system information:**
 - OS: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
Debug symbols are not available

**To Reproduce**
Steps to reproduce the behavior:
1. get a core file of a postgres process wi

[2021-10-08 12:54] #3662 closed

[2021-10-08 14:20] #3665 closed, assigned to nobody

[2021-10-08 14:31] jdsdc commented on #3008
For anyone else who wants to install on ARM64 (Raspberry PI4)
Debian image from:  https://raspi.debian.net/tested-images/
I guess this would work on ubuntu too.

This works but suggestions for improvements would be appreciated

### Postgres Install

[code]

### Postgres Third Party Install
[code]

### Build and install Timescale

[code]

### Tune Timescale

[code]

### Verify Timescale

[code]

@r

[2021-10-08 17:47] phemmer opened #3672 "Segfault in get_aggsplit"
**Relevant system information:**
 - OS: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
timescaledb segfaults during a query

**To Reproduce**
Unsure. Sometimes it works, sometimes (a lot of times) it doesn't. All

[2021-10-08 23:46] svenklemm commented on #3669
Next release should also publish debug packages.

[2021-10-08 23:46] #3669 closed

[2021-10-09 00:25] phemmer commented on #3669
Awesome. Thanks guys (and/or girls)!

[2021-10-09 11:42] pmwkaa commented on #3659
I believe PostgreSQL might not return occupied storage right away to the OS.  Also you can take a look at the remote transaction table to ensure it is been properly cleaned up: `select count(*) from _timescaledb_catalog.remote_txn;`

[2021-10-09 12:19] lukeramsden commented on #3353
I use [graphile-migrate](https://github.com/graphile/migrate), which means during my initial development phase, my migrations do a lot of cascade deletes. I'm also having trouble with Caggs not being dropped properly when I drop my hypertables with `CASCADE`:

[code]

Not sure what's causing this. My solution is to drop all my Caggs _first_, right at the start of my migrations, and then hypertable

[2021-10-09 19:12] PBudmark opened #3674 "dump_meta_data.sql fails on date-command in Windows"
**Relevant system information:**
 - OS: Windows 10 x64 Version 20H2 Build 19042.1237
 - PostgreSQL version (output of `postgres --version`): 13.3
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: source

**Describe the bug**
When running the dump_meta_data.sql at 'commit 9b5f20d on Dec 2, 2020' on Windows,
using the psql command as described in docs, 'unterminated q

[2021-10-11 13:05] erimatnor commented on #3502
So, first, thank you for the work putting together a really helpful reproducible test case and script using Docker compose.

However, upon closer examination, I've concluded that there's nothing wrong with the current behavior. I submitted a PR to your test repo to illustrate: https://github.com/TroyDey/timescale-multinode-test/pull/1

The reason the second SELECT succeeds while the node is down i

[2021-10-11 13:50] ryanbooz commented on #3435
Not at this time. Avthar is writing the blog post, @mirandaauhl was on the hook for a demo of the new feature. What would you even suggest we "performance test"? The creation of the CAgg or something else?

[2021-10-11 15:11] xuelin-wang opened #3676 "Got error when tried to recreate a distributed hyper table after dropping original hyper table from both data nodes and access node."
**Relevant system information:**
 - OS: Ubuntu 18.04
 - PostgreSQL version 13.2
 - TimescaleDB version 2.4.1
 - Installation method: apt install

**Describe the bug**
We have an access node and 8 data nodes. A single distributed hyper table "records" was created with all 8 data nodes added and hundreds of gig bytes of data stored in each data nodes. After drop the original hyper table from both da

[2021-10-12 02:08] geuis opened #3679 "retention policy isn't removing data from hypertable (take 2)"
This issue is a continuance of https://github.com/timescale/timescaledb/issues/3653.

I updated to 2.4.2. Then removed the 24 hours retention policy and added a new 1 hour policy to get results sooner.

This has been running for several days now and the retention policy is not removing old data.

[code]

[code]

[2021-10-12 10:39] mkindahl opened #3680 "Use access node hypertable id in invalidation logs"

[2021-10-12 17:51] semenmiroshnichenko opened #3683 "[Feature request] Dropping a column from a compressed hypertable"
Hi there! We at senseforce.io frequently asked to delete a table columns in hypertables with enabled compression. At the moment we need to decompress them, drop column and compress again.

Is there any other ways to do it without decompression, as it requires a lot of time and disk space? Or is the dropping compressed columns a topic you have on your roadmap? Is there any ETD?

[2021-10-12 21:54] svenklemm opened #3684 "Add tests for memoize node"
PG14 added a new memoize node that can cache results. We should make sure it works fine with hypertables and our custom nodes.

[2021-10-13 07:21] erimatnor opened #3685 "Avoid planning foreign chunk scans"
The current approach to planning queries on distributed hypertables first plans a "naive" plan for scanning each remote chunk individually (the chunks are children of an append) and then that plan gets replaced by a datanode scan plan (each data node is a child in the Append).

While we need to include each chunk in the planning for cost reasons (we need to know the stats for chunk rels) we need n

[2021-10-13 07:45] mkindahl commented on #3672
@phemmer I assume that `haproxy_agg_instance_host_1m` is a continuous aggregate. Could you add the definition of the continuous aggregate and the associated hypertable?

[2021-10-13 09:41] Ertuyo opened #3686 "Auto-increment an Id on insert when having similar timestamps?"
The project I'm working on should allow timestamps to have the same value.
The partitioning in hypertables requires you to have a unique primary key value including the timestamp.

You could have a combined primary key like this:

[code]

**My question: Can you auto-increment the id each time a new row gets inserted?**

Thanks

[2021-10-13 13:12] #3656 closed, assigned to gayyappan

[2021-10-13 13:27] nikkhils opened #3690 "Multinode: CREATE SCHEMA on datanodes"
The following approaches can be used for schema creation on datanodes:

A) Ship the `CREATE SCHEMA` command the same time as AN to the DNs
If `AUTHORIZATION role_name` is specified then it's possible that that role does not exist on the DNs. The command will then fail on DN and the user can decide about creating the role on the DN as well.

B) Create the schema (if it does not exist on DN) the fir

[2021-10-13 17:28] mpatelj commented on #2072
+1

[2021-10-13 18:28] fabriziomello commented on #3686
Sure, you can use [`PostgreSQL Serial Types`](https://www.postgresql.org/docs/current/datatype-numeric.html#DATATYPE-SERIAL), for example:

[code]

[2021-10-14 01:27] RezaRahmati commented on #2936
You are my savior 👍

[2021-10-14 07:51] nikkhils commented on #3595
So there are two issues here:

1) In multi-node the query is not shipped to the datanodes. This is being addressed

2) The main hypertable might reside in the specified SCHEMA, but its chunk will reside in the `_timescaledb_internal` SCHEMA. So what needs to happen is that we collect all the hypertables (single-node or distributed) and ensure that the GRANT reaches these chunks as well.

[2021-10-14 08:47] nikkhils commented on #3595
Yes, now that I look at this closely, supporting `GRANT ALL ON ALL TABLES IN SCHEMA` might be more work.

For this GrantStmt, the `targtype` field is `ACL_TARGET_ALL_IN_SCHEMA` whereas in regular `GRANT ON TABLE xyz..`, the `targtype` field is `ACL_TARGET_OBJECT`. In the latter case the `objects` list contains a list of relation range vars whereas in the former it is the name of the schema.

So, w

[2021-10-14 10:33] 847365031 opened #3691 "Slowly query"
Limit  (cost=0.42..1136.98 rows=1000 width=32) (actual time=12.648..6235.575 rows=1000 loops=1)
  ->  Result  (cost=0.42..1601.83 rows=1409 width=32) (actual time=12.646..6235.193 rows=1000 loops=1)
        ->  Index Scan using _hyper_8_94_chunk_tb_json_data_stationguid_dcollectdate_idx on _hyper_8_94_chunk  (cost=0.42..1584.22 rows=1409 width=1573) (actual time=12.638..6233.117 rows=1000 loops=1)

[2021-10-14 13:30] gayyappan opened #3696 "Disabling materialized_only on continuous aggregates that have a HAVING clause crashes"
Crash on PG13.4 , on master code.

Steps to reproduce.

Create a continuous aggregate with a HAVING clause and change default materialized_only option.
[code]

This aborts due to an assertion failure
[code]

[2021-10-14 13:31] gayyappan commented on #3696
[code]

[2021-10-15 09:24] erimatnor opened #3698 "Wrong result returned by hypertable_size if no privileges granted on foreign servers"
**Relevant system information:**

TimescaleDB 2.4

**Describe the bug**

Calling `hypertable_size` on a distributed hypertable with no priviliges on the foreign servers returns weird result:

Without privileges:
[code]

With privileges:
[code]

**To Reproduce**
See above.

**Expected behavior**
The `hypertable_size` function should raise an error if privileges are missing.

**Actual behavior**
The

[2021-10-15 09:29] erimatnor opened #3699 "Grant USAGE on data node if user is granted privileges on distributed hypertable"
It is currently possible to be granted usage privileges on a distributed hypertable without having the necessary privileges on the data nodes (foreign servers). As a result, the user cannot use the distributed hypertable properly although basic privileges are in place.

We should consider automatically granting usage on all the servers of a distributed hypertable if the privileges are granted on a

[2021-10-15 09:41] sebastian-hans-swm opened #3700 "Reference to Travis CI in CONTRIBUTING.md is out of date"
`CONTRIBUTING.md` mentions testing is done in Travis CI. However, the links are broken. The instructions may be, too?

[2021-10-15 12:45] mkindahl commented on #3620
@amadeubarbosa I notice also that you are using `div` and `mnemonic` above, which might also be useful to extract from the JSON and use for separate columns. That will possibly speed up the query as well since you will not have to filter out JSON that have these fields.

[2021-10-15 12:48] #3699 closed, assigned to nobody

[2021-10-15 13:01] #3698 closed, assigned to nobody

[2021-10-15 13:24] mkindahl opened #3702 "Compressed column inspection functions"
Compressed columns contain headers with information about the compressed data. In particular, the compression algorithm and the varlen header. Having functions that extract information about the column, without decompressing the data, can be useful in debugging problems.

[2021-10-15 13:24] #3132 closed

[2021-10-15 13:27] mkindahl opened #3703 "Option to limit compressed column size"
If columns with compressed data is too big, decompressing them will lead to an OOM. This can be by misconfiguration or user errors.

Adding an option that limit the size of the decompressed data to ensure that a decompression does not create an OOM would allow this problem to be controlled.

[2021-10-15 13:38] NunoFilipeSantos commented on #1080
Thank you for the interesting discussion. 😃
It seems the original question was answered.
Feel free to discuss it again on our [community Slack](timescaledb.slack.com).

[2021-10-15 13:38] #1080 closed

[2021-10-15 16:48] phemmer opened #3705 "Enabling distributed compression within a procedure doesn't actually enable compression."
**Relevant system information:**
 - OS: Debian 10/Buster
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: apt

**Describe the bug**
Enabling compression on a distributed hypertable from within a procedure doesn't actually enable compression.

**To Reproduce*

[2021-10-15 22:20] #3684 closed

[2021-10-16 10:58] pmwkaa commented on #3705
@phemmer I can confirm that it works after #3673 been merged. I've also made a PR that includes your test case, just in case.

[2021-10-17 04:02] msqr commented on #1779
@NunoFilipeSantos I don't have a test case where I can re-create the issue, unfortunately. I am now running PG 12 in production with TimescaleDB 2.3.1. I searched the last 30 days of logs for any duplicate key violations, and there are none. I'm pretty sure I haven't seen this exception since upgrading to PG 12 & TimescaleDB 2.x. Sorry I can't see with any more certainty than that!

[2021-10-18 07:27] erimatnor commented on #3413
@akamensky From that code, it looks like the Kafka importer is inserting one row at a time, unless there's some other piece of code that appends additional columns to the insert statement. Row-by-row is obviously pretty bad for performance.

Can you confirm that it is _not_ using upserts?

[2021-10-18 11:41] #3672 closed, assigned to svenklemm

[2021-10-18 14:20] NunoFilipeSantos commented on #2215
@tnesztler we're closing this issue.
Feel free to reopen it if you are still experiencing this on our newest version.

[2021-10-18 14:20] #2215 closed

[2021-10-18 15:03] erimatnor opened #3713 "Size utility functions return misleading information when data node cannot be reached"
**Relevant system information:**
 - PostgreSQL version All
 - TimescaleDB version 2.4.2

**Describe the bug**

Size utility functions, like `hypertable_size` and `chunks_detailed_size`  return no output (and no errors) when the user calling the function does not have a way to connect to data nodes (for instance, if it doesn't have a a way to authenticate) or one or more data nodes are not respondi

[2021-10-18 15:12] mfundul opened #3714 "cannot read compressed chunks from distributed hypertables"
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version (output of `postgres --version`): 12.6
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.2
 - Installation method: source

**Describe the bug**
I cannot read any data from compressed chunks if I disable per data node queries. See the steps below.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a compresse

[2021-10-18 15:32] gayyappan commented on #3679
@geuis We only drop complete chunks. From the linked issues, it looks like you have 2 chunks.
Could you post the output for  ```select * from timescaledb_information.chunks where hypertable_name = <> ```
Are these chunks' ranges past the 24 hour retention window?

[2021-10-18 16:29] #3696 closed

[2021-10-18 20:51] #3700 closed, assigned to nobody

[2021-10-19 06:07] kgonia commented on #2304
@NunoFilipeSantos Not really. I don't have environment to replicate.

[2021-10-19 07:37] sebastian-hans-swm commented on #3700
@fabriziomello, thanks for the fix!

[2021-10-19 10:39] Vonng opened #3718 "The default value for `timescaledb.license` is `apache` rather than `timescale` as the doc describes"
**Relevant system information:**
 - OS: CentOS 7.8.2003
 - PostgreSQL version: 13.4
 - TimescaleDB version: 2.4.2 (also reproduced on 2.1)
 - Installation method: yum (via official [pgdg13](https://download.postgresql.org/pub/repos/yum/13/redhat/rhel-7.8-x86_64/) repo)

**Describe the bug**

The default value for `timescaledb.license` is `apache`.
While as the [doc](https://docs.timescale.com/time

[2021-10-19 11:29] akuzm commented on #271
Wrote a design memo for internal use: https://docs.google.com/document/d/1YEX038V-gq-iLfM-KpLV0zpNn3yW88I9qPVa0_bs4aQ/edit

[2021-10-19 11:58] nikkhils commented on #3718
@Vonng can you please run and show the output of:

`SELECT * from pg_settings where name ~ 'timescaledb.license';`

or

`SHOW timescaledb.license`?

[2021-10-19 16:15] Vonng commented on #3718
[code]

Besides. CentOS 7.8.2003 x86_64 & timescaledb 2.1 behave the same (`apache` by default).

[2021-10-19 18:22] hleung2021 opened #3719 "Unable to update records in uncompressed chunk of hypertable with prepared statements"
**Relevant system information:**
 - OS: Ubuntu 18.04, CentOS Linux release 7.9.2009 (Core)
 - PostgreSQL version (output of `postgres --version`): 12.8
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1, 2.3.1, 2.0.1
 - Installation method: apt install, AWS AMI image

**Describe the bug**
When I update records in an uncompressed chunk of a hypertable, I get an error saying update failed bec

[2021-10-19 23:46] xddz9 commented on #2897
I ran into the same issue here.

Conceptually I think I understand it: TimescaleDB has no way of knowing which chunk a row belongs to if I don't specify a timestamp range, right? If I only needed the most recent row I suppose I could query `MAX(timestamp) WHERE id = ?` and then use that timestamp to narrow my query down to a single chunk, but if I need more than one row then we're back to scanning

[2021-10-20 10:09] hardikm10 opened #3720 "SkipScan not being used on varchar columns"
**Relevant system information:**
OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]: Docker / timescale/timescaledb:2.4.2-pg13
PostgreSQL version (output of postgres --version): 13.4
TimescaleDB version (output of \dx in psql): 2.4.2
Installation method: [e.g., "using Docker", "apt install", "source"] : "Using Docker"

**Describe the bug**
It appears that having 'varchar' as column type doesn't use Skip

[2021-10-20 11:01] hardikm10 commented on #3656
Adding here for completeness, a segfault also occurs on CALL run_job in some cases:

For example, after some drop_chunk, reinsert into compressed chunk and logging out and logging again, the test service was segfaulting (not necessary that this order has to be followed) , and here's the backtrace:

[code]

[2021-10-20 11:20] #3676 closed, assigned to nobody

[2021-10-20 11:35] #2782 closed

[2021-10-20 12:21] mkindahl opened #3721 "Refactor continuous aggregates on distributed hypertables"
Following the implementation of the continuous aggregates on distributed hypertables, there are some refactorings that are needed to improve the maintainability of the code.

- [x] SQL injection: https://github.com/timescale/timescaledb/pull/3693#discussion_r735098888 - PR #3812
- [x] time ranges < 1970: https://github.com/timescale/timescaledb/pull/3693#pullrequestreview-787511033
- [x] #3817
- [

[2021-10-20 13:23] fabriziomello opened #3723 "Add regression tests for caggs+compression"
We should add some tests with union views + compression covering those cases:

1. For real time aggregate looks like this:

[code]

2. Join with a real time cagg:

[code]

We need tests for these variants for case 1 and case 2 with mat_hypertable is compressed + hypertable (compressed/uncompressed). For case 2, with different types of joins.

For compression, we compress every 1000 rows into a sin

[2021-10-20 13:23] NunoFilipeSantos commented on #2712
Closing. Feel free to reopen the issue if you experience it on the latest Timescale version.

[2021-10-20 13:32] NunoFilipeSantos commented on #2486
@himkool Feel free to reopen the issue if you experience it on the latest Timescale version.

[2021-10-20 18:42] #3714 closed

[2021-10-21 09:51] #2556 closed

[2021-10-21 09:55] maltalex commented on #1562
@NunoFilipeSantos Unfortunately, no. That system is no longer around.

[2021-10-21 10:35] mfundul opened #3725 "delete_data_node() does not work correctly."
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version (output of `postgres --version`): 12.8
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.2
 - Installation method: source

**Describe the bug**
`delete_data_node()` does not work correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. create a data node:
[code]
2. delete the data node:
[code]
3. add the data

[2021-10-21 11:12] stoxx commented on #2291
No reason or explanation, just close?

[2021-10-21 12:09] stoxx commented on #2291
Not really. When I need to search by one dimension, advise of searching by different dimension is not very helpful.

This specific example about a sequence example is not current (for _me_), but the general problem of doing multidimensional searches is still very real. #2418 is the more general case of most such needs, even if it doesn't specifically mention top-1 searches which are a bit of a spe

[2021-10-21 13:41] akuzm commented on #2807
Why the cursors do not support parallel operation: https://www.postgresql.org/message-id/flat/98760523-a0d2-8705-38e3-c4602ecf2448%402ndquadrant.com

In short, execution of cursor can be suspended and a user then can run arbitrary sql, and then resume execution. This kind  concurrency is not safe, postgres doesn't account for it.

[2021-10-21 13:44] akuzm commented on #2807
And the reason TS needs cursors is to multiplex several subqueries to the same data node on the same connection. This is needed e.g. if we later join these subqueries w/ a nested loop.

[2021-10-21 14:34] NunoFilipeSantos commented on #638
That is great @gumshoes ! 💯

[2021-10-21 14:52] NunoFilipeSantos commented on #1636
There were a lot of performance improvements on TimescaleDB 2.X we strongly advise anyone to upgrade and experiment with the latest and greatest.

[2021-10-22 12:39] mfundul opened #3729 "You cannot insert into a compressed chunk of a distributed hypertable after creating a Continuous Aggregate"
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version (output of `postgres --version`): 12.8
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0-dev
 - Installation method: suorce

**Describe the bug**
You cannot insert into a compressed chunk of a distributed hypertable after creating a Continuous Aggregate.

**To Reproduce**
Same problem as https://github.com/timescale

[2021-10-22 13:50] #3254 closed, assigned to nobody

[2021-10-22 23:30] tanglebones opened #3733 "Segfault on `analyse` in multinode setup."
**Relevant system information:**
 - OS: docker desktop on windows 10
 - PostgreSQL version: PostgreSQL 13.3 on x86_64-pc-linux-musl, compiled by gcc (Alpine 10.2.1_pre1) 10.2.1 20201203, 64-bit
 - TimescaleDB version: 2.3.0
 - Installation method: using Docker

**Describe the bug**

I was following the instructions https://github.com/binakot/Multi-Node-TimescaleDB/tree/pgconf2021 to try out timesc

[2021-10-25 05:18] #3718 closed, assigned to nobody

[2021-10-25 07:18] Vit174 opened #3735 "Compression Policy job error after upgrading"
**Relevant system information:**
 - OS: CentOS Linux release 8.4.2105
 - PostgreSQL: version 12.8
 - TimescaleDB: version 2.4
 - Installation method: apt install

**Describe the bug**
After upgrading from version 2.0.0 to version 2.4.2, some errors appeared in the server log.
LOG:  job 1003 threw an error
ERROR:  cannot fetch toast data without an active snapshot
LOG:  background worker "Compressi

[2021-10-25 10:02] #3720 closed, assigned to svenklemm

[2021-10-25 11:43] mynever opened #3736 "Failed to update timescaledb extension from 1.7.5 to 2.0.2"
**Relevant system information:**
 - OS: CentOS Linux release 8.3.2011
 - PostgreSQL: version 12.6
 - TimescaleDB version 1.7.5
 - Installation method: dnf install
**Describe the bug**

Cant update timescaledb version from 1.7.5 to 2.0.2.
End up with this error message:
ALTER EXTENSION timescaledb UPDATE;
ERROR:  extension "timescaledb" has no update path from version "1.7.5" to version "2.0.2"

[2021-10-25 15:41] aleksve opened #3738 "Planner fails with distinct, time_bucket, and timestamp BETWEEN filter for some time intervals"
**Relevant system information**
OS: Ubuntu 20.04.3 LTS
Install:
[code]

**Describe the bug**
The planner fails on the following query:

[code]
Produces the following error:
`ERROR:  could not find pathkey item to sort`
The error happens during planning, and running `EXPLAIN SELECT` produces the same error. This happens for some intervals for time_stamp, and not for others.

Explicitly casting one

[2021-10-25 21:19] lukepalmer opened #3740 "Segfault in compress_chunk -> GetActiveSnapshot"
**Relevant system information:**
 - OS: EL7
 - PostgreSQL version (output of `postgres --version`): 12.8
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.2
 - Installation method: rpm

**Describe the bug**
#0  0x00000000008b8897 in GetActiveSnapshot () at snapmgr.c:845
#1  0x00000000004fc3a0 in InitializeParallelDSM (pcxt=pcxt@entry=0x12d3890) at parallel.c:213
#2  0x00000000004e4608 in _bt

[2021-10-26 10:19] hardikm10 opened #3742 "Segfault in get_aggsplit"
**Relevant system information:**
OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]: Docker / timescale/timescaledb:2.4.2-pg13
PostgreSQL version (output of postgres --version): 13.4
TimescaleDB version (output of \dx in psql): 2.4.2
Installation method: [e.g., "using Docker", "apt install", "source"] : "Using Docker"

**Describe the bug**
On a 1AN/1DN multinode setup, running the below query with  enab

[2021-10-26 16:09] #3742 closed, assigned to nobody

[2021-10-27 09:08] #3733 closed, assigned to nikkhils

[2021-10-27 10:23] #3735 closed, assigned to nobody

[2021-10-28 11:24] #3659 closed, assigned to nobody

[2021-10-29 06:35] #3736 closed, assigned to nobody

[2021-10-29 09:25] #3705 closed, assigned to pmwkaa

[2021-10-29 15:12] jouir opened #3758 "Ingestion stuck with idle in transaction sessions on data nodes"
**Relevant system information:**
 - OS: Debian 10
 - PostgreSQL version (output of `postgres --version`): 13.4
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0
 - Installation method: apt install using Timescale Debian repositories

**Describe the bug**

On our bench infrastructure composed of 2 Prometheus instances scrapping an equivalent of 1,500 servers with node_exporter (~2 millions

[2021-10-29 17:21] phemmer opened #3760 "postgresql upgrade results in error `TimescaleDB label is for internal use only`"
**Relevant system information:**
 - OS: Debian 10
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 14.0 (Debian 14.0-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0
 - Installation method: apt

**Describe the bug**
When attempting to upgrade from PostgreSQL 13 to 14, and using `pg_upgrade`, the process generates an error:

From `pg_upgrade_dump_2

[2021-10-29 18:49] phemmer opened #3761 "[Not confirmed] SELECT time_bucket('0s',...) ... GROUP BY ... query segfaults on Debian"
**Relevant system information:**
 - OS: Debian 10
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0
 - Installation method: apt

**Describe the bug**
During a query, postgres segfaulted. Core dump indicates it was during a libpq call from [async_response_result_close](https://github

[2021-10-30 08:36] svenklemm commented on #3729
Should be fixed by https://github.com/timescale/timescaledb/pull/3724

[2021-10-30 08:36] #3729 closed

[2021-10-30 13:34] cbisnett commented on #3725
This confused me as well, but it is specified in the API documentation. Obviously not ideal if the database contains data and if you're trying to move it to another access node.

From: https://docs.timescale.com/api/latest/distributed-hypertables/delete_data_node/

[2021-10-30 17:11] maxhertrampf opened #3764 "Add min_timed/max_timed aggregate functions (feature request)"
Dear devs,

first of all, thank you for all your work on TimescaleDB.

In our application, when we calculate a minimum/maximum value, we always also want to know at which time it happened (either the first occurrence or the last occurrence of the extreme value, depending on what the user wants).

Calculating the maximum value for a column in SQL is simple:

[code]

Retrieving the timestamp of the

[2021-10-30 19:46] svenklemm commented on #3046
You are not using the repository maintained by us but the postgres repository.
You can find instructions to install the repo maintained by Timescale here: https://packagecloud.io/timescale/timescaledb/install#manual-rpm

This specific error should be reported to the postgres upstream repo.

[2021-10-30 19:46] #3046 closed

[2021-10-31 09:50] choisnetm commented on #3079
Just to warn any other people who might have this problem, setting `enable_bitmapscan` to `off` is not a safe workaround.
The query will not throw an exception, but it will never end and eventually it will time out (depending on how the client performing the query and the server are configured)

At least with the exception the problem is clearly identified and can be addressed.

We are planning to

[2021-10-31 10:58] choisnetm opened #3765 "Unable to upgrade extension from 2.1.1 to 2.4.2"
**Relevant system information:**
 - OS: Debian GNU/Linux 10 (buster)
 - PostgreSQL version (output of postgres --version): postgres (PostgreSQL) 12.6 (Debian 12.6-1.pgdg100+1)
 - TimescaleDB version (output of \dx in psql): 2.1.1
 - Installation method: sudo apt-get install timescaledb-2-postgresql-12

**Describe the bug**
Trying to upgrade TimescaleDB extension (from 2.1.1 to 2.4.2) we are gettin

[2021-10-31 22:31] stoxx commented on #2291
No, I don't need information. You are correct, this issue is a subset or a special case of the more generic issue of secondary indexing.

[2021-11-01 09:11] erimatnor opened #3770 "Make sure stats on distributed hypertables are auto-updated"
Statistics for distributed hypertables are updated when a user runs `ANALYZE` on the table, but not when auto-vacuum is run. The reason for this is that we intercept the `ANALYZE` call to run vacuum on distributed hypertables, while auto-vacuum is a custom code path that does not include this interception.

One question to resolve is whether the FDW API for vacuum is covered by auto-vacuum. In tha

[2021-11-01 13:07] akuzm opened #3771 "Send session-level settings to data nodes"
This is important if we want to evaluate stable functions on data nodes. The evaluation may be influenced by the settings, e.g. `to_tsvector` depends on `default_text_search_config`.

We can send all settings changed in the session (with SET commands) to data nodes, and make synchronizing all the other the administrator's responsibility. Also w/ a setting to disable this entirely.

We already send

[2021-11-01 15:02] mfundul commented on #3765
I did set-up a Debian-10 VM, installed PG12 and TSDB 2.1.1. I then upgraded to 2.4.2 without an issue.

Is there an unusual pattern that you may have been using that may be worth mentioning? What about those views? Did you at some point modify internal timescale metadata?

Can you share non-sensitive parts of the postmaster log which may be of interest?

[2021-11-01 15:07] choisnetm commented on #3765
None that I can think of at the moment.
We changed the size of our chunks on the hypertable and so had some older chunks of a different size but I hardly think it could bring up such problem.

I can give you the scripts of the views but they are just views and do not alter the internal timescale metadata in any way (it's just a bunch of select over tables and functions).

What are you referring at

[2021-11-01 15:10] mfundul commented on #3765
Sorry, yes, postgres logs. I could take a look at those views if that's ok. You can send them to markos@timescale.com if you don't want to post them in github.

[2021-11-01 15:29] choisnetm commented on #3765
No worries, I emailed you the views.
I've just tried to do the update right now and there it is what was logged into postgres logs:
[code]

[2021-11-02 07:37] choisnetm commented on #3765
I tried the upgrade on another of our server this morning.
Here are the logs:
[code]

The first time (2021-11-02 07:15:46) I forgot to drop one of the views and we got a message saying so.
But the second time (2021-11-02 07:17:02) I just get the same weird error...

[2021-11-02 07:47] choisnetm commented on #3765
Ok I just figured it out.

I was thinking that as long as 2.5.0 was the last available and installed on the server, the previous versions must have been downloaded too and be available for use.
It seems not.
Using the command `ALTER EXTENSION timescaledb UPDATE;` without trying to target a specific version number correctly upgrade timescaledb extension to the 2.5.0.

Thanks for your time anyway.

[2021-11-02 07:47] #3765 closed

[2021-11-02 09:02] mfundul commented on #3765
That's great you figured it out. I still wonder why it failed for 2.4.2 huh

[2021-11-02 10:34] daemonserj opened #3772 "Do I need autovacuum for INSERT's-only table?"
Hi.
I have one big table with retention policy 1week.
There are bullk INSERT's, some SELECT's and no UPDATE/DELETE's.
After 1 week I suppose chunks are dropped.
Is this space need to be vacuum-ed ?
Why timescaledb-tune autovacuum settings are so aggressive ?
autovacuum_naptime = 10
autovacuum_max_workers = 10

Can I disable autovacuum for this table in my case ?

[2021-11-02 12:28] choisnetm commented on #3765
Don't you think it's because the version isn't really available for installation?
I'm wondering if `sudo apt install timescaledb-2-postgresql-12` just gets the latest version packages. In this case that would explain why we cannot install an older one.

[2021-11-02 12:44] mfundul commented on #3765
That is correct, it installs the latest version. I thought you had downloaded 2.4.2 before 2.5.0 got released. That's probably my misunderstanding.

[2021-11-02 12:50] choisnetm commented on #3765
So it was also my misundersatnding to begin with.

[2021-11-02 13:09] CaptainCuddleCube opened #3773 "Compression policy fails if the table uses integer and not bigint"
**Relevant system information:**
 - OS:  Ubuntu 18.04.5
 - PostgreSQL PostgreSQL 12.8
 - TimescaleDB version 2.5.0
 - Installation method: AWS Image

**Describe the bug**

The `show_chunks` function's `older_than` argument needs the data to be the same type as the time column.

However, in the `_timescaledb_internal.policy_compression_integer` function, it casts values to BIGINT. So if your time c

[2021-11-02 14:40] bubu11e commented on #3414
Hi, we encountered the same issue during a benchmark with timescale 2.5.0. However, we did not manage to reproduce it.

Here are some informations :
 - OS: Debian 10
 - PostgreSQL version (output of `postgres --version`): 13.4
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0
 - Installation method: apt install using Timescale Debian repositories

Cluster is composed of one access node and

[2021-11-02 15:00] mfundul commented on #3414
@vijay0801 can you also share your PG version and Timescale installation method?

[2021-11-03 05:48] victor-sudakov commented on #3773
Looks like the upgrade to timescaledb-2-postgresql-12 2.5.0 has broken our Zabbix 5.0.17 depoyment. The database is not being cleaned up anymore with the error:

ERROR: invalid time argument type "bigint"

[2021-11-03 07:55] CaptainCuddleCube commented on #3773
@victor-sudakov I temporarily fixed the issue by putting an explicit `::INT` cast in the function:

https://github.com/timescale/timescaledb/blob/20543bf66b4de035d7890cdb642eed4cef2fed53/sql/policy_internal.sql#L89

so that it looks like :
[code]

[2021-11-03 09:16] victor-sudakov commented on #3773
Excuse me @CaptainCuddleCube , where is that file? Cannot find it on a zabbix server.

[2021-11-03 09:28] CaptainCuddleCube commented on #3773
So, it's part of the Timescale Extension.

You can just run the patched `_timescaledb_internal.policy_compression_integer` procedure against the database and it will change it.

Just ensure you have backups before making any changes 😉

[2021-11-03 11:10] victor-sudakov commented on #3773
It should be easier to `alter extension timescaledb update to '2.4.2';`

[2021-11-03 12:01] mkindahl commented on #2565
Looking at the locking graph above, we get this graph. My guess is that relation 18024 is the index for the chunk and 116930631 is the actual chunk. This is because the lock order for queries is to first take a lock in the index and then on the chunk, but for `compress_chunk` the order will be first take a lock on the chunk (when calling `truncate_table`) and then on the index (when calling `reind

[2021-11-03 12:40] NunoFilipeSantos commented on #3772
Hi @daemonserj can you post this question on our community Slack? It helps us with knowledge sharing. Thank you.

[2021-11-03 13:16] mfundul commented on #3761
I get an exception:
[code]
Is there anything particular with your set-up? How many data-nodes? What timescaledb version is in the data-nodes?

[2021-11-03 13:18] phemmer commented on #3761
2 data nodes. version 2.5.0

[2021-11-03 13:34] nikkhils commented on #3761
I tried with 2 data nodes, version 2.5.0 and PG 13.4. Get the same error:

[code]

[2021-11-03 13:34] amincheloh commented on #2565
@mkindahl 18024 is `n2n_device_device` table linked with `n2n_device_monitoring_ping` table via `deviceId` column, yes 116930631 is actual chunk.

[2021-11-03 13:39] mfundul commented on #3761
Also tried PG versions 13.2, 12.8 and 12.6

[2021-11-03 14:59] mfundul commented on #3761
I set up a Debian 10 VM, with the same packages, and reproducing the steps in the description does not make it crash for some reason. Maybe there is additional state that needs to be there, that doesn't exist in a vanilla installation.

[2021-11-03 15:10] juliensalinas commented on #3496
Hello @mkindahl,

This issue was supposed to be fixed in release 2.4.1 but even after upgrading, I keep having the issue.
I tried 2.4.1, then 2.4.2, then 2.5.0.
I am using the PG 12 version from the Docker image: `timescale/timescaledb:2.5.0-pg12`.

I made some tests: when starting with a fresh install the problem disappears. But ideally I prefer to avoid this solution.

Do you happen to know if t

[2021-11-03 15:13] phemmer commented on #3761
I only get that `period must be greater than 0` error when `GROUP BY "time"` is not present in the query.
I'm not sure what the difference in our setups would be.

I tried attaching GDB to the access node and putting a breakpoint on `ts_timestamp_bucket`, but the breakpoint doesn't even trigger.

[2021-11-03 17:43] phemmer opened #3774 "compress_chunk deadlock"
**Relevant system information:**
 - OS: Debian 10
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0
 - Installation method: apt

**Describe the bug**
It appears that I have a `compress_chunk()` call that is deadlocked against a read query on the table which the chunks belong to. How

[2021-11-03 18:17] #3774 closed

[2021-11-03 18:49] phemmer commented on #3774
Closed as I think there's more to it, and so my reproduction steps aren't accurate.

[2021-11-03 19:22] svenklemm opened #3775 "Improve UX of cagg creation"
When creating a cagg there are several restrictions in place how the time_bucket call has to be written. We currently require time_bucket to be top-level function call and having the 2nd arg be a direct column reference to the time partitioning column. Additionally caggs do not work with the offset-variants of time_bucket because those are implemented in SQL and will get inlined turning them into

[2021-11-04 01:57] phemmer commented on #3761
So below is my stack trace when I put a breakpoint on `ts_timestamp_bucket` and I omit the `GROUP BY "time"` (so that I get the expected error):

[code]

When compared against the stack trace that segfaults, we can see it deviates in the `ExecScan` frame. In the expected result, it's frame `#4` [execScan.c:238](https://github.com/postgres/postgres/blob/REL_13_4/src/backend/executor/execScan.c#L238

[2021-11-04 02:57] geuis commented on #3679
Any updates or recommendations? @NunoFilipeSantos @akuzm @gayyappan @EvanCarroll

[2021-11-04 07:45] mkindahl commented on #2565
@amincheloh Can you do an `EXPLAIN` on the `SELECT` and add it here?

[2021-11-04 07:50] mkindahl commented on #2565
@amincheloh Also, a `\d+ n2n_device_monitoring_ping` could be useful. Looking for details on how it is linked to `n2n_device_device`.

[2021-11-04 09:16] amincheloh commented on #2565
[code]

[code]

[2021-11-04 11:29] mkindahl commented on #2565
Odd. I would have expected `_hyper_1_54362_chunk_n2n_device_monitoring_ping_deviceid_occurr` to show up in the locking graph, not `n2n_device_device`.

[2021-11-04 14:38] tombh commented on #3295
Is the nearest we have to this at the moment just to look in `select * from _timescaledb_catalog.jobs`?

[2021-11-04 15:42] gayyappan commented on #3679
@geuis chunks 37 and 38 don't look right. Could you post the following for **both** chunks?

[code]

Is the output for these queries as expected?
Do you expect chunks 37 and 38 to be dropped when the policy runs?

[2021-11-04 16:47] #3683 closed

[2021-11-04 20:50] gregbacchus commented on #2104
In a kubernetes setup, ideally there should be an operator that detects the loss of the node and automatically applies the cordon

[2021-11-04 22:17] geuis commented on #3679
@gayyappan semi-lengthy update

In the process of troubleshooting this, I deleted and recreated the table sometime last week so that previous data and chunks are long gone.

However, I'm still seeing the same issue on the new table. I'll share the updated data from before below.

I recreated the table using a 1 hour interval. I thought that the issue might be related to the chunk time interval, so

[2021-11-05 09:29] juliensalinas opened #3780 "Continous aggregate policy error: "cannot execute SQL without an outer snapshot or portal""
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version: 12.8
 - TimescaleDB version: 2.5.0
 - Installation method: Docker (using `timescale/timescaledb:2.5.0-pg12`)

**Describe the bug**
Logs report that the continuous aggregation is failing (even if I'm not sure that any data is really lost during aggregation).
Here are the logs (happens every 4 minutes):
[code]

I initially h

[2021-11-05 10:59] svenklemm commented on #3780
Did you run ALTER EXTENSION in the affected database? You can verify the extension version with `\dx` in psql.

[2021-11-05 11:20] juliensalinas commented on #3780
That did the trick, thanks a lot! Sorry for not noticing this in the docs.
Thanks again 👍🏻

[2021-11-05 11:20] #3780 closed

[2021-11-05 12:07] NunoFilipeSantos commented on #3244
@cevian can you help out here?

[2021-11-05 12:17] nikkhils commented on #3447
Here's the EXPLAIN output:

[code]

So what happens is that the `DataNodeCopy` sets up a connection to the datanode in `COPY_IN` mode.
When the execution reaches the `DataNodeScan` it tries to set up a connection to enable a CURSOR to "SELECT * from conditions" from the SAME datanode. The current code expects that there should be only ONE connection to a datanode for a given transaction. Here, cle

[2021-11-05 12:19] #2629 closed

[2021-11-05 12:51] phemmer opened #3781 "segfault in `fill_result_error`"
**Relevant system information:**
 - OS: Debian 10
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 13.4 (Debian 13.4-1.pgdg100+1)
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0
 - Installation method: apt

**Describe the bug**
TimescaleDB segfaulted in [`fill_result_error()`](https://github.com/timescale/timescaledb/blob/2.5.0/tsl/src/remote/connection.c#L29

[2021-11-05 13:00] cevian commented on #3244
I'll have to look at the semantics Grafana expects (inclusive or exclusive). Not sure which is right here. @svenklemm originally wrote the DS so he may be able to help here as well.

[2021-11-05 14:35] 1000101 opened #3782 "Old chunks are not dropped after restore"
**Relevant system information:**
 - OS: NixOS
 - PostgreSQL version (output of `postgres --version`): 14.0
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0
 - Installation method: nix

**Describe the bug**
Executing `SELECT drop_chunks('mytable', INTERVAL '7 days');` on a db recreated from a backup does not drop chunks older than 7 days.

Data (~14 days of chunks) have been exported from

[2021-11-05 14:46] NunoFilipeSantos commented on #3328
Hi @120bits! Can you please move this question to our community Slack? Thank you. 👍

[2021-11-05 14:59] NunoFilipeSantos commented on #3782
Hi @1000101! What you need to do is upgrade to TimescaleDB 2.5.0 (the first version where we support PG14) and then upgrade to PostgreSQL 14.

[2021-11-05 15:04] 1000101 commented on #3782
Hi @NunoFilipeSantos, thanks for your quick answer! Could you please clarify what you mean by that?
I've created a clean install with PG14 and TSDB 2.5.0 and just imported the data from the older db (PG12). Everything's working fine except this function.

So the proper way would be first to upgrade the old db with PG12 to TSDB 2.5.0 first and just then backup the data for the import into PG14?

[2021-11-05 16:03] NunoFilipeSantos commented on #3782
@1000101 Thank you! 😊
Yes, that is exactly what I mean.

1. upgrade the timescaledb extension from 2.2.1 to 2.5.0
2. upgrade PostgreSQL from 12 to 14

[2021-11-05 16:05] NunoFilipeSantos commented on #3679
@geuis let us know if that helped and get back to us.

[2021-11-05 16:25] NunoFilipeSantos commented on #1723
Hi @rahulbsw! can you please try our latest TimescaleDB 2.5.0 and get back to us?

[2021-11-05 16:25] NunoFilipeSantos commented on #3444
Hi @micw! Can you please try TimescaleDB 2.5.0 and get back to us?

[2021-11-05 16:27] NunoFilipeSantos commented on #3023
Hi @REASY! Can you please try what @akuzm suggested and get back to us?

[2021-11-05 16:52] svenklemm commented on #3781
If one backend segfaults postgres will terminate all other backends to prevent shared memory corruption. Is that what you were seeing?

[2021-11-05 17:22] 1000101 commented on #3782
Oh right, so I did just that and these chunks don't get identified as old for some reason:
[code]
However the oldest entry is from 2021-10-29.

And I've noticed a very strange thing in my testing environment (with no new inserts made to hypertable `mytable` in the meantime):
[code]

This was all done in a testing environment.

However the current production DB (with imported data) is working fine

[2021-11-05 17:54] phemmer commented on #3781
No, I have 6 different processes that died due to SIGSEGV.

[2021-11-05 17:55] #3773 closed

[2021-11-05 19:53] tylerfontaine opened #3784 "DISTINCT ON queries return incorrect results on Distributed Hypertables"
**Relevant system information:**
 - OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc]
 - PostgreSQL version (output of `postgres --version`): `PostgreSQL 13.4 (Ubuntu 13.4-4.pgdg21.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 10.3.0-1ubuntu1) 10.3.0, 64-bit`
 - TimescaleDB version (output of `\dx` in `psql`): 2.5.0
 - Installation method: Timescale Cloud
 -
**Describe the bug**
When issuing DI

[2021-11-05 20:31] duncan-tsdb commented on #3781
If I'm reading this right:
`#0  fill_result_error (err=err@entry=0x7ffd90be8ba0, errcode=errcode@entry=512, errmsg=errmsg@entry=0x7f163142d4b3 "", res=res@entry=0x55a804435d20) at ./tsl/src/remote/connection.c:296
        entry = 0x0`

With entry having a null value, entry->conn won't resolve in line 296 of connection.c
https://github.com/timescale/timescaledb/blob/7e3e771d9f4c2feac6c6d75ba1909af4

[2021-11-07 14:46] xLarry commented on #1446
Just stumbled accross a [section in the docs](https://docs.timescale.com/api/latest/continuous-aggregates/create_materialized_view/#create-materialized-view-continuous-aggregate) that mentions the limitations quite clearly:

It might still be worth to reference that section from the [How-To Guide](https://docs.timescale.com/timescaledb/latest/how-to-guides/continuous-aggregates/) as @mineralf prop

[2021-11-07 15:50] driekus77 opened #3785 "Continuous aggregate view not working on Foreign table(s) using "postgres_fdw"?"
I'm using postgres_fdw to access our raw_data from our assets database.

Read about Continuous aggregate view and am hoping to use these views to aggregate our raw data, which is per 1 minute, to 15 minutes bucket. So I want to create an cagg view in our Assets database over a postgres_fdw to a public_rawdata schema table.

I think its a limit by design and I'm hoping to hear an alternative ;-)

W

[2021-11-07 18:54] driekus77 commented on #3389
I do have the same issue:
Using interval on a Continous Agreggation takes approx 6 minutes!:
[code]

While absolute Timestamps takes only a few seconds:
[code]

Directly on the Hypertable works ok: 1 s
[code]

[2021-11-07 20:43] mkindahl commented on #3785
Hello @driekus77 !
It is not entirely clear how you define the continuous aggregate, but it seems like you're trying to define a continuous aggregate on a non-hypertable. Unfortunately, continuous aggregates only work on hypertables. Please see [Create a continuous aggregate](https://docs.timescale.com/timescaledb/latest/how-to-guides/continuous-aggregates/create-a-continuous-aggregate/#create-a-c

[2021-11-08 00:30] svenklemm commented on #3244
I think you want lower inclusive and upper exclusive. Upper inclusive and lower exclusive would work too but might be a little weird since time_bucket returns lower. Currently it does both inclusive which leads to double counting if values are exactly on the boundary. If you were to switch to both exclusive that would lead to missing counts for values that are exactly on boundary.

[2021-11-08 08:28] svenklemm opened #3786 "Assertion failure in cursor_fetcher_rewind"
Query is in frame 34. Test setup is in #3784. Found by sqlsmith.

[code]

[2021-11-08 21:54] micw commented on #3444
Today I reverted my commit to our test base that uses "delete" rather than "truncate", so the issue should re-appear in the next few days. If it does, I switch to 2.5.0 to see if it's better.

[2021-11-09 09:18] akuzm commented on #3784
[code]

The query with DISTINCT on distributed hypertable errors out for me. TS 2.5 & PG 13.14, maybe because I'm using a debug version.

[2021-11-09 16:35] akuzm commented on #3784
One of the conditions seems to be that the planner were able to prove that `id` is constant and do not actually uniqualize on `id`. If you add more values to `IN`, or deceive it with a noop like concatenating to an empty string, the error doesn't reproduce:
[code]

[2021-11-09 18:00] pkuehnel commented on #3619
I have this issue although I updated to Timescale 2.5.0 on postgres 12.8 running in docker.

Here is the log:
[code]

[2021-11-09 18:19] tatzlwurm2 opened #3790 "System unusable for several hours with -- message like *** Error in DELETE': double free or corruption (!prev): 0x00000000017c4cd0 ***"
**Relevant system information:**
 - OS: Red Hat Enterprise Linux Server release 7.9 (Maipo)
 - PostgreSQL version (output of `postgres --version`): 13.4
 - TimescaleDB version (output of `\dx` in `psql`): 2.4.1
 - Installation method: ["source"]

**Describe the bug**
A clear and concise description of what the bug is.
System was up but repeatedly crashed and no new transactions/connections were ac

[2021-11-09 18:22] tatzlwurm2 commented on #3790
[code]

[2021-11-09 18:25] tatzlwurm2 commented on #3790
[code]

[2021-11-09 21:55] genedavis opened #3791 "Duplicate rows returned when including certain time points in call to time_bucket_gapfill"
**Relevant system information:**
 - OS: Ubuntu 20.04.3 LTS
 - PostgreSQL version (output of `postgres --version`): 13.4
 - TimescaleDB version (output of `\dx` in `psql`): timescaledb 2.4.2, timescaledb_toolkit 1.1
 - Installation method: apt install

**Describe the bug**
Certain specific calls to time_bucket_gapfill return duplicate results.  With a slight change in the time range, the problem go

[2021-11-10 07:30] mkindahl commented on #3496
It should work with existing databases. However, when you say that it is still there, do you mean that you see this error in the logs from policy runs, or that you see it when you run the refresh procedure?

Not sure why it would happen, but a suspicion would be that the policies are not updated to use the new procedure, so can you check if removing and creating the policy will fix the issue?

[2021-11-10 07:41] juliensalinas commented on #3496
Thanks a lot @mkindahl , this is now solved (see https://github.com/timescale/timescaledb/issues/3780).
This is because I did not run `ALTER EXTENSION` after upgrading.
Thanks a lot for your help!

[2021-11-10 07:47] mkindahl commented on #3496
@juliensalinas Ah, that explains it. Thanks for confirming.

[2021-11-10 07:59] mkindahl commented on #3414
What installation method did you use? Timescale extension is typically built with debug symbols, so installing, for example `coredumpctl` would allow you to inspect crashes.

[2021-11-10 08:21] mkindahl commented on #3790
@tatzlwurm2 Thank you for the bug report. Since the backtrace do not contain any debug symbols, it is hard to understand where the double free is occurring. You seem to build it yourself from source. Can you build it with debug symbols enabled?

[2021-11-10 08:33] micw commented on #3444
Unfortunately, the error does not occur anymore. I will excessively use truncate in future tests to see if I can reprodice it again.

[2021-11-10 08:48] mkindahl commented on #3791
@genedavis Thank you for the bug report. Running a simple example does not allow me to reproduce it. Do you have the table definition and some sample data that can reproduce the bug?

[2021-11-10 08:59] micw opened #3793 "TRUNCATE has sometimes no effect"
**Relevant system information:**
 - OS: linux
 - PostgreSQL version (output of `postgres --version`): 12.6
 - TimescaleDB version (output of `\dx` in `psql`): 2.2.1 (also tested with 2.5.0)
 - Installation method: docker

**Describe the bug**
I have an integration test that creates a complex database. Before each test it runs "truncate tenants cascade" which clears the whole database (because ever

[2021-11-10 09:06] micw commented on #3793
Possibly related to #3580, #3626, #3444

[2021-11-10 09:22] greenweeds commented on #3760
Another report of this issue in Slack https://timescaledb.slack.com/archives/C68KG4F6G/p1636467384069600?thread_ts=1635427829.035400&cid=C68KG4F6G

[2021-11-10 09:52] akuzm commented on #3784
After working around the error message, we still don't always get the correct result:
[code]

The plan looks superficially correct, but somehow only one row is returned from each data node scan:
[code]

[2021-11-10 11:28] NunoFilipeSantos commented on #3760
@greenweeds the report you linked was on MST. Currently, MST does not support PG14.

[2021-11-10 11:44] NunoFilipeSantos commented on #1612
Hi @depfryer! Can you please try with TimescaleDB 2.5.0 with a supported PG version (12, 13, 14) and get back to us? Thank you!

[2021-11-10 11:48] NunoFilipeSantos commented on #3593
Hi @bodypumper! Can you please update to TiemscaleDB 2.5.0 with a supported PG version (12, 13, 14) and get back to us? Thank you?

[2021-11-10 11:52] NunoFilipeSantos commented on #2855
Hi @lucapaganotti! Can you please update to TimescaleDB 2.5.0 and get back to us? Thank you!

[2021-11-10 11:54] kancsuki opened #3794 "DROP COLUMN and CREATE a partial INDEX in the same transaction -> pg_dump does not work"
**Relevant system information:**
 - OS: Windows 10 x64
 - PostgreSQL version 13.4
 - TimescaleDB version 2.5.0
 - Installation method: using Docker

**Describe the bug**
After running a migration script on our timescaledb instance, pg_dump stopped working with a weird error message '_ERROR:  invalid attnum 4 for relation "\_hyper\_3\_3\_chunk"_'.

I was able to reproduce the bug. It looks like it

[2021-11-10 13:11] 1000101 commented on #3782
I've just noticed that I can't query caggs by bucket older than the time when I did restore. They are present (I can see their chunks `SELECT * FROM _timescaledb_internal.`) but I can't query them, i.e. `SELECT` from cagg will return only the newly added data.

[2021-11-10 13:41] erimatnor opened #3795 "Optimize UPDATE/DELETE on distributed hypertables"
### Estimation
O:1W
P:3W

Currently, UPDATE and DELETE happens per-chunk and requires fetching each row to be deleted. This should be optimized to only translate to one DELETE/UPDATE per remote datanode on their respective hypertables.

Ideally, we should only do DIRECT deletes, i.e.,, using the direct API in the foreign data wrapper that avoids first fetching tuples. This only works if we don't h

[2021-11-10 14:02] genedavis commented on #3791
Thank you @mkindahl - I haven't yet found a simple reproducing case.  I'll work harder at that now.  In the meantime I was thinking of trying possible workarounds, and I am open to suggestion:  regenerating the table for example, or alternate queries.

[2021-11-10 14:54] pkuehnel opened #3796 "Autorefresh of continuous aggregates not working"
**Relevant system information:**
 - OS: Debian 10
 - PostgreSQL version: 12.8
 - TimescaleDB version: 2.5.0
 - Installation method: using Docker

**Describe the bug**
Auto refresh of continuous aggregates using `SELECT add_continuous_aggregate_policy` not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a hypertable eg.:
`SELECT create_hypertable('tasmotalogs', 'Timestamp', ch

[2021-11-10 15:32] genedavis commented on #3791
One update from above.  I decompressed the chunk (identified in the explain plan) and I got the correct results this time.   I will now attempt to recompress the chunk to see if it is still reproducible.  Here is the (uncompressed) explain plan for reference:
[code]

[2021-11-10 15:54] genedavis commented on #3791
Interestingly, recompressing the chunk brought the problem back again.  This might suggest there are steps I can do to reproduce the problem.  Side question: Are there any tools to query the chunk tables to help diagnose what could be going on?

[2021-11-10 22:49] geuis commented on #3679
@NunoFilipeSantos Checking back in after letting this run for a few more days.

I see that currently chunks older than 24 hours are being dropped:
![image](https://user-images.githubusercontent.com/53883/141206245-c25bb4bf-d340-42c5-99f9-bb9e65bfa31e.png)

 I'm trying to understand why chunks are being dropped after 24 hours instead of 1 hour as defined in the retention policy.

[2021-11-11 01:03] genedavis commented on #3791
ok with a small amount of identical data - even after hypertabling and compressing, I can't reproduce.  This leads me to think it needs more data to make a more complex plan to trigger the scenario.  I need to focus on the workaround for a bit (decompressing the critical data) but will see if I can make a big enough case for reproducing without needing all 18B rows I have.

[2021-11-11 07:35] bodypumper commented on #3593
Hi @NunoFilipeSantos !
Thanks your advice, But it did't work.

[2021-11-11 08:06] mkindahl commented on #3793
@micw Thank you for the bug report. This sounds really strange, and also very hard to debug.

We have a lot of different `TRUNCATE` being executed as part of our testing, so it does not sound like a random event, more like a very specific situation that you happen to have.

Do you see anything in the log that indicate that something is wrong? What if you turn increase the log level?

Do you have a

[2021-11-11 08:26] mkindahl commented on #3791
@genedavis It might be related to the insertion support for compressed tables. These rows are first added to a separate chunk, and then merged into the compressed chunk. It might be related to that. Did you insert any rows into the compressed chunk? Since you did a decompress and a recompress it makes things more complicated. After that, you should have a single compressed chunk.

[2021-11-11 08:36] mkindahl commented on #3794
@kancsuki Thank you for the bug report. The issue is trivial to reproduce.

[code]

[2021-11-11 09:20] mkindahl commented on #3796
@pkuehnel Thank you for the bug report. This issue should be fixed in 2.5.0 (https://github.com/timescale/timescaledb/pull/3489). Can you add the output of `\dx` just to verify that it really is for 2.5.0?

I tried to reproduce it locally, but it runs fine:

[code]

Log contains:
[code]

[2021-11-11 09:24] pkuehnel commented on #3796
I already checked the version. Is it possible that there are any issues because my database was created with an older version. Because I had that issue, after that I updated to 2.5.0, deleted all continuous aggregates an recreated them but still not fixed. Any ideas what I can do?

[2021-11-11 09:50] mkindahl commented on #3760
@phemmer We are using some particular security labels for internal purposes&mdash;specifically to mark a node as member of a distribution cluster&mdash;but this seems to create issues in the restore. Do you get this error for an access node, a data node, or a plain timescaledb instance?

[2021-11-11 09:55] pkuehnel commented on #3796
Here is the output:
[code]

[2021-11-11 10:10] micw commented on #3793
PLease let me know how to increase debug and/or run a debug build (I just need a replacement docker container for it).

[2021-11-11 11:05] mkindahl commented on #3793
As a first step, looking at the current log and see if there are any hints, especially if there are any errors or crashes.

After that, you can edit the configuration file and set `log_min_messages` to more verbose levels. You can see (Error Reporting and Logging)[https://www.postgresql.org/docs/14/runtime-config-logging.html] for more options to set.

As you noticed, we have made a few fixes in t

[2021-11-11 11:23] mkindahl commented on #3295
Yes, but I find that a little clunky to use since it does not refer to the continuous aggregate. It would be significantly smoother to provide any object that you can add a policy to and just get all the policies for that object.

[2021-11-11 11:41] micw commented on #3793
@mkindahl Thank you for advice. I'm already running on 2.5.0 but opened this because the issue still exists on 2.5.0 if the database was created with the older version before.

Here's my log with debug5:

[code]

[code]

The first block is from the working test. There are exactly 5 of these blocks, each looking the same. The 6th test always fails (that's the 2nd block). It looks like the SQL comma

[2021-11-11 11:53] micw commented on #3793
I also created trace logs of the JDBC driver. The first is from the last working test run, the last from the failing:

[code]

[code]
[code]

[2021-11-11 12:09] phemmer commented on #3760
This particular error came from an access node, as that's what I tried upgrading first. Do not know if the data nodes would have experienced the same issue.

[2021-11-11 12:39] mkindahl commented on #3679
@geuis Let's eliminate some potential problems.

Could you show the contents of the `_timescaledb_config.bgw_job` table? It contains definitions and configuration variables, so good to eliminate that it is not misconfigured.

What does the log show when the policy is executed?

[2021-11-11 14:09] genedavis commented on #3791
No rows were inserted into a compressed chunk.  Here's what we did:
1. create table
2. define table as hypertable
3. insert about 18B rows
4. set up compression rules
The data has been static up to now.

[2021-11-12 06:23] pkuehnel commented on #3796
I just tried all the statements from you and get the same error:

[code]

[2021-11-12 07:43] rahulbreezo opened #3798 "error when try to get hypertable size in 2.x and hypertable name startes with capital letter"
**Relevant system information:**
 - OS: Docker image of 2.3 with postgis and postgres
 - PostgreSQL version 12.0
 - TimescaleDB version (output of `\dx` in `psql`): 2.3
 - Installation method: Docker

**Describe the bug**
When I try to get size of hypertable it give me error

[code]

**To Reproduce**
Just try to get size of hypertable whose name starts with capital letter. works fine with hypertab

[2021-11-12 12:55] mkindahl commented on #3798
This is normal behaviour and is how [PostgreSQL treats identifiers](https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS). If you need to preserve case, you need to double-quote the identifier inside the string.

[code]

[2021-11-12 12:55] #3798 closed

[2021-11-12 13:37] mkindahl commented on #3796
@pkuehnel Could you give the commands that you actually used to start the container and to connect to the container?

I started a new container using:

[code]

And connected to the server using

[code]

[2021-11-12 13:46] pkuehnel commented on #3796
@mkindahl I am using the container with `docker-compose up -d`. The docker-compose.yml looks like that:

[code]

I am using `docker exec -it smartevcharge_database_1  psql -U postgres -X` to connect to to the container.

[2021-11-12 15:14] NunoFilipeSantos commented on #3785
Hi @driekus77! Has @mkindahl suggestion helped you?  If so can you please close the issue? Thank you!

[2021-11-12 17:23] gayyappan opened #3802 "Support compression policy based on max time in the table"
Compression policy uses now() as the reference to determine the chunks that are to be compressed.

It would be useful to have  apolicy that uses the max timestamp in the hypertable as the reference point rather than now().
This approach is used by Promscale. The team has a custom UDA to enforce this now.
Exposing this via a policy api will benefit other users too.

[2021-11-13 00:29] karandhodi opened #3804 "Multi-node TimeScaleDB: Explain verbose on access node shows pushdown happening to only one data node"
I am trying to run a query on Multi-node TimeScaleDB. However the query speed is not satisfactory at all. On doing **explain verbose**, I see even though chunks for a time interval are present on data0 and data1 nodes, the query gets pushed down to only data1.

Here is the output:
[code]

However on running the query:
[code]
The chunks for time range 4:00 to 6:59 all belong to both data0 and data1

[2021-11-13 23:26] geuis commented on #3679
The retention policy schedule_interval shows 1 day. How does that square with `drop_after` in the config column being set to an hour?

[code]

[2021-11-14 19:48] svenklemm opened #3805 "Fix windows remote_txn segfault"
The remote_txn test segfaults in appveyor leading to failing test runs so currently the remote_txn test is skipped.

[2021-11-15 08:10] mkindahl commented on #3804
@karandhodi Thanks for the bug report! Did some minor editing to make it more readable. Hope that is OK.

[2021-11-15 10:18] iqbalaydrus commented on #2823
@nikkhils @NunoFilipeSantos yes, I limited the `temp_file_limit` to avoid excess disk usage since the temp partition is different from postgres' data partition and has limited capacity. My point is, I could avoid increasing the`temp_file_limit` if the `max_interval_per_job` parameter was there since it would aggregate in smaller batches.

[2021-11-15 10:21] iqbalaydrus commented on #2823
@nikkhils @NunoFilipeSantos yes, I limited `temp_file_limit` config in postgres

[2021-11-15 12:01] pbowyer commented on #3008
It would be _very helpful_ if the TimescaleDB team would add a note to the "Install via APT" page (and any others) saying that ARM64 builds are not available. It's taken a while to figure that out!

[2021-11-15 12:54] mkindahl commented on #3679
@geuis These are two different parameters and this explains why you don't see drops until after 24 hours. The `drop_after` parameter just tells how far back the policy should look, not how often it should do the check. The default schedule interval is always 1 day. To change the schedule interval, you have to use [`alter_job`](https://docs.timescale.com/api/latest/actions/alter_job):

[code]

Unfo