[2020-10-02 09:19] franck102 commented on #2479
Not quite, the query below uses a single hypertable and no subqueries, and it fails. Beyond that, how do we create continuous aggregates on counters that can contain resets?

[code]

[2020-10-02 14:54] alefebvre-berner commented on #2265
I also upvote this. It would be very helpfull to me.
Also please consider having the offset being pass as a column of the table as the timestamp is, not only a fixed value.

[2020-10-02 14:56] erimatnor commented on #2397
Closed by #2464

[2020-10-03 09:43] himkool opened #2486 "Delete query consuming all the memory available"
Os: Centos7
PostgresSQL version: 11
Timescale version: 1.6.0
Installed memory: 64Gb

Query: delete from data.samples_interface_errors where time>='2020-06-18 00:00:00' and time <'2020-06-19 00:00:00';
Delete query consuming all the memory available and then the database goes in the recovery mode.

[2020-10-04 02:00] ryan-shaw commented on #2480
This appears to just been a coincidence with it happening on a hypertable as we observed a similar segfault on a standard table and having downgraded to PG 11.9 TS 1.6.1.

[2020-10-04 02:00] #2480 closed

[2020-10-04 21:50] WireBaron opened #2488 "Job_stats view shows paused jobs as scheduled."
When jobs are altered to no longer be scheduled (`alter_job(<id>, scheduled => false)`), this change is not reflected in the job_stats view.

[2020-10-05 07:58] k-rus commented on #2479
@franck102 You cannot create a continuous aggregates with ORDER BY, see section restrictions in [the documentation](https://docs.timescale.com/latest/api#continuous_aggregate-create_view). I believe window clauses are also not allowed, since it might require to access data from different group.

Don't you get meaningful error messages?

[2020-10-05 13:54] franck102 commented on #2479
No, the only error message I get is the one above.
I hadn't realize that the "<select_query> is of the form :" statement meant nothing but what is listed there is allowed.

This probably means we'll have to give up on continuous aggregates and roll our own pgcron job.

[2020-10-05 13:56] #2479 closed

[2020-10-05 14:12] erimatnor opened #2493 "Compression via table access method"
Now that PostgreSQL supports table access method, it might implementing chunk compression via this API. It would make compression much more transparent and it would be easier to support, e.g., writes to compressed data.

[2020-10-05 17:14] #2488 closed

[2020-10-05 22:31] emacsway commented on #2371
I see the same error for Timescaledb version 1.7.4 when I create CREATE INDEX  WITH (timescaledb.transaction_per_chunk) inside anonymous code block:

[code]

[2020-10-06 08:08] ArtificialPB commented on #2424
Unfortunately, we're unable to reproduce this outside our main production database, where this happens consistently. Here's what we tried so far:
- Completely new instance of PostgreSQL with Timescale via Docker, with same table configuration and Postgres/Timescale versions as in production.
- New database inside production instance of PostgreSQL, with same table configuration as our main database

[2020-10-06 10:04] fvannee opened #2500 "Incorrect query results due to expression propagation"
- OS: CentOs
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.3
 - Installation method: source

**Describe the bug**
A query produces incorrect results due to expression propagation that Timescale seems to do too eagerly.

**To Reproduce**
[code]

**Expected behavior**
Both first and second `SELECT` query should produce identical

[2020-10-06 14:14] stoxx commented on #2291
A secondary (range) index should be able to help this if time and sequence have high spatial correlation.
https://github.com/timescale/timescaledb/issues/2418

[2020-10-06 14:44] franck102 commented on #414
Can we know what the exact requirements are for alternate time_bucket functions?

The function below returns a timestamptz, it has the same options as the original time_bucket function, and yet I get that "no valid bucketing function found" error when trying to use it to create a CT.
The function works like a charm to create a regular (non CT) view.

Thanks!

[code]

[code]

[2020-10-06 17:06] mkindahl opened #2503 "Do not generate error in log when adding data node"
**Relevant system information:**
 - OS: Ubuntu 19.10
 - PostgreSQL version (output of `postgres --version`): all
 - TimescaleDB version (output of `\dx` in `psql`): 2.0
 - Installation method: source

**Describe the bug**
When a data node is added using `add_data_node` and the database already exists on the data node, the error is ignored on the access node which continue to bootstrap the data nod

[2020-10-07 07:07] jocrau opened #2504 "Creating an index using transaction_per_chunk setting fails ifable contains an attribute that was dropped"
**Relevant system information:**
 - OS: Debian GNU/Linux 10 (buster)
 - PostgreSQL version (output of `postgres --version`): 11.9
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: Helm

**Describe the bug**

I tried to create an index using the [transaction_per_chunk setting](https://docs.timescale.com/latest/api#create_index) running

[code]

but it fails with

[co

[2020-10-07 07:26] jocrau commented on #2504
I tried running the blocking `CREATE INDEX IF NOT EXISTS state_interval_right_open_index ON timeseries.state_interval (metric_ref, native_code, label) WHERE "end" IS NULL;` but that also fails with:

[code]

[2020-10-07 11:08] pmwkaa opened #2506 "Add if_attached argument to detach_data_node()"
Since all of other data node management function have `if_not_exists`, `if_exists` and `if_not_attached` arguments we should also add `if_attached` to the `detach_data_node()` for consistency.

[2020-10-07 11:56] Nk185 commented on #1879
@svenklemm

Well, it might help but won't solve the issue - the number of chunks will be monotonically growing over time, so eventually, I will end up with the same problem sooner or later.  Plus, the current value for the interval follows best practices outlined you Timescaledb guide.

So changing the value is not an option to go.

It's not intended to have one - the point of this query is to bri

[2020-10-07 12:15] erimatnor commented on #2386
The `hypertable` parameter is not `relation` and `retention_window` is `drop_after`. Closing since changes will be released in 2.0.

[2020-10-07 12:15] #2386 closed

[2020-10-07 12:21] niksajakovljevic opened #2508 "Can't add a data node with initialized extension as different owner"
**Relevant system information:**
 - OS: Debian GNU/Linux 10 (buster)
 - PostgreSQL version (output of `postgres --version`): all
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0-rc1
 - Installation method: source

**Describe the bug**
If non-extension owner tries to add a data node an error will be thrown.

**To Reproduce**
1. start two nodes and create database X and tsdb extension as `p

[2020-10-07 13:43] simfleischman opened #2509 "Compression process deadlocks with drop hypertable."
**Relevant system information:**
 - OS: Mac OS, Linux
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.3
 - Installation method: Homebrew on Mac, Nix on Linux

**Describe the bug**
The compression process and the drop table (for a hypertable) command deadlock.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a hypertab

[2020-10-07 13:46] #2185 closed

[2020-10-07 14:05] simfleischman commented on #2509
We initially thought it was related to #902 since it was a migration with a large of amount of inserts (20M rows).

However, upon investigation we found the deadlock was on a chunk table from the hypertable being dropped, not the hypertable(s) that we were inserting into.

Workaround: disable compression on the hypertables being dropped at the beginning of the migration.

[2020-10-07 14:57] erimatnor commented on #2285
@slasktrat We have a couple of ideas of what could be wrong here. Do you have backfill (even if just a single point) that regularly happens further back than `max_interval_per_job` (i.e., further back than 2 days)?

One thing you can test is to set a large value for `max_interval_per_job` so that everything is materialized in one run of the background job (this might mean it takes a longer time, t

[2020-10-07 15:00] akamensky commented on #1986
@erimatnor not sure why this is closed? As I posted above the issue is still happening on 1.7.3. We also upgraded to 1.7.4 but it appears the issue is still there.

[2020-10-07 15:07] gayyappan commented on #2285
@slasktrat  You do say that you get backfill data for the "2 hour range". This generates "invalidations" : i.e. the range in the cagg is not up to date with the underlying data. For this use case, I would set refresh_lag = 2 hours or more and enable real time aggregation.In general you want to materialize up to a point which is not constantly modified (by setting refresh_lag) and use real time agg

[2020-10-07 16:04] erimatnor commented on #1986
@akamensky perhaps it was a mistake to close. The issue was targeted for 1.7.3 and there was a fix merged. I think it might also be a duplicate of https://github.com/timescale/timescaledb/issues/2140. If so, can we track progress in that issue. Otherwise, it is OK to reopen this one.

[2020-10-07 19:11] #2508 closed

[2020-10-07 21:37] mfreed commented on #2500
Thanks for this detailed report, @fvannee !

[2020-10-07 22:35] mr-ns opened #2511 "Multinode: CTE query fails with "request already in progress""
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version: 12.3 (Ubuntu 12.3-1.pgdg20.04+1)
 - TimescaleDB version: 2.0.0-beta5 (multinode)
 - Installation method: apt

**Describe the bug**
Attempting to get the "Top 10" time series for a metric via the following CTE query fails as indicated:
[code]
The same error results if the query is re-written to use a sub-select:
[code]
Per

[2020-10-08 06:29] mkindahl commented on #2511
The errors "request already in progress" is generated by TSDB when an attempt is made to send a request asynchronously on a connection that already has a request "in flight" and the error "failed to set single row mode for" is a result of trying to set single-row mode using `PQsetSingleRowMode` on a connection but not doing it directly after `PQsendQuery`. Both of this suggest that the dispatching

[2020-10-08 06:48] akamensky commented on #1986
@erimatnor I feel it is something different, we don't have error on drop_chunks. It either works or we get a segfault with (above) attached stack trace. The issue you referenced doesn't seem to have segfaults.

[2020-10-08 06:48] mkindahl commented on #2511
`EXPLAIN VERBOSE` for the query above is

[code]

[2020-10-08 07:03] RoryMMMM opened #2512 "Very Slow Bulk Insert Performance"
**Relevant system information:**
 - OS: Ubuntu 20
 - Postgres ver 12
 - TimescaleDB version: 1.7.4
 - Installation method: Docker image tagged timescale/timescaledb-postgis:1.7.4-pg12
- Running on server and allocated 40 cores, 90+ gigs of ram, raided HDD's

**Describe the bug**
When running database inserts from historical data into a tuned, up to date version of TimescaleDB, after several minute

[2020-10-08 07:03] #2503 closed

[2020-10-08 07:23] mkindahl opened #2513 "Update to 1.6.0 fails with extension version mismatch"
**Relevant system information:**
 - OS: Ubuntu 19.10, but this applies to any OS
 - PostgreSQL version (output of `postgres --version`): any
 - TimescaleDB version (output of `\dx` in `psql`): 1.6.0 and later
 - Installation method: any (but I use source)

**Describe the bug**
Upgrading to 1.6.0 from previous versions fail if you have a drop chunks-policy with `cascade_to_materialization = false`.

[2020-10-08 07:39] mkindahl commented on #2513
A workaround for this issue is to drop the policies, do the update, and then re-create the policies.

[2020-10-08 07:56] erimatnor commented on #1986
@akamensky OK, reopening. I think, however, that we need a bit more info to move forward on this issue. We need to be able to reproduce it locally. Can you provide the following information:

*  Schema/table definition of the hypertable on which this happens
*  `create_hypertable` command to create the hypertable (in particular, partitioning setup, e.g., are you using space partitioning?)
* Concur

[2020-10-08 08:10] janmarthedal commented on #2348
@davidkohn88 @svenklemm What is the status of this issue? Are you going to look further into it?

[2020-10-08 12:00] RoryMMMM commented on #2512
Okay, I've reduced the number of workers that are decoding data to 1. In this case the data going into the DB should be ordered in time. In this case I'm not seeing any slow down of inserts (after running for about 30 mins. Usual slow down was after 5-10 mins). So I'm guessing TSDB isn't great at handling unordered time data?

[2020-10-08 22:51] davidkohn88 commented on #2512
Yes in general, you should be backfilling in at least loose time order or else it defeats many of the optimizations we do. Also, you should make sure you're using bulk inserts via the`execute_values` routine with psycopg2 or with a copy command.

[2020-10-08 22:53] davidkohn88 commented on #2512
I'm going to close this, but if you need further info feel free to reopen.
You can also join our community slack group (slack.timescale.com) to get help with things like this.

[2020-10-08 22:53] #2512 closed

[2020-10-08 23:18] yannick opened #2518 "feature: probabilistic counting"
would be neat if aggregates in chunks/views could contain probabilistic datastructures for uniqueness counting of large sets.
a simple linear counter that can be merged gives excellent accuracy and might work much better than eg HyperLogLog++.

example implementations that we did earlier:
https://github.com/tamediadigital/lincount/blob/master/source/lincount/package.d#L119
https://github.com/tamed

[2020-10-09 02:17] akamensky commented on #1986
We have quite a large number of hypertables, it happens on different ones, but mostly on high-traffic ones. Unfortunately I can't really provide table definition as that would break compliance requirements. Highly obfuscated table definition for one of them was provided in #1841 please see if that is helpful.

All of them are of form `SELECT create_hypertable('public.table_name', 'timestamp_column

[2020-10-09 09:30] jdsdc commented on #1600
Having the same problem. Any update on this?

[2020-10-09 10:23] #2506 closed

[2020-10-09 13:51] k-rus opened #2521 "Miscellaneous cleanups"
Few code and API cleanups are good to do before final release of 2.0:

- [x] Remov column `schedule_interval` from `timescaledb_information.continuous_aggregates` view (@k-rus)
- [x] Rename argument `cagg` in `refresh_continuous_aggregate` into `continuous_aggregate` as in `add_continuous_aggregate_policy`. (@k-rus)
- [x] Remove modification time from invalidation log tables (@mkindahl )

[2020-10-09 16:16] arul67800 commented on #517
I installed two versions of postgresql viz.12 and 13 and i want to enable timeseries in 12..but when executing setup.exe..this error pops up..how to tell setup exe the correct path of postgresql 12

[2020-10-09 16:37] arul67800 commented on #721
needs fix at the installation level...

[2020-10-10 10:52] greatbn commented on #414
Hi @franck102,

I created the function as you mentioned above. But when I create a view, I got the error `ERROR:  no valid bucketing function found for continuous aggregate query`.

My data like this

[code]

The `create view` command

[code]

Thank you!

[2020-10-10 16:15] cooltechie007 opened #2522 "facing error while performing make command on MACOS catalina"
MACOS catalina version
                 config_file
---------------------------------------------
 /Library/PostgreSQL/12/data/postgresql.conf

when running command - sudo make
[ 26%] Built target sqlupdatescripts
[ 26%] Built target sqlfile
[ 26%] Linking C shared module timescaledb-1.7.4.so
ld: warning: directory not found for option '-L/opt/local/Current/lib'
ld: warning: directory not found fo

[2020-10-10 16:54] cooltechie007 commented on #2522
Found the solution by brew install timescaledb.

[2020-10-10 16:54] #2522 closed

[2020-10-10 20:42] fvannee opened #2523 "Custom time types broken for hypertables in master"
**Describe the bug**
On master branch there seems to have been an overhaul how custom types for timestamps are handled. In 1.x any custom type that was binary coercible was allowed to be a timestamp type. Now, this is only allowed for *implicitly* convertible types. So, somehow this condition has been both relaxed and made stricter at the same time. Non-binary coercible types that are implicitly c

[2020-10-10 21:01] mfreed commented on #2523
Thanks for the detailed report / question, @fvannee .  Team will discuss.

[2020-10-11 00:11] WireBaron opened #2524 "Keep precompressed values for reltuples and relpages for compressed hypertables."
Currently when we compress a hypertable, we create a new table to store the compressed data and then truncate the existing table.  This ends up zeroing the reltuples, relpages, and relallvisible columns of the pg_class entry for the hypertable, which may result in poor planning of queries on that table.

Additionally, we use the reltuples value from pg_class for our approximate_row_count function.

[2020-10-11 06:28] franck102 commented on #414
Well yes, that’s exactly the problem I reported. You can create a regular view (without times aledb.continuous), but not a continuous aggregate view 👎

[2020-10-11 09:13] fvannee commented on #2523
Thanks @mfreed I made a small change to my post above to make clear that in our particular use case it is actually an ASSIGNMENT-level cast. Previously in 1.x IMPLICIT/ASSIGNMENT/EXPLICIT were all allowed. Now, only IMPLICIT is allowed. So for our use case, changing it to allow IMPLICIT/ASSIGNMENT would already work. However, maybe there are other custom types out there which have an EXPLICIT cast

[2020-10-11 14:47] gjeusel commented on #1248
Any news on this issue @cevian ?

I believe adding an optional `time_zone` argument to `time_bucket` to mimic the signature of current postgresql [date_trunc](https://www.postgresql.org/docs/12/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC) seems like a good plan.

What are your thoughts ?

[2020-10-11 19:46] kodi commented on #2304
We had a same issue, a we were able to remove it by using same solution.
(issue appeared after instance crash, and restoring from `.sql` dump)

But then, when I tried to create new view, this error happens:
`ERROR:  trigger "ts_cagg_invalidation_trigger" for relation "_hyper_3_1000_chunk" already exists`

Does this sounds familiar? Googling for answers yields zero useful results.

[2020-10-11 20:07] svenklemm commented on #2504
@jocrau can you provide a test case for the transaction_per_chunk case. I could reproduce the 2nd error you got but not the first one.

[2020-10-12 05:00] svenklemm opened #2528 "tableoid not set correctly for queries on distributed hypertables"
Tableoid for queries on distributed hypertables is set to hypertable instead of chunk when timescaledb.enable_per_data_node_queries is true
[code]

[2020-10-12 08:20] lrolsen opened #2529 "Compression improvements from VictoriaMetrics"
Hi,

Have you considered implementing any of the improvements that VictoriaMetrics have added to standard Gorilla compression?

They are outlined [here] (https://medium.com/faun/victoriametrics-achieving-better-compression-for-time-series-data-than-gorilla-317bc1f95932)

As a simple test I tried converting float8 to int8 in a table containing 224mio rows of financial data.
From this:
CREATE TABLE

[2020-10-12 09:28] erimatnor opened #2530 "Disable failing retention policies when upgrading to 2.0"
Prior to 2.0, it was possible to create a continuous aggregate on a hypertable that had a retention policy. This would make the retention policy fail, but this wasn't made clear. It was also possible to add retention policies after creating continuous aggregates, even if those policies wouldn't work due to conflicting `ignore_invalidation_older_than` settings.

Because of the above situation, it i

[2020-10-12 10:08] k-rus commented on #2530
One possible approach for disabling is to set `scheduled` to `false` in the migrated retention policy, so it will not run. And in any case it is important to create a note to the user.

[2020-10-12 12:51] svenklemm opened #2532 "Distributed hypertables do not support system attributes"
When querying system attributes on a distributed hypertable the following error is thrown:
[code]

[2020-10-12 14:23] olijzenga commented on #1777
I'm experiencing the same issue. Have there been any attempts to resolve this issue in the meantime?

My work around is something like this:
[code]
Where the table name is included in the trigger definition. Then in `printable_table_name`, the `TG_ARGV` array can be used to access the table name. It is not a nice solution but it works and it does not seem to affect performance.

[2020-10-12 14:53] erimatnor commented on #2523
@fvannee Let me take a look at this. I recall there being a good reason for the change, but I need to go back and look at the context. Perhaps there was something I overlooked.

[2020-10-12 14:54] adam-bhaiji commented on #1879
Just to add further to @Nk185 comment, even if you do have a time filter on the created buckets, the query is extraordinarily slow and often hangs. I would hazard a guess that all chunks are being considered, as outlined at the start of this issue in https://github.com/timescale/timescaledb/issues/1489

[2020-10-12 15:07] mfreed commented on #2529
Hi @lrolsen thanks for the request.

We deemed it very important that our compression algorithms as built as **lossless** and **correct by default**, such that they don't currently gain higher compressibility by using lossy compression.

That's the case with VictoriaMetrics approach, even though this write-ups or blog posts don't overtly say this.  When you insert, compress it, then decompress it,

[2020-10-12 15:20] svenklemm commented on #843
ARM images are available on docker hub: https://hub.docker.com/r/timescale/timescaledb/tags

[2020-10-12 15:20] #843 closed

[2020-10-12 15:26] svenklemm commented on #1563
Closing this since it seems it was resolved. feel free to reopen if the issue is still current.

[2020-10-12 15:26] #1563 closed

[2020-10-12 15:29] svenklemm commented on #1540
Duplicate of #1543

[2020-10-12 15:29] #1540 closed

[2020-10-12 15:31] svenklemm commented on #1536
Closing this since there was no activity for a long time. feel free to reopen if the issue is still relevant.

[2020-10-12 15:31] #1536 closed

[2020-10-12 15:32] svenklemm commented on #1492
Closing this since there was no activity for quite some time, feel free to reopen if the issue is still current.

[2020-10-12 15:32] #1492 closed

[2020-10-12 15:33] svenklemm commented on #1494
Closing this since there was no activity for quite some time, feel free to reopen if the issue is still current.

[2020-10-12 15:33] #1494 closed

[2020-10-12 15:35] svenklemm commented on #1508
Closing this since this should be fixed in recent versions, feel free to reopen if the issue is still current.

[2020-10-12 15:35] #1508 closed

[2020-10-12 15:54] #2324 closed

[2020-10-12 19:51] inselbuch opened #2536 "Time-weighted averages, any time interval, computed on the fly"
It would be valuable for TimescaleDB to generate time-weighted averages for any specified interval on the fly. A time-weighted average differs from an arithmetic average:

1) the value preceding the time interval in question must be included in the computation
2) any value in the interval is weighted by the amount of time it was true (i.e., until the next value arrived)

For example:

select time,

[2020-10-12 19:58] ArtruneTranspara commented on #2536
+1

[2020-10-12 21:21] erimatnor opened #2537 "Handle NOLOGIN users in multinode setup"
In a multinode setup, a role created with NOLOGIN on the access node must be created with LOGIN on data nodes so that the access node can connect to data nodes using the role.

However, it would be nice if this was made more transparent by, e.g. having roles be the same on each node and then always connect to data nodes as the session user and switching roles on data nodes in the same way session

[2020-10-13 01:30] phemmer commented on #1900
After testing manual compression on beta 6, it appears to work. Is manual compression something that would be considered stable when 2.0 is released? Or is it "use at your own risk"?

[2020-10-13 06:36] #1660 closed

[2020-10-13 07:45] Kumar6295 opened #2540 "Unable to update hypertable columns"
CREATE TABLE test (
    time timestamptz NOT NULL,
    id character varying(50) NOT NULL,
    name text NOT NULL,
    value double precision
);

SELECT create_hypertable('test', 'time','id',16, chunk_time_interval => interval '1 day');

insert into test values('2020-10-04 00:00:00','1','TEST',100);
insert into test values('2020-10-04 01:00:00','2','VOLUME',100);
insert into test values('2020-10-04

[2020-10-13 08:07] svenklemm commented on #752
In 2.0 there is an API to create chunks with specific constraints
You can find examples in the tests:
https://github.com/timescale/timescaledb/blob/master/tsl/test/sql/chunk_api.sql.in

[2020-10-13 08:07] #752 closed

[2020-10-13 08:11] svenklemm commented on #312
In 2.0 you can use a user-defined action to implement this functionality

[2020-10-13 08:11] #312 closed

[2020-10-13 08:14] svenklemm commented on #826
Seems this question was answered so closing this, feel free to reopen if it wasnt sufficiently answered.

[2020-10-13 08:14] #826 closed

[2020-10-13 08:29] svenklemm commented on #572
In 2.0 you will be able to implement this with a user-defined action.

[2020-10-13 08:29] #572 closed

[2020-10-13 08:31] #2188 closed

[2020-10-13 08:34] svenklemm commented on #2099
Closing this since this should be resolved. Feel free to reopen if the issue is still relevant.

[2020-10-13 08:34] #2099 closed

[2020-10-13 08:40] svenklemm commented on #2023
Closing this since there was no activity for a while. Feel free to reopen if the issue is still relevant.

[2020-10-13 08:40] #2023 closed

[2020-10-13 08:41] svenklemm commented on #1985
Closing this since it seems to be resolved. Feel free to reopen if the issue is still relevant.

[2020-10-13 08:41] #1985 closed

[2020-10-13 08:47] svenklemm commented on #1894
Seems like the question was answered. Feel free to reopen if the issue is still relevant.

[2020-10-13 08:47] #1894 closed

[2020-10-13 08:49] erimatnor commented on #2540
@Kumar6295 we currently do not support updates to data that would move the data from one chunk (partition) to another.

Duplicate of this issue: #1052

[2020-10-13 08:50] erimatnor commented on #2540
Closing since duplicate of #1052

[2020-10-13 08:50] erimatnor commented on #2540
Closing since duplicate of #1052

[2020-10-13 08:50] #2540 closed

[2020-10-13 08:52] svenklemm commented on #1862
The following should work in sql session:
[code]

[2020-10-13 08:53] svenklemm commented on #1862
Closing this since it seems to be answered. Feel free to reopen if the issue is still relevant.

[2020-10-13 08:53] #1862 closed

[2020-10-13 08:53] erimatnor commented on #2528
Could you provide some more information and a way to reproduce this issue?

[2020-10-13 08:54] svenklemm commented on #1276
Closing this since it should be resolved. Feel free to reopen if the issue is still relevant.

[2020-10-13 08:54] #1276 closed

[2020-10-13 09:24] svenklemm commented on #1870
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-13 09:24] #1870 closed

[2020-10-13 09:34] svenklemm commented on #1343
Looks like there is something wrong with your SQL. The following works for me:
[code]

[2020-10-13 09:35] svenklemm commented on #1343
Closing this since it seems to be resolved. Feel free to reopen if the issue is still relevant.

[2020-10-13 09:35] #1343 closed

[2020-10-13 09:35] DavidPavlicek commented on #2265
This is a major feature... definitely needs to be implemented... +1

[2020-10-13 09:39] svenklemm commented on #1859
Closing this since it seems to be resolved. Feel free to reopen if the issue is still relevant.

[2020-10-13 09:39] #1859 closed

[2020-10-13 09:41] svenklemm commented on #1951
timescaledb-tune is in a separate package called timescaledb-tools

[2020-10-13 09:41] #1951 closed

[2020-10-13 09:46] svenklemm commented on #1825
Looks like you dont have postgresql installed / It's not in your path.

[2020-10-13 09:46] svenklemm commented on #1825
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-13 09:46] #1825 closed

[2020-10-13 09:59] svenklemm commented on #1302
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-13 09:59] #1302 closed

[2020-10-13 10:02] svenklemm commented on #1682
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-13 10:03] svenklemm commented on #1629
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-13 10:03] #1629 closed

[2020-10-13 10:04] svenklemm commented on #1772
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-13 10:04] #1772 closed

[2020-10-13 10:07] svenklemm commented on #1645
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-13 10:07] #1645 closed

[2020-10-13 11:02] svenklemm commented on #2528
tableoid is a system column that identifies the relation a tuple is originating from. For a distributed hypertable this is set to the hypertable which is wrong since hypertable has no tuples.
To reproduce:
[code]

[2020-10-13 11:38] erimatnor commented on #2523
@fvannee can you share the definition of your custom type, in particular the CASTs defined on this type?

[2020-10-13 12:12] svenklemm opened #2542 "Add coredump/stacktrace handling to i386 CI runs"

[2020-10-13 12:23] fvannee commented on #2523
Sure, the definition is here: https://github.com/fvannee/timestamp9/blob/master/src/timestamp9.sql

In general, `timestamp9` is binary compatible with Postgres `int8` type. It is counting the number of nanoseconds since an epoch date. We provide some conversions to/from `timestamp(tz)` too, but here of course we should note that the conversion to `timestamptz` actually loses some information, as P

[2020-10-13 12:37] svenklemm commented on #1678
Duplicate of #239

[2020-10-13 12:37] #1678 closed

[2020-10-13 12:40] svenklemm commented on #1783
We use the output of pg_config to configure directories. So you should make sure the correct pg_config is in your PATH.

[2020-10-13 12:41] svenklemm commented on #1783
Closing this due to inactivity. Feel free to reopen if the issue is still relevant.

[2020-10-13 12:41] #1783 closed

[2020-10-13 12:46] svenklemm commented on #298
time_bucket has an optional offset argument. To get your desired functionality you can use something similar to this:
[code]

[2020-10-13 12:47] svenklemm commented on #298
Closing this due to inactivity. Feel free to reopen if the issue is still relevant.

[2020-10-13 12:47] #298 closed

[2020-10-13 12:53] svenklemm commented on #822
Duplicate of #479

[2020-10-13 12:53] #822 closed

[2020-10-13 12:59] svenklemm commented on #586
Closing this since first()/last() have optimizations now that don't require scanning all rows under certain conditions. Feel free to reopen if the issue is still relevant.

[2020-10-13 12:59] #586 closed

[2020-10-13 13:11] svenklemm commented on #2462
time_bucket_gapfill calls time_bucket internally so this is more a time_bucket issue

[2020-10-13 16:17] svenklemm commented on #475
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-13 16:17] #475 closed

[2020-10-13 16:20] svenklemm commented on #2462
duplicate of #489

[2020-10-13 16:20] #2462 closed

[2020-10-13 17:13] svenklemm commented on #1858
This should be fixed in 2.0 with the continuous aggregate refactorings. Feel free to reopen if the issue still exists.

[2020-10-13 17:13] #1858 closed

[2020-10-13 19:05] #2271 closed

[2020-10-13 21:35] svenklemm commented on #2536
Not sure i understand your example correctly but you can achieve a time-weighted average with time_bucket_gapfill:
[code]
In the inner query you generate a data point for every minute carrying forward the last seen value, in the outer query you calculate 15 minute averages.

[2020-10-13 23:36] sachaventura commented on #1248
Just adding my vote for this feature.
This would be game-changing for our infrastructure.
We currently perform aggregation (15 minutes to monthly) on 5-minute data on the fly and it is killing our database. We had to heavily rate-limit our API for those granularity-requests otherwise our database just dies...but it's preventing us from scaling up.

[2020-10-14 00:16] inselbuch commented on #2536
That is an arithmetic average of generated one-minute values.
And it will give the correct result as long as the values are all aligned on one-minute boundaries.
But what happens if the values have resolutions below one minute?

Also, that is quite cumbersome, is it not?

Sent from my iPad

[2020-10-14 08:06] svenklemm commented on #1845
Should be available through the usual channels: https://docs.timescale.com/latest/getting-started/installation/rhel-centos/installation-yum

[2020-10-14 08:07] svenklemm commented on #1845
Closing since this should be fixed. Feel free to reopen if the issue is still relevant.

[2020-10-14 08:07] #1845 closed

[2020-10-14 08:09] svenklemm commented on #1857
Closing this since this should be fixed. Feel free to reopen if the issue is still relevant.

[2020-10-14 08:09] #1857 closed

[2020-10-14 08:13] svenklemm commented on #1762
Regarding 3) yes dropping an index before bulk inserts will make the inserts faster

[2020-10-14 08:13] svenklemm commented on #1762
Closing this since it seems answered. Feel free to reopen if the issue is still relevant.

[2020-10-14 08:13] #1762 closed

[2020-10-14 08:30] svenklemm commented on #1266
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-14 08:30] #1266 closed

[2020-10-14 08:33] svenklemm commented on #1242
Closing this since there was no activity. Feel free to reopen if the issue is still relevant.

[2020-10-14 08:33] #1242 closed

[2020-10-14 08:41] svenklemm commented on #1722
Closing this since it should be resolved now. Feel free to reopen if the issue is still relevant.

[2020-10-14 08:41] #1722 closed

[2020-10-14 08:43] erimatnor commented on #2523
@fvannee So, the main issue with casting custom time types is that the cast must also account for differences in the valid time ranges between the source and target type. To be able to, e.g., create correct CHECK constraints on chunks, TimescaleDB needs to know the valid time range of the custom time type. However, the only types it knows the ranges of are the officially supported ones, and theref

[2020-10-14 08:48] svenklemm commented on #1706
Closing this since this seems to be an issue with the telegraf plugin. Feel free to reopen if you think the issue is still relevant.

[2020-10-14 08:48] #1706 closed

[2020-10-14 08:57] svenklemm commented on #1143
Closing this since it seems it was resolved. Feel free to reopen if the issue is still relevant.

[2020-10-14 08:57] #1143 closed

[2020-10-14 09:04] fvannee commented on #2523
That is the 1.x behavior, right? Only supporting custom types that are binary compatible with `bigint`. I'm fine with this behavior, because at least it doesn't break existing setups, but I can imagine you would like to support more custom types for 2.x.

What about adding this extra parameter to `create_hypertable` to let the user explicitly specify the base type to cast to and storing this info

[2020-10-14 09:40] erimatnor commented on #2523
@fvannee I think custom time types require further overhaul. Maybe adding a base type like you suggest is one way forward, but, TBH, it is probably not something we're going to do any time soon, and certainly not for the 2.0 release.

I think the main concern now is not breaking previous behavior unless really motivated. I submitted a PR that adds further restrictions to how we treat custom time t

[2020-10-14 10:51] fvannee commented on #2523
Understandable. Thanks for the PR! I've tested it and it works for me.
One thing that would be really good if you could change it still is the following line in `dimension_interval_to_internal`. It checks whether a dimension interval is valid.

Current:
[code]

Suggested:
[code]

This would then throw an error on `create_hypertable('t1', 'custom_type_column', chunk_time_interval=>interval '1d')`.

[2020-10-14 11:36] hojdars commented on #1951
The installation manual (https://docs.timescale.com/latest/getting-started/installation/ubuntu/installation-apt-ubuntu) still claims that `timescaledb-tune` gets installed with timescaledb though, which is clearly wrong. Which of timescaledb's packages manage the installation manual so I can report this issue @svenklemm ?

[2020-10-14 12:05] svenklemm commented on #2536
There are different solutions possible e.g using window functions but unfortunately they dont get less cumbersome when accounting for corner cases

[2020-10-14 12:31] erimatnor commented on #2523
@fvannee I added a commit to fix the check.

[2020-10-14 12:35] fvannee commented on #2523
Looks good, thanks!

[2020-10-14 13:40] inselbuch commented on #2536
Consider the scenario where you have around a dozen values per day with timestamps are significant to the second. You are looking to generate a daily time-weighted average for the past six months.

The algorithm for time-weighted averages would work with the 2,160 values.

To use the bucket-fill method Timescale needs to produce over a fifteen million values (15,552,000).

And if we want to be acc

[2020-10-14 15:08] tylerfontaine opened #2546 "Cagg Fails to Create When time bucket name, group by name, and underlying time column share a name"
**Relevant system information:**
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: dnf install

**Describe the bug**
When creating a continuous aggregate, if the time_bucket is named the same as the underlying time column, and then grouped by that column by name, it errors with

`ERROR:  no valid bucketing

[2020-10-14 15:14] hedayat opened #2547 "Enhancement: improve RHEL/Centos .rpm package to be compatible with recent Fedora releases"
While TDB can work fine with Fedora's own postgresql package, the current TDB rpm packages doesn't install on Fedora out of the box. With few changes, it'll become compatible:

1. The postinstall scriptlet should be extended to try using `pg_ctl` on system PATH if it cannot find `/usr/pgsql-12/bin/pg_config`
2. The RPM package can depend on postgresql and postrgresql-server >= 12 besides postgresq

[2020-10-14 15:18] svenklemm commented on #2546
This is not a bug and expected. In the group by clause column names take precedence over aliases.

[2020-10-14 15:18] #2546 closed

[2020-10-14 15:20] tylerfontaine commented on #2546
To clarify: This is postgres behavior, not inherent to timescaledb. It's a weird bit of inconsistency, but since it's in Postgress, agreed, not a timescale bug.

[2020-10-14 15:37] mkindahl commented on #2521
Last item fixed. Closing.

[2020-10-14 15:37] #2521 closed

[2020-10-15 05:48] svenklemm commented on #2424
@ArtificialPB can you show `EXPLAIN ANALYZE` of a query that produces wrong result. There is something weird going but i doubt its from corruption in internal timescale table.

[2020-10-15 07:24] HarryHuy commented on #1953
I have same issue when running Postgres 12 with Timescaledb extention. Both are install from Fedora 31 official repo. Workaround by installed Timescaledb from source not success with incompatible *.so library error. Doesn't have time to try installing both Postgres 12 and Timescaledb from source.

[2020-10-15 09:49] NeroVanbiervliet opened #2549 "Release candidate instead of stable version is installed when following docs instructions"
**Relevant system information:**
 - OS: Ubuntu
 - PostgreSQL version: 12
 - Installation method: apt in docker

**Describe the bug**
Release candidate is installed instead of the latest stable version

**To Reproduce**
Follow installation steps of the [docs](https://docs.timescale.com/latest/getting-started/installation/ubuntu/installation-apt-ubuntu)

**Expected behavior**
Version `1.7.4` is inst

[2020-10-15 11:13] Barolina opened #2550 "i didn't created EXTENSION timeseries?"
**Relevant system information:**
 - OS: [e.g. Ubuntu 18]
 - PostgreSQL version (output of `postgres --version`): [e.g. 11.9]
 - TimescaleDB version
 - Installation method: [e.g., "apt install]

When  i make create EXTENSION ,  i have this  problem

```MISTAKE: the" timescaledb " extension does not have an installation or update path defined for version "2.0.0-rc1" ````

[2020-10-15 11:17] WGH- commented on #2549
The problem is not just it's an RC version. The new loader package version is simply broken, and it replaced the old one.

[2020-10-15 11:25] NeroVanbiervliet commented on #2550
See #2549

[2020-10-15 11:28] Barolina commented on #2549
what to do?

[2020-10-15 11:30] WGH- opened #2551 "Too new timescaledb-loader-postgresql-11 uploaded to ppa, unable to CREATE EXTENSION"
http://ppa.launchpad.net/timescale/timescaledb-ppa/ubuntu/dists/xenial/main/binary-amd64/Packages.xz

[code]

This version is the only timescaledb-loader-postgresql-11 version on the ppa right now.

The problem is that the loader package always tries to enable the latest known extension version, and apparently the new loader was uploaded, but the new TimescaleDB version was not (uploading RC versi

[2020-10-15 11:54] Barolina commented on #2550
Thanks,  desided this  problem like  ``` CREATE EXTENSION timescaledb VERSION '1.7.4';```

[2020-10-15 11:54] #2550 closed

[2020-10-15 12:00] svenklemm commented on #2549
Unfortunately the package update for the loader package pulled in some 2.0 stuff that was supposed to be stay hidden unless explicitly requested. As a temporary workaround you can install 1.7.4 with the following command:
[code]

[2020-10-15 13:58] ArtificialPB commented on #2424
@svenklemm Here's the `EXPLAIN ANALYZE` of the problematic query:
[code]

[2020-10-15 14:26] phemmer commented on #1900
For posterity, I [asked my question in the slack channel](https://timescaledb.slack.com/archives/CPSD82EMU/p1602768946082300) and got the response that manual compression is supported.

[2020-10-15 16:58] #2523 closed

[2020-10-15 19:56] #1986 closed

[2020-10-16 09:01] EtienneM opened #2556 "pg_restore with option `--clean` fails"
**Relevant system information:**
 - OS: Debian Stretch
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 12.4 (Debian 12.4-1.pgdg90+1)
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: source

**Describe the bug**

We fail to restore a backup on the same database the dump was taken.

**To Reproduce**
Steps to reproduce the behavior:
1. St

[2020-10-16 10:47] cossbow opened #2557 "A crashed bug"
**Relevant system information:**
 - OS: centos_8_1_x64
 - PostgreSQL version (output of `postgres --version`): 12.3
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.1
 - Installation method: yum

**Describe the bug**
I create a table like this:
`
create table daily
(
    r_id     bigint ,
    date       timestamp with time zone,
    price      int,
    selling    boolean not null         de

[2020-10-16 12:55] #2500 closed

[2020-10-16 15:44] svenklemm commented on #2549
Packages should be fixed now. Feel free to reopen if the problem persists.

[2020-10-16 15:44] #2549 closed

[2020-10-16 15:44] svenklemm commented on #2551
Packages should be fixed now. Feel free to reopen if the problem persists.

[2020-10-16 15:44] #2551 closed

[2020-10-16 18:15] gayyappan commented on #2557
@cossbow Could you try this on a newer version of 1.7 and check if you still have an issue?
Could you attach a stack trace or core dump if you still have issues?

[2020-10-16 21:27] #2530 closed

[2020-10-17 02:00] akamensky commented on #1986
@erimatnor @mkindahl i see the latest PR has been merged. Is there any ETA on it making to 1.7 patch release?

[2020-10-17 13:17] svenklemm commented on #2361
Fixed by #2541

[2020-10-17 13:17] #2361 closed

[2020-10-17 13:51] svenklemm commented on #2476
This is currently not supported.

[2020-10-17 14:00] svenklemm opened #2561 "Creating table that inherits from hypertable not handled consistently"
When creating a table that inherits from a hypertable the operation succeeds when it done after a table has been turned into a hypertable but hypertable creation is blocked if the inherited table is created before the table is turned into a hypertable.
[code]

[2020-10-17 16:33] svenklemm commented on #2008
Instructions how to build specific version will be in docs after next docs update.

[2020-10-17 16:33] #2008 closed

[2020-10-17 20:16] svenklemm commented on #180
I dont think this relevant anymore also this would require a stronger lock on chunk creation on the dimension table which we probably want to avoid.

[2020-10-17 20:16] #180 closed

[2020-10-17 20:23] svenklemm commented on #1085
This situation should be much better in more recent postgres versions. For the types of queries you are using plan time constraint exclusion should work. Feel free to reopen if you can reproduce with more recent version.

[2020-10-17 20:23] #1085 closed

[2020-10-17 20:30] svenklemm commented on #489
Duplicate of #414

[2020-10-17 20:30] #489 closed

[2020-10-17 20:38] svenklemm commented on #2327
Can you provide a simple test case to reproduce the issue in a fresh database.

[2020-10-17 20:50] svenklemm commented on #1852
This should work. Seems like something went wrong for you since your URLs are a mixture of Debian/Ubuntu URLs. Feel free to reopen if the issue still persists.

[2020-10-17 20:50] #1852 closed

[2020-10-17 20:55] svenklemm commented on #1353
You can get dimensions from timescaledb_information.hypertables

[code]

[2020-10-17 20:55] #1353 closed

[2020-10-17 21:18] svenklemm commented on #1806
Closing this since there was no further activity. Feel free to reopen if the issue persists.

[2020-10-17 21:18] #1806 closed

[2020-10-17 22:39] svenklemm commented on #2424
Ok I have a theory how this could be happening you have a parallel plan but none of the lower nodes in your plan are actually parallel enabled which would have the effect you describe.
Can you do `set parallel_leader_participation to off;` and repeat the query and check if the resultset is correct.

[2020-10-18 05:23] mfreed commented on #1234
Significant schema/type changes will likely require migrating your data to a new hypertable.  Closing our this issue for now.

[2020-10-18 05:23] #1234 closed

[2020-10-18 05:25] mfreed commented on #1337
I'm going to close out this issue.  Ryan, please feel free to re-open if you can provide more information; further, please note that significant changes have been made to continuous aggregates in 2.0.

[2020-10-18 05:25] #1337 closed

[2020-10-18 05:27] mfreed commented on #1559
Going to close issue for now. This is about an older verison of TimescaleDB at this point (1.5.1), and without more information, hard to determine cause.

@cossbow please feel free to re-open if you encounter on a newer version.  Thanks.

[2020-10-18 05:27] #1559 closed

[2020-10-18 05:30] mfreed commented on #1600
Sorry for all the issues; Windows is not a common platform for us here =)

What versions of TimescaleDB and PG are people seeing this with, including when moving the .dlls into place.  Do you see any errors in the logs when you get "Connection lost"?

cc: @uweschmitt @3242433424 @Annie-create @jdsdc

[2020-10-18 05:34] mfreed commented on #1593
I'm not sure I'm following the latest status of this issue, and there have been a bunch of changes to the scheduler since 1.5.1.

I'm closing for now, but feel free to open if you continue to see issues in the latest version.

cc: @laurenz @HeikoOnnebrink

[2020-10-18 05:34] #1593 closed

[2020-10-18 05:36] mfreed commented on #1701
I think this is a duplicate of:  https://github.com/timescale/timescaledb/issues/1398

Closing for now, feel free to re-open if not.

[2020-10-18 05:36] #1701 closed

[2020-10-18 05:37] mfreed commented on #342
[Closing out for lack of discussion / concrete enhancement request]

[2020-10-18 05:37] #342 closed

[2020-10-18 05:39] mfreed commented on #285
Closing this out for now -

* This model isn't a good fit for time-based chunking (although presumably you can build a model of this if you mis-use the time column for integer-based counting.
* User-defined actions and automation in 2.0 could allow users to build some model of this, or at least DELETE upon a certain number of rows.

[2020-10-18 05:39] #285 closed

[2020-10-18 05:42] mfreed commented on #350
Closing this out for now; I believe real-time aggregates supports this between raw and one level of aggregation.  (We will leave to future if we introduce real-time merging between multiple aggregate classes.)

[2020-10-18 05:42] #350 closed

[2020-10-18 05:46] mfreed commented on #563
For some follow-up -- we currently recommend using separate hypertables if you want this functionality, e.g., being able to have different data retention policies.  The secondary advantages of separate hypertables is that, especailly in multi-tenant scenarios, including:

- You can have different chunk time intervals for tenants with different write rates
- Easier (hyper)table-level access control

[2020-10-18 05:47] mfreed commented on #533
Closing this for now; please feel free to re-open if continue to see issues.

[2020-10-18 05:47] #533 closed

[2020-10-18 07:20] IvarLeksa commented on #1600
Thank you for your work. Now I'm not interested in this issue. I've solved my problem using InfluxDB.

[2020-10-18 07:59] ArtificialPB commented on #2424
@svenklemm it does indeed seem to be caused by the `parallel_leader_participation` being set to `on`. Setting it to `off` resolves this problem! Thank you.

How would one enable parallelism on the lower nodes? Is this something that Timescale should handle or is just PostgreSQL miss-configuration?

[2020-10-18 09:19] cocowalla commented on #563
I switched to the described solution after receiving the same via Slack (for the multi-tenant problem I described earlier in this thread).

This wouldn't feel strange for non-multi-tenant scenarios, but "table-per-tenant" does feel like an odd setup; still, it does work and does provide the states advantages.

[2020-10-18 14:39] mfreed commented on #2086
Hi @Sarke there have been a bunch of changes to the background scheduler in 1.7.x.  Do you still see these issues in the latest (1.7.4)?  Thanks!

[2020-10-18 14:42] mfreed commented on #2285
On a related note, @slasktrat , the 2.0 release candidates are available in both source & binary packaged form, and support ugprades from 1.x.  So if you have a backup/copy of the database that you are willing to upgrade to 2.0 and try with that, it would be great.  As @erimatnor mentioned, we significantly revamped how continuous aggregates are supported/refreshed in 2.0.

[2020-10-18 17:05] svenklemm commented on #2424
Yes this is a bug in TimescaleDB, parallel_leader_participation is just a workaround and not the root cause for the wrong plan.

[2020-10-18 23:49] amincheloh opened #2565 "Compression deadlock detected while reading hyper table"
**Relevant system information:**
 - OS: Linux
 - PostgreSQL version (output of `postgres --version`): 11.9
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: Docker

**Describe the bug**
Compression deadlock detected while reading hyper table

**To Reproduce**
1. continuously intensive reads hyper table
2. compress old chunk in hyper table

**Expected behavior**
Able

[2020-10-19 01:21] svenklemm commented on #1301
Closing this since this references an old version. Feel free to reopen if you can reproduce with a recent version.

[2020-10-19 01:21] #1301 closed

[2020-10-19 01:25] svenklemm commented on #1545
Duplicate of #1304

[2020-10-19 01:25] #1545 closed

[2020-10-19 01:40] svenklemm commented on #581
Duplicate of #1560

[2020-10-19 01:40] #581 closed

[2020-10-19 01:42] svenklemm commented on #1584
Duplicate of #698

[2020-10-19 01:42] #1584 closed

[2020-10-19 02:41] svenklemm commented on #1842
@netrounds-fredrik can you pinpoint the space usage to specific objects? can you check individual chunk space usage if there are weird outliers?
[code]

[2020-10-19 02:49] svenklemm commented on #2260
Closing this since it seems this was resolved. Feel free to reopen if the issue still persists.

[2020-10-19 02:49] #2260 closed

[2020-10-19 05:08] slasktrat commented on #2285
Thanks a lot for following this up, @erimatnor, @gayyappan and @mfreed. Sorry for my late reply, but I've been overloaded on other projects lately. I will try and do some more testing in this matter as soon as possible.

@erimatnor, it depends a bit how you define "regularly". In these charts the max_interval_per_job was set to  '2 days'. We regulary (as in all the time) backfill the last 3 hours,

[2020-10-19 06:46] netrounds-fredrik commented on #1842
Unfortunately I no longer have a copy of the system where this happened. Maybe @onesvat can help since he saw something similar and says that he has a copy of his system in error state.

[2020-10-19 06:51] Kumar6295 opened #2566 "Timescaledb dump"
**When we try to dump(Backup) database,below errors showing.
 is it harmful to database/data or not?
How we can get database dump without below error with all the data?**

  pg_dump: NOTICE: there are circular foreign-key constraints on this table:
pg_dump:   hypertable
pg_dump: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_d

[2020-10-19 06:52] Kumar6295 commented on #2566
**Why this errors are happening?**

[2020-10-19 06:53] netrounds-fredrik commented on #2260
Since people are having problems figuring out how to upgrade TimescaleDB and PostgreSQL, I think that the official documentation should be improved.

[2020-10-19 09:31] Sarke commented on #2086
I don't but I also don't have the conditions of the bug.  Try to delete a compress chunks policy manually and see if that makes the scheduler poop.

[2020-10-19 09:38] mong0520 opened #2567 "TimescaleDB shutting down after "received smart shutdown request""
**Relevant system information:**
 - OS: Ubuntu 18.04
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: using docker-compose

**Describe the bug**
We are using TimescaleDB with 2 Tables with 8 views, and it is still on PoC stage so the traffic is pretty low.
We found that TimescaleDB was shutting down after

[2020-10-19 09:43] svenklemm commented on #2567
"received smart shutdown request" is the log message when someone sends SIGTERM to postgres

[2020-10-19 09:47] mong0520 commented on #2567
@svenklemm Thank you. Is there any way to see/enable the detail log to see who or why SIGTERM is sent?

[2020-10-19 10:01] #2455 closed

[2020-10-19 10:07] svenklemm commented on #2566
These are only warnings/hints and can safely be ignored.

[2020-10-19 10:10] svenklemm commented on #2566
Duplicate of #1581

[2020-10-19 10:10] #2566 closed

[2020-10-19 11:07] morfair commented on #2476
This is a catastrophe

[2020-10-19 11:33] svenklemm commented on #2567
You can enable auditing to log SIGTERM see https://www.thegeekdiary.com/how-to-find-which-process-is-killing-mysqld-with-sigkill-or-sigterm-on-linux/ for an example how to do this

[2020-10-19 12:16] mathiasose commented on #1381
Leaving a note here for future reference since this was the top result when I was googling for error messages:

We followed an outdated guide to do a pg_restore that didn't mention `timescaledb_pre_restore()` and `timescaledb_post_restore()`. This lead to being unable to do some INSERTs after. We solved the problem by discarding the restored database and re-restoring from the same dump but followi

[2020-10-19 12:16] niksajakovljevic opened #2568 "`timescaledb.ssl_dir` GUC is misleading"
**Relevant system information:**
 - OS: all
 - PostgreSQL version (output of `postgres --version`): all
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0-rc1
 - Installation method: source

**Describe the bug**
`timescaledb.ssl_dir` GUC should point to a user certificates location. However when processing GUC value we append `timescaledb/certs` so the actual path becomes `timescaledb.ssl_d

[2020-10-19 12:27] poojabms opened #2570 "timescaleDB: drop_chunks fails for hypertable with cagg, the continuous aggregate is too far behind"
Hello experts,

We are using TSDB for our product and things are going good except for the retention policy that is giving us tough time.
Here is my requirement:
1. main_table will be receiving data as generated, and will retain this data for 24 hours. After 24 hours the data should be deleted.
2. daily_aggregates is the continuous aggregate created on main_table which will be aggregating daily da

[2020-10-19 14:21] #2524 closed

[2020-10-19 15:08] svenklemm commented on #2431
Jobs should be added by extension install during restore.

[2020-10-19 15:08] #2431 closed

[2020-10-19 15:20] erimatnor opened #2574 "Remove adaptive chunking"
Adaptive chunking has been deprecated since several releases back and it make sense to remove it. The docs have already removed any mention of the feature.

We might have to  consider how  this  affects people that are still using it, in terms of upgrade scripts, etc.

[2020-10-19 15:50] #2568 closed

[2020-10-19 16:08] jocrau commented on #2504
Thank you @svenklemm for fixing this. My apologies for not getting back with a test case for the `transaction_per_chunk` setting. I will test the fix against it and report back. Do you know when the fix will be released?

[2020-10-19 18:16] JLockerman opened #2575 "Potential Deadlock Between drop_chunks() and the compress_chunks BGW"
**Relevant system information:**
 - OS: MacOS
 - PostgreSQL version: 12
 - TimescaleDB version : 1.7.4
 - Installation method: docker

Using the Promscale tests using the `timescaledev/promscale-extension:latest-pg12` docker image, we occasionally get

[code]

which appears to be a tuple-level deadlock on `dimension_slice`

[2020-10-19 18:57] gayyappan commented on #2570
@poojabms  Questions related to usage are better addressed via our support slack.
When you try to drop the data from the hypertable, the data has not yet been aggregated into the continuous aggregate and so the drop fails. You can delay dropping the chunks from the hypertable (i.e. keep data for a longer time, e.g. 48 or 96  hours worth of data instead of 24 hours). This would let the continuous a

[2020-10-19 20:10] #2211 closed

[2020-10-19 20:10] #2424 closed

[2020-10-20 04:13] WireBaron opened #2576 "ANALYZE and VACUUM clear pg_class stats for compressed chunks"
When running a `ANALYZE` or `VACUUM` in postgresql without providing relations, the system automatically performs the operation on every table in the database.  For chunks which have been compressed this ends up erasing all the stat information we saved during compression.

[2020-10-20 07:01] #2567 closed

[2020-10-20 07:01] mong0520 commented on #2567
No an TimescaleDB issue, closing ticket

[2020-10-20 12:06] shaunsales opened #2578 "Gap filling not working if no samples within range"
Hi,

We are big Timescale DB fans and have just migrated away from Redis Time Series to TSDB. However for some of our financial time series data, we're facing some issues displaying stocks that have zero daily trade volume.

For example, we want to pull today's prices for a stock with hourly time buckets. However that stock hasn't had any trades today, so we want to get the last price using `locf`

[2020-10-20 13:06] erimatnor commented on #1667
The requested information will be available through official views in 2.0 (currently available as release candidate).

[2020-10-20 13:06] #1667 closed

[2020-10-20 13:09] erimatnor commented on #1634
Closing since more flexibility to control the refreshing of a continuous aggregate will be available in 2.0 (which is currently available as a release candidate).

[2020-10-20 13:09] #1634 closed

[2020-10-20 14:44] erimatnor opened #2579 "Refactor usage of PreventCommandIfReadOnly"
`PreventCommandIfReadOnly` is used to prevent execution of mutating functions when the database is in read only mode.

The common pattern is `PreventCommandIfReadOnly("function_name")`. This poses a problem if the function name is changed but one forgets to update this string name. A better way of doing this is to resolve the function name dynamically when possible: `PreventCommandIfReadOnly(get_f

[2020-10-20 14:49] #1790 closed

[2020-10-20 14:49] #2364 closed

[2020-10-20 15:03] himkool opened #2580 "Query slow perfomance"
Os: Centos7
PostgresSQL version: 11
Timescale version: 1.6.0
Installed memory: 64Gb
**Query:**
select q1.*,dataTb.sum ,dataTb.sum_out_raw ,
           dataTb.avg ,dataTb.avg_d_out_er,dataTb.nodeip_interface from
           (select apl.neighbor_address ,apl.neighbor_port_mapping ,itfc.speed,itfc."desc"
           ,apl.ap_name,apl.ethernet_mac,apl.ap_ip_address,apl.controller_name
           ,concat

[2020-10-20 16:18] #2576 closed

[2020-10-20 16:30] mfreed commented on #2580
Hi @himkool a few things:

1. Can you perhaps post the report with code block formatting (including for the SQL) so it's easier for folks o review?
1. In general, as it relates to EXPLAIN information, please follow these instructions to provide full information (including ANALYZE, COSTS, BUFFERS, etc.):  https://docs.timescale.com/latest/using-timescaledb/troubleshooting#explain
1. Finally, we unf

[2020-10-20 16:36] mfreed commented on #2578
Hi @shaunsales It sounds like you want the "prev" parameter in locf to "look back" out of the range:

https://docs.timescale.com/latest/api#locf

But from your second argument, it sounds like you are doing that?  Do you see any different issues if you add the explicit `start` and `finish` argument in the `gapfill` function, and eliminate them from your WHERE clause?

[2020-10-20 18:33] WireBaron opened #2581 "Compression fails to capture pg_class stats in PG11.0"
When running in lower versions of PG 11, the compression code added to capture pg_class stats (reltuples, relpages, relallvisible) isn't working and these values are not being properly set.

Sven has tracked this down to a postgres issue which is fixed by this commit:
https://github.com/postgres/postgres/commit/ceb850d4a3

[2020-10-20 18:54] #2581 closed

[2020-10-21 01:13] akamensky commented on #2143
Today (last night actually) this crashed our production timescaledb instance. It did not restart and stayed down overnight, so we have about 10 hours data lost (as not written to DB)...

[code]

[2020-10-21 06:30] erimatnor commented on #2308
We have yet to encounter this issue on 2.0 RC, so retargeting this for next 1.7.x release.

[2020-10-21 06:33] erimatnor commented on #2575
It would be good to get a reproducible example for this deadlock.

[2020-10-21 08:34] suparnlele opened #2585 "Nested Queries In Aggregate Views?"
Hi,
create view test_nested_query_view
WITH (timescaledb.continuous, timescaledb.refresh_lag = '0 hour', timescaledb.refresh_interval = '1 hour') AS
SELECT time_bucket(INTERVAL '1 hour', a.timestamp) AS timestamp, max(a.data) as data
from (select * from test)a group by time_bucket(INTERVAL '1 hour', timestamp);

This Query gives Error **invalid SELECT query for continuous aggregate**

So do such n

[2020-10-21 10:02] kgonia commented on #2304
@kodi I didn't face this issue but after moving tables with pg dump I noticed pure performance. I moved all data to newly created table.

[2020-10-21 11:54] kgonia commented on #87
Hi @mfreed

Timescale is not compatible with Citus means that there is no way to handle both extensions together in one instance or they just don't fit to each other because of different approaches but it's possible to run them together?

Timescale + Citus would be great for spreading work across nodes/shards instead of using second dimension in timescale. If someone has few poor servers in can me

[2020-10-21 13:03] #2579 closed

[2020-10-21 13:30] swiffer opened #2587 "Undefined file: 7 ERROR: could not access file "$libdir/timescaledb-tsl-1.7.0": No such file or directory"
**Relevant system information:**
 - Docker: timescale/timescaledb:2.0.0-rc2-pg12
 - PostgreSQL version (output of `postgres --version`): 12
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0-rc2
 - Installation method: using Docker

**Describe the bug**
After upgrading to timescaledb 2.0.0-rc2 (docker image) im getting this error:

Undefined file: 7 ERROR: could not access file "$libdir/tim

[2020-10-21 14:25] gayyappan commented on #2585
@suparnlele https://docs.timescale.com/latest/api#continuous_aggregate-create_view
The syntax specifies the use of a <hypertable>.  Subqueries are not supported.

[2020-10-21 14:25] #2585 closed

[2020-10-21 15:38] svenklemm commented on #2587
Not all files for 1.7.0 were initially included in the docker images, i've rebuilt the images with 1.7.0 included. You can either use 1.7.4 image as intermediate step or redownload rc2 image which has the files now and try again.

[2020-10-21 15:38] svenklemm commented on #2587
Should be fixed in current docker images. Feel free to reopen if the issue persists.

[2020-10-21 15:38] #2587 closed

[2020-10-21 15:41] sentenzadorval opened #2588 "Job scheduling should be based on last_run_started_at instead of last_successful_finish"
**Relevant system information:**
 - OS: Ubuntu 18.04.5 LTS
 - PostgreSQL version (output of `postgres --version`):12.4 (Ubuntu 12.4-1.pgdg18.04+1)
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: manual install

**Describe the bug**

When querying the continuous_aggregate_stats, it seems that next_schedule_run is calculated by adding refresh_interval to last_succes

[2020-10-21 17:36] tclh123 commented on #2418
Why does compressed chunks not have any of the "regular" indexes defined on the hypertable currently?
Can we restore the index of the chunk after decompression?

[2020-10-21 20:03] shaunsales commented on #2578
Thanks @mfreed that actually got us most of the way there - oddly the TSDB docs recommend against this and suggest to only use the `WHERE` clause, and omit the gapfill params.

One other thing - when we use the method you suggested, we have an additional entry at the beginning of the data set that is the last entry prior to the specified range.

For example, if we ask for hourly samples from `2020

[2020-10-22 02:27] fan233 opened #2590 "Can I modify the type of "time""
**Relevant system information:**
 - OS:  Windows 10 x64, etc
 - PostgreSQL version 12.4.1
 - TimescaleDB version 1.7.1

Hi, The type of 'time' on the document is 'timestamptz', Can I use 'int' to replace 'timestamptz'? Whether there will be other effects?

[2020-10-22 02:34] mfreed commented on #2590
You cannot ALTER your time column in this regard, as it would change all the definitions of chunk constraints.  To take the desired step, you should create a new hypertable and migrate your data.

(Note, in general, various features are easier to use when using a timestamp/timestamptz field.  See https://docs.timescale.com/latest/api#set_integer_now_func for example.

[2020-10-22 08:41] rishikesan-vunet commented on #1398
Cannot load timescale in PG 11.9 using windows 7, Pg and timescale installation was smooth, but not able to enable the timescaledb extension. As mentioned in the earlier comments, I downloaded an 11.4 and added the missing DLLs in my 11.9 bin( those exact files were missing in here as well). But still cannot load, please  help

[2020-10-22 09:13] fan233 commented on #2590
Thank you i get it.

[2020-10-22 09:13] #2590 closed

[2020-10-22 22:23] WGH- commented on #2143
We had a crash similar to the original post.

It occured just after we finished moving lots of old data to TimescaleDB hypertables. The crash seemingly occured during the execution on an unrelated query.

When we moved data, we disabled compression job, did `INSERT INTO new_table SELECT * FROM old_table`, did synchronous `compress_chunk` for old data, and restarted jobs.

[code]

[2020-10-22 22:32] WGH- commented on #2143
Perhaps, it's actually #2200 that wasn't fixed after all?

[2020-10-23 05:40] OptrixAU opened #2591 "Problem with Graphing/Querying Sparse Data"
This problem might have an efficient solution, but I can't find it in any documentation...

-----

I've got a lot of sensor data to work with, which is recorded on exception (ie the data is only recorded if the data _changes_.)

This means that I end up with sparse data with significant gaps between samples.

The **locf** function combined with **time_bucket_gapfill** is certainly nice, but as man

[2020-10-23 06:06] mfreed commented on #2591
Have you tried this same query while excluding the time-range from the WHERE predicate of the query?

[2020-10-23 06:10] mfreed commented on #2578
We don't typically recommend this because it's actually less efficient, as it can't do chunk exclusion at planning time...because you don't known a priori how "far back" you need to search to find the value preceding to the LOCF.  So you can't exclude chunks "before" the WHERE clause during planning...because you might need to "look back" into these chunks.

So if you don't need to use the "look b

[2020-10-23 06:13] mfreed commented on #2486
Hi @himkool We need more information.  Do you see any log entries?  Is this due to the Linux OOM killer?  How much memory is consumed and/or what are some of your GUC settings here?

[2020-10-23 10:47] rishikesan-vunet commented on #1613
I have the same problem, I have PG11.9 and timescale 1.7.4, I added ssleay32 and libeay32 from PG11.4 to PG11.9's bin, but not able to enable extension, still having the same old error. If you have sorted that, please let me know.

[2020-10-23 13:27] solugebefola commented on #2591
Have you tried using the `prev` parameter to indicate the earliest point where the gapfill should look for locf?

[2020-10-23 21:31] OptrixAU commented on #2591
That would work, but it would be **very** inefficient compared to the 2-query solution.

Sensor data in industrial applications tends to be kept at high resolution for long periods of time (ie. 1s sampling rate, 2-3 years retention). That would mean that - worst case scenario - if I'm doing a report on the last 6 hours, I'd need to sample 63 million rows. **Way** too much data.

If this was a cust

[2020-10-25 20:13] svenklemm commented on #1973
Will be fixed for any subsequent releases. I've rebuilt 2.0.0-rc2 with the fix.

[2020-10-25 20:13] #1973 closed

[2020-10-25 23:06] svenklemm commented on #2591
Why do you think the query is inefficient? There is an optimization so the locf lookup query is executed only when needed so it is executed at most once.

[2020-10-25 23:25] OptrixAU commented on #2591
@svenklemm - For a single channel, no - there's not a great deal of inefficiency.

But our product is a little different in that we tend to make _shallow_, but _wide_ queries - meaning that we are only requesting a relatively small time-frame, but a large number of channels (1000+ is not unusual).

And it's this use-case where I think the inefficiency would occur on sparse data, because of the pur

[2020-10-26 10:30] slasktrat commented on #2285
Ok, so I created two identical cags. The only difference is timescaledb.refresh_lag, both have timescaledb.max_interval_per_job='2 days', timescaledb.refresh_interval='10 minutes', timescaledb.materialized_only=false.
![image](https://user-images.githubusercontent.com/11269880/97158896-5a197980-177a-11eb-8b26-54720822a8df.png)

I tried to adjust max_interval_per_job to '30 days' on the cag with 60

[2020-10-26 11:23] k-rus opened #2592 "Refresh on drop can create outliers in continuous aggregates"
The drop chunk, which can be called manually or by a retention policy on a hypertable, calls the refresh on all continuous aggregates of the hypertable for each chunk to drop. The refresh recomputes buckets, which fully covers a chunk to drop, if an invalidation is recorded for it. In the case when chunks and buckets are not align, a retention policy can result in animalities in aggregated values

[2020-10-26 12:54] k-rus commented on #2165
@cevian Do you have a way to reproduce it?

[2020-10-26 17:51] hanlaur opened #2594 "Chunks not excluded after 5th execution of a prepared statement"
**Relevant system information:**
 - OS: CentOS 7
 - PostgreSQL version: 12.4
 - TimescaleDB version: 1.7.4, 2.0.0-rc2
 - Installation method: Docker (timescaledb:1.7.4-pg12-oss, timescaledb:2.0.0-rc2-pg12-oss)

**Describe the bug**
Scenario: Using prepared statements to query data. Time period used is `1 day` and table chunking is `1 day`.
[code]

Irrelevant time chunks are excluded for first 5 it

[2020-10-26 20:03] k-rus commented on #2594
@hanlaur It is unfortunate common issue with prepare and PG automation. After the fifth execution of prepared statement PG switches to Generic plan. From [PG docs](https://www.postgresql.org/docs/current/sql-prepare.html):

The generic plan doesn't work well to optimise queries with hypertables, thus to overcome this set [`plan_cache_mode`](https://www.postgresql.org/docs/current/runtime-config-qu

[2020-10-26 20:30] hanlaur commented on #2594
Thanks @k-rus. Yes agree the `force_custom_plan` helps. So these later stage exclusion like the _Stage 3: Executor runtime exclusion_ (https://blog.timescale.com/blog/implementing-constraint-exclusion-for-faster-query-performance/) do not help here at all?

[2020-10-26 20:44] k-rus commented on #2594
@hanlaur Since time comes as parameter in generic plan, no chunks can be excluded as the time will be known at runtime only.

[2020-10-26 21:05] donfrigo opened #2595 "Using gapfill with dynamic values"
**Relevant system information:**
 - OS: Ubuntu 20.04
 - TimescaleDB version: timescale/timescaledb:1.7.4-pg12
 - Installation method: docker

**Describe the behavior**
Hi!

I have been using Timescale DB for a few weeks and really like the extra features over pg. I have run into a problem now, that I have not been able to overcome. In a nutshell, I would like to run the gapfill function in a way,

[2020-10-26 21:13] svenklemm commented on #2594
Runtime exclusion should work here, while plantime exclusion is certainly preferred it's still better than no exclusion at all.

[2020-10-27 15:35] erimatnor commented on #2575
Potential duplicate of https://github.com/timescale/timescaledb/issues/2509

[2020-10-27 15:39] erimatnor commented on #2565
Potential duplicate of https://github.com/timescale/timescaledb/issues/2575

[2020-10-27 19:28] cevian commented on #2575
Honestly, Not sure this is a dupe of 2509 because the deadlock here is on a `dimension_slice` row not a table-level lock.

[2020-10-28 11:04] abigoroth commented on #1400
Just for sharing. This is how I solve this issue for time being. I create a materialized view (MV)  which use cagg to populate it's data. then I refresh the view using cron in the midnight

[code]
This query will populate MV for this month. I wonder what happen to next month? Will data of previous month still be available ?

[2020-10-28 11:20] bruno-villa commented on #1708
Did you solve this problem? I am seeing the same running 2.0.0-rc2 on Docker.
[code]
But the IP is correct and I can run `psql -U postgres -h 11.196.144.195 -p 5432` without issues.

[2020-10-28 12:23] slasktrat commented on #2285
Update: Actually, I checked the charts now and they are now ~identical. So it seems adjusting max_interval_per_job to '30 days' actually did resolve the issue any how, it just took longer time than I had expected before I could see the effect.

[2020-10-28 13:22] svenklemm opened #2596 "Include user-defined actions into telemetry"

[2020-10-28 13:25] josephcomisi opened #2597 "brew install postgresql 13"
Hello,

I am not sure where to put this issue. If there is a better place, please let me know.

When installing Timescaledb via brew, it install postgresql 13 but then says: TimescaleDB only supports PostgreSQL 9.6.3+, 10.2+, 11 or 12

[code]

Let me know if you need any other information

[2020-10-28 13:25] josephcomisi opened #2598 "Postgresql 13 brew Mac"
Hello,

I am not sure where to put this issue. If there is a better place, please let me know.

When installing Timescaledb via brew, it install postgresql 13 but then says: TimescaleDB only supports PostgreSQL 9.6.3+, 10.2+, 11 or 12

[code]

Running on OS X Catalina 10.15.7

[2020-10-28 15:04] josephcomisi commented on #2598
Dealt here:
https://github.com/timescale/homebrew-tap/issues/13

[2020-10-28 15:04] #2598 closed

[2020-10-28 17:52] drewtcraft commented on #895
same for postgresql 13

[2020-10-28 20:37] JLockerman opened #2599 "Duplicate trigger error in `compress_chunk()`"
**Relevant system information:**
 - OS: macos docker `timescale/timescaledb:2.0.0-rc2-pg12`
 - PostgreSQL version: 12
 - TimescaleDB version 2.0-rc2
 - Installation method: Docker

**Describe the bug**
Running `compress_chunk()` occasionally returns the error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone --branch duplicate-trigger-repro --single-branch https://github.com/

[2020-10-28 20:55] binakot commented on #2236
Please, don't remove this feature. I believe it will be useful :octocat:
Attach the discussion about it https://app.slack.com/client/T4GT3N2JK/CPSD82EMU/thread/CPSD82EMU-1603914781.148200
Later I will try to describe it more clear and probably draw a schema ;)

[2020-10-29 07:26] k-rus commented on #2597
Thank you for reporting.
https://github.com/timescale/homebrew-tap/issues/13 covers this issue and contains instructions how to deal with it (until the issue is fixed).

[2020-10-29 07:38] k-rus commented on #2597
@josephcomisi Can this issue be closed in favour of https://github.com/timescale/homebrew-tap/issues/13 ?

[2020-10-29 07:46] k-rus commented on #2285
Great that it works now!
BTW do you have a drop chunk policy or do you run `drop_chunks`?

[2020-10-29 07:57] k-rus commented on #2599
@JLockerman Thank you for reporting! Am I correct that the chunk, which gets the trigger error, is compressed, i.e., the issue is in the user unfriendly error message?

[2020-10-29 08:24] slasktrat commented on #2285
I do not have a drop chunk policy, but the cag view is created with WHERE time > now() - INTERVAL '2 days' on the select.

[2020-10-29 09:04] k-rus commented on #2595
@donfrigo Thank you for reporting the issue! Unfortunately it is not possible to reference table columns in the expressions for `start` and `finish`.

Yes, this is the only way now.

We will update the documentation to clarify this limitation and the issue can be kept as a feature request to relax the limitation

[2020-10-29 09:33] k-rus commented on #2575
I post link to a PR merged into 1.7.3, which might relevant to this issue: https://github.com/timescale/timescaledb/pull/2150

[2020-10-29 10:19] k-rus commented on #2556
@EtienneM
I guess the problem is that `--clean` will drop the database objects first, which seems to drop the extension too. So option `--clean` is not supported.

[2020-10-29 10:36] BenjenJones commented on #2575
I had a similar thing happening over and over again. Posted that on slack also, but then found this issue:

I have setup a timescaledb via the helm charts
<https://github.com/timescale/timescaledb-kubernetes/tree/master/charts/timescaledb-single>

It is running ok. But multiple times a day I see connections stacking up on the master.
Connections coming from both replicas AND the master itself (pos

[2020-10-29 11:18] josephcomisi commented on #2597
Sure, of course. Thank you

[2020-10-29 11:18] #2597 closed

[2020-10-29 12:56] mfreed commented on #2486
Hi @himkool wanted to follow up here to see if you can provide more information?  (Otherwise, I'll probably close out this issue; we can always re-open if you can provide more.  Thanks!)

[2020-10-29 13:08] svenklemm opened #2601 "Test docker images in CI"

[2020-10-29 14:06] mfreed commented on #2143
Thanks for the continued reports @akamensky @WGH- .  Just to confirm that you are running 1.7.3?

We had thought this was fixed in that, but a quick glance at it seems to be this might be a slightly different issue not triggered by `ALTER EXTENSION` ?  Are your last 2 stack traces believed from similar issue?

[2020-10-29 14:29] k-rus commented on #2575
@BenjenJones Is there compression or drop chunks in your case? Do you call hypertable catalog or information views on hypertable?

[2020-10-29 14:29] ryanbooz opened #2602 "Continuous Aggregates watermark function can cause long scans on dates not yet materialized"
**Relevant system information:**
Using official TimescaleDB Docker image for 2.0.0-rc2
 * Postgres 12.4
 * TimescaleDB 2.0.0-RC2
 * Docker

**Describe the bug**
Followed the tutorial for Continuous [Aggregates](https://docs.timescale.com/v2.0/tutorials/continuous-aggs-tutorial) but changing the SQL for the new 2.0 functions. The dataset for the tutorial is from Jan 2016 only (11 million rows). Upo

[2020-10-29 14:30] k-rus commented on #2592
Since drop chunks will register invalidation, the above case will be common whenever buckets and chunks are not aligned.

[2020-10-29 15:10] BenjenJones commented on #2575
i am using compression and also drop_chunks.

And I am using a Grafana Dashboard as Monitoring.

[2020-10-29 15:11] akamensky commented on #2143
@mfreed we have all our timescale servers updated to 1.7.4. As you can see above (my last stack trace) it still is happening there. We have all DBs updated as per documentation using "alter extension timescaledb update;". On every upgrade we always check that "\dx" shows correct extension number and the postgres logs don't show any warnings or errors.

[2020-10-29 16:16] NeroVanbiervliet commented on #1857
Still/again seems to be unavailable

[2020-10-29 16:30] RobAtticus commented on #1857
@NeroVanbiervliet That is the repository for Debian packages, not Ubuntu.

Ubuntu uses this PPA:
https://launchpad.net/~timescale/+archive/ubuntu/timescaledb-ppa?field.series_filter=focal

Added like this:
[code]

[2020-10-29 16:37] NeroVanbiervliet commented on #1857
@RobAtticus My mistake, I was reading the wrong docs. Thanks a lot!

[2020-10-29 17:37] JLockerman commented on #2599
@k-rus as far as I know: I believe that the chunk is being compressed in the background concurrently with foreground compression, so it _should_ be compressed, but I've never actually checked

[2020-10-29 17:52] skyhisi opened #2603 "Debian Packages for v2 Aren't Marked as Conflicting so Install Causes APT Errors"
**Relevant system information:**
 - OS: Debian Bullseye/Testing (v11)
 - PostgreSQL version: 12.4 (Debian 12.4-3)
 - TimescaleDB version: 1.7.4 (using packages for Debian Buster v10)
 - Installation method: APT

**Describe the bug**
When upgrading from 1.7.4 to 2.0, the installation of the new v2 packages cause an error as they aren't marked as conflicting with the v1 packages.
[code]

**To Reprod

[2020-10-29 21:16] mfreed commented on #2603
Thanks for the report @skyhisi !

[2020-10-30 05:20] #2580 closed

[2020-10-30 07:45] marksugar opened #2605 "Version upgrade HINT"
after using 1.6.0 for a period of time
upgrade to 1.7.0.
Reference：https://docs.timescale.com/latest/update-timescaledb

docker compose is as follows:
[code]

after upgrading from timescale/timescaledb:1.6.0-pg11 to timescale/timescaledb:1.7.0-pg11, the log still prompts: `the installed version is 1.6.0`
[code]

But version has been upgraded to 1.7.0
[code]

I missed those steps, What is the corre

[2020-10-30 14:56] k-rus commented on #2592
Reproduced by https://github.com/timescale/timescaledb/pull/2606

[2020-10-30 15:05] ryanbooz opened #2607 "Updating job config through `alter_job()` allows invalid types"
Version: TimescaleDB 2.0.0-RC2

**Describe the bug**
The `alter_job()` function allows users to modify the `config` for various jobs, which is stored as a JSONB type. For custom UDAs, it makes sense that we cannot type check the values in the `config` field, however, for TimescaleDB job types it seems that we should prevent bad data input for known (and required) parameters.

This conversation cam

[2020-10-30 19:05] gayyappan opened #2608 "Drop continuous aggregate with cascade fails."
Applicable to 2.0 rc and master only
CREATE TABLE conditionsnm(time_int INT NOT NULL, device INT, value FLOAT);
SELECT create_hypertable('conditionsnm', 'time_int', chunk_time_interval => 10);

INSERT INTO conditionsnm
SELECT time_val, time_val % 4, 3.14 FROM generate_series(0,100,1) AS time_val;

SELECT set_integer_now_func('conditionsnm', 'test_int_now');
CREATE MATERIALIZED VIEW conditionsnm_4

[2020-10-30 19:15] gayyappan commented on #2608
Failure scenario 2:
I create view as
create view see_cagg as select * from conditions_nm4;
Now try to drop the materialized view with cascade. It fails.

test=# DROP MATERIALIZED VIEW conditionsnm_4;
ERROR:  cannot drop view conditionsnm_4 because other objects depend on it
DETAIL:  view see_cagg depends on view conditionsnm_4

test=# DROP MATERIALIZED VIEW conditionsnm_4 cascade;
ERROR:  "conditi

[2020-10-30 19:26] gayyappan opened #2609 "Continuous aggregate without policies get updated when chunks are dropped from the hypertable"
Applicable to master ( and 2.0 rc )
 Continuous aggregate is setup without a policy. When chunks are dropped from underlying hypertable, the continuous aggregate data is occasionally updated.
The data should be updated only for applicable policy ranges.

CREATE OR REPLACE FUNCTION test_int_now() returns INT LANGUAGE SQL STABLE as
    $$ SELECT 125 $$;

CREATE TABLE conditionsnm(time_int INT NOT NU

[2020-10-30 19:32] gayyappan commented on #2609
[code]

[2020-10-30 19:35] gayyappan commented on #2609
Related to  issue #2592

[2020-10-30 19:38] #2570 closed

[2020-10-30 19:59] capogithub commented on #2578
Hi,
I have the same issue, the following query return nothing.
[code]
But if i remove id_time_series from the SELECT and from the GROUP BY, the query return rows normally with the expected behaviour from locf second parameter

This query work as expected :
[code]

Any help would be much appreciated!

[2020-11-02 00:22] jeremylcarter commented on #586
Hi @svenklemm Could you explain or detail these new optimizations and what version of Timescale they are in?

[2020-11-02 08:12] hartmutbehrens opened #2611 "Old data is not being automatically dropped after add_drop_chunks_policy is applied"
**Relevant system information:**
 - OS: Ubuntu 18.04
 - PostgreSQL version (output of `postgres --version`): 11.6
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: apt install

**Describe the bug**
A automatic data retention policy was applied to a table as follows:
`SELECT add_drop_chunks_policy('timeseries.base', INTERVAL '32d');`

Compression was also enabled on

[2020-11-02 14:26] mfreed commented on #2611
Hi @hartmutbehrens  A clarification of `drop_chunks` and associated policies is that it only effects chunks whose _ending time_ is before the requested threshold, not all individual rows whose timestamps are < threshold.

So if you had 2 chunks, the first from [50 days earlier, 40 days earlier] and the second from [40 days earlier, 30 days earlier], and you call `drop_chunks(hypertable, INTERVAL '

[2020-11-02 15:53] erimatnor commented on #2258
@svenklemm Can you please add a description to explain this issue?

[2020-11-03 09:29] k-rus opened #2614 "Conversion of cagg refresh arguments to smallint fails"
**Relevant system information:**
 - OS: MacOS
 - PostgreSQL version (output of `postgres --version`): 11.7
 - TimescaleDB version (output of `\dx` in `psql`): 2.1.0-dev
 - Installation method: source

**Describe the bug**
Calling `refresh_continuous_aggregate` on time column of type `smallint` always fails due to implicit conversion error.

**To Reproduce**
[code]
**Expected behavior**
It is prefe

[2020-11-03 09:55] Netskeh opened #2616 "Continuous aggregate view with time_bucket expression in target list fails"
**Relevant system information:**
 - OS: CentOS Linux release 8.2.2004 (Core)
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: yum

**Describe the bug**
1. The continuous aggregation (cagg) is not aggregating my data. All background worker runs fail, whereas calling the view I seem to get correct results (

[2020-11-03 10:34] k-rus commented on #2616
Thank you for reporting and providing the repro!
I was able to reproduce in 2.0 too. The repro for 2.0:
[code]
The last call to `refresh_continuous_aggregate` in the same error:
[code]

[2020-11-03 10:38] k-rus commented on #2616
The create materialized view:
[code]

[2020-11-03 10:43] Netskeh commented on #2616
ah indeed I forgot to paste this part

[code]

[2020-11-03 13:21] #2602 closed

[2020-11-03 14:25] svenklemm commented on #2599
@JLockerman sorry not too familiar with promscale tests, where would i see that error message?
[code]

[2020-11-03 15:35] erimatnor commented on #2614
It is not possible to implicitly convert a 32 bit value to a 16 bit value. The same applies to converting a 64-bit value to a 32 bit or 16 bit value since it could be out of range.

To make this work we'd have to add special code to check that the larger integer is within range of the smaller integer and I am not sure this is worth it.

[2020-11-04 10:43] k-rus commented on #2616
@Netskeh A work around is to not do ` + '00:01:00'::interval` in the continuous aggregate view, i.e.,
[code]
Then use ` + '00:01:00'::interval` in the queries over the continuous aggregate.

[2020-11-04 14:58] nesnes commented on #2146
**Relevant system information:**
 - OS: Ubuntu 18.04
 - PostgreSQL version: 12.3
 - TimescaleDB version: 1.7.4
 - Installation method: apt install of the oss version
 - Hardware: 2 Core 4GB Ram (digital ocean)

**Description**
SELECT (at least) queries involving the timestamp column are spending an insane amount of time in planning which high chunk count.
The targeted hyper table has under 20.000

[2020-11-04 15:04] jflambert opened #2622 "add_drop_chunks_policy should (optionally) overwrite existing policy"
**Relevant system information:**
 - PostgreSQL version (output of `postgres --version`): 12
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: Docker

**Describe the bug**
`add_drop_chunks_policy` throws an exception when a policy already exists.

**To Reproduce**
Steps to reproduce the behavior:
1. create a hypertable or cagg
2. apply add_drop_chunks_policy -> succe

[2020-11-05 01:51] rhaenni opened #2623 "Using NOW() or CURRENT_TIMESTAMP gives "Error: cannot update/delete rows from chunk as it is compressed""
**Relevant system information:**
 - OS: Windows 10 x64
 - PostgreSQL version 12.2
 - TimescaleDB version 1.7.4
 - Installation method: windows binary setup

**Describe the bug**
Table with primary key as timestamp and chunk interval 14 days and compression enabled for chunks older than 30 days. Correctly shows latest 3 chunks (containing data less than 30 days old) being uncompressed. Trying to up

[2020-11-05 01:53] mfreed commented on #2623
I worked with @rhaenni on this issue and workaround tonight in Slack.

My guess issue is because `NOW()` doesn't use planning-time constraint exclusion and thus hits compressed chunks as well, and why using a fixed timestamp is fine.

[2020-11-05 07:46] k-rus commented on #2623
Correct, `now()` doesn't allow to exclude compressed chunks during query planning time.

[2020-11-05 11:11] k-rus commented on #2592
The issue is also reproduced in 1.7, see https://github.com/timescale/timescaledb/pull/2618/files

[2020-11-05 11:21] EtienneM commented on #2556
OK thanks for the clarification. If I don't use the `--clean` option, I need to drop the tables beforehand. I tried with a simple setup. I have two tables `sensors` and `sensor_data` with a few data (34 MiB). Here is what I try to restore my database:

[code]

Doing this raises a few errors because some operations are not supported on chunk tables and on hypertables:

[code]

Despite these errors,

[2020-11-06 09:42] Netskeh commented on #2616
thank you for your work around.
Until the bug is fixed, for the curious user who stumbled upon this, I will use them like this:
[code]
which aggregates the data using the starting timestamp. However as I need them by the ending timestamp I add the additional view on top:
[code]

[2020-11-06 10:09] k-rus commented on #2616
Internal note for continuing to work on the fix. The bug is due to expression in the target list over the grouping column, which is allowed in PostgreSQL: the cagg groups on `time_bucket`, while the target list has expression of adding `1 minute` to the grouping expression, i.e., `time_bucket + '1 minute'`. Current implementation of TimescaleDB checks for presence of `time_bucket` in the target li

[2020-11-06 13:12] #2592 closed

[2020-11-06 13:49] Romeren commented on #902
Hey, im also facing the same issue.
Setup:
Im using the Cloud Service environment.
I have a hyper-table with time, device_id_fk and value column, with a foreign key on the device_id_fk column referencing an a regular table.

I have a pretty constant flow of data of 500-600 rows per second.

I get the above mentioned deadlock seemingly randomly once every hour or so.

Do we know the cause of this o

[2020-11-06 14:56] JLockerman commented on #2599
@svenklemm in the output for `views.out` I'm not sure why it's outputting `info_views` first, I suspect it's random. (also if you haven't already, you should re-pull the `duplicate-trigger-repro` it briefly desynchronized.

[2020-11-08 03:25] mfreed commented on #2622
Hi @jflambert In 2.0, this interface has been changed to include an `if_not_exists` optional arg, which I believe satisfies this request?  Similarly, remove retention has a new `if_exists` optional argument.

- https://docs.timescale.com/v2.0/api#add_retention_policy
- https://docs.timescale.com/v2.0/api#remove_retention_policy

[2020-11-08 03:27] mfreed commented on #2623
@k-rus Yes, I just think we should explore whether there is an easier work-around, given the UX implications.

[2020-11-08 03:29] mfreed commented on #2605
Hi @marksugar Have you upgraded timescaledb in _all_ the databases within your Postgres instance?

The PG extension framework actually has extensions installed on a per-database, rather than a per-server, basis (which is why TimescaleDB has built a bit of complexity into its custom binary loader to handle potentially different versions running in the same server).

[2020-11-08 03:30] mfreed commented on #1226
Hi @jamessewell Do you know if you still see this?  I noticed the related https://github.com/timescale/timescaledb/issues/1508 was marked as fixed in newer versions.

[2020-11-08 03:32] mfreed commented on #1548
Hi @FireAndIce68 Wanted to follow up to see if you have any more information?  (Otherwise, I might close this out for now.)

[2020-11-08 03:33] mfreed commented on #1506
Hi @markns I realize we never got to the bottom of this, but do you continue to see such problems?

(Given the number of releases since this was reported, might otherwise close out unless reproducible on latest versions.  Sorry!)

[2020-11-08 06:04] markns commented on #1506
Hey @mfreed no we haven't seen this in a long time, please close

[2020-11-08 16:43] FireAndIce68 commented on #1548
You can close this issue. I suspect it was a red-herring and the underlying issue was restoring with jobs > 1 for a directory based restore.

[2020-11-09 00:37] edzme commented on #1628
For anyone who comes across this in the future, turns out timescale has a relevant script: https://github.com/timescale/timescaledb-extras/blob/master/backfill.sql

[2020-11-09 01:29] akamensky commented on #1986
@erimatnor @mkindahl this was closed, but the changes are unreleased. What is the current ETA on these changes making it to 1.7 branch?

[2020-11-09 01:39] akamensky commented on #2143
Hit the same issue again in our **production** environment (missing all data over the weekend). If the issue supposed to be fixed in 1.7.4 (and we are currently running 1.7.4 in production), is there any issue with fix? Or RPMs that are published do not contain this fix?

[code]

[2020-11-09 04:48] mfreed commented on #1986
These changes are currently released as part of 2.0-rc2.  Let me discuss with team if there are plans to cherry-pick them back on the 1.7.x branch at some point.

[2020-11-09 04:49] #1548 closed

[2020-11-09 04:50] #1506 closed

[2020-11-09 13:09] mkindahl commented on #2143
It does indeed look the same as #2200 with the same recursion in the cache invalidation code. However, the recursion is taking a different code path compared to what #2259 added, so investigating what we can do to fix this.

[2020-11-09 13:45] #2511 closed

[2020-11-09 14:11] komorebi-san opened #2629 "When select 1 day, timestamp always start at 8 a.m"
When I query for multiple days, lets say 2020-Nov-04 to 2020-Nov-09, timescale always start with 08:00 instead of 00:00

[code]

![image](https://user-images.githubusercontent.com/8327827/98551560-69e7a080-22d8-11eb-88db-3965f465130c.png)

[2020-11-09 16:29] greggiles opened #2630 "Permissions issues when granting SELECT only access to Hypertable - v2.0"
**Relevant system information:**
 - OS: Docker on Windows
 - Docker: `timescale/timescaledb:2.0.0-rc2-pg12`

**Describe the bug**
 - Granting a role select access to tables in a schema with hyper tables and continuous aggregates seems to result in users with the select access only not have access to view the hyper table data.

**To Reproduce**
Steps to reproduce the behavior:
1. Run Timescale via

[2020-11-09 16:45] mfreed commented on #2143
@akamensky If you have any ability to test against source, would be welcome =)

[2020-11-09 19:18] jflambert commented on #2622
It's an improvement (I'll be able to get rid of the exception handling), but doesn't fully satisfy my suggestion.

Very specifically I would like to see an `overwrite` flag for `add_drop_chunks_policy`. So that it behaves more like a `set` than an `add`.

[2020-11-09 23:59] #2614 closed

[2020-11-10 00:43] #2596 closed

[2020-11-10 06:22] akamensky commented on #1986
@mfreed My understanding from comments https://github.com/timescale/timescaledb/pull/2514#issuecomment-705945990 was that this fix will be backported to 1.7 branch. We currently run 1.7 in multiple environments/systems and jumping to 2.x will be a lengthy upgrade process for us. Meantime this issue is still affecting us (since before this issue is reported).

[2020-11-10 08:23] #2143 closed

[2020-11-10 08:46] #2350 closed

[2020-11-10 18:34] #2168 closed

[2020-11-10 19:00] WireBaron opened #2633 "JIT performs poorly on multinode"
When considering multinode queries, we often produce plans with fairly expensive custom DataNodeScan nodes.  It is not uncommon for these values to be high enough to trigger JIT if JIT is enabled (which it is by default starting in PG12).

There are two problems with this.  First, our costing for multinode operations is artificially high to encourage Postgres to minimize the amount of rows transfe

[2020-11-10 19:41] WarriorOfWire commented on #2232
[code]

This error vacillates around the `time` endpoints.  Finding the second at which the error occurs moves the error by minutes in one direction or the other.

**_Of particular note:_** When using explicit time stamps in the filter this happens.  If you replace the _equivalent_ explicit time filters with `time between now() - interval '12 hours' and now()` it works and completes the EXPLAIN.

[2020-11-11 07:26] aprilyush opened #2634 "Compile error message "fatal error: openssl/ssl.h" on debian10 Arm64"
Compile the source code on raspberryPI4,The operating system is Debian 10. Postgresql-12-dev

# Bootstrap the build system
`./bootstrap -DUSE_OPENSSL=0 -DREGRESS_CHECKS=OFF -DCMAKE_EXPORT_COMPILE_COMMANDS=ON`

Error message：
 `[ 91%] Building C object tsl/src/CMakeFiles/timescaledb-tsl.dir/remote/connection.c.o
In file included from /usr/include/postgresql/12/server/libpq/libpq.h:20,

[2020-11-11 08:07] jasonyush commented on #1718
Bro,I need your help !!!
[Compile error message "fatal error: openssl/ssl.h" on debian10 Arm64](https://github.com/timescale/timescaledb/issues/2634)

[2020-11-11 10:11] eleleme opened #2636 "Can I add one new column to the table after hypertable created?"
Can I add one new column to the table after hypertable created?
And does the table work the same way as before(especially the compression is turn on)?

[2020-11-11 10:57] dekiesel commented on #1718
Sorry, I am not running an arm64 kernel.

If it helps, you can find my container at

https://hub.docker.com/r/dekiesel/timescaledb-postgis

But it's for armv7

[2020-11-11 20:07] smit-aterlo opened #2638 "Insertion rate slows down after some time"
Server Configuration:
[code]

Postgre Configuration:
[code]

I am using `go-lang` and the push code is as below:

[code]

This works well for the first 3-4 minutes. Each batch is around 130-200k rows. We are getting around 8 million rows of insertion per minute but after 3-4 minutes it slows down to 800k-900k.

I am not sure how to increase throughput.

Thank you,

[2020-11-12 07:45] erimatnor commented on #2638
Thanks for filing an issue. We need more information about your setup, the configuration of your hypertable, partitioning, etc. to be able to investigate this issue. Ideally, a reproducible test case would be ideal, including script to setup test tables, etc.

[2020-11-12 07:51] erimatnor commented on #2636
For questions like this, I recommend you join our community Slack. But yes, you can add columns on hypertables, but not when compression is enabled.

[2020-11-12 07:51] #2636 closed

[2020-11-12 09:51] k-rus commented on #2556
@EtienneM Sorry for the delay in the reply. My guess is that only foreign key constraints are missing. I don't know if it is related that you restore into the database where the tables were dropped before. Requires an investigation on our side.

You might want to create the foreign key constraint on the hypertable manually.

[2020-11-12 11:54] #2608 closed

[2020-11-12 14:28] smit-aterlo commented on #2638
Hello,

I used https://pgtune.leopard.in.ua/#/ for getting the following configuration for PG
[code]

The table schema is as follow:
[code]

Messages are coming from the pubsub and we are processing them and storing and pushing as below:

[code]

[2020-11-12 21:56] smit-aterlo commented on #2638
It seems like the issue was on the disk side. Accidently selected the wrong disk type. After selecting SSD it is working well.

[2020-11-12 21:56] #2638 closed

[2020-11-13 01:42] mpw-eng commented on #1533
[Disclaimer - I'm a real coding novice and just started learning how git works] - I've been using Timescaledb, Postgresql and Grafana on a Windows 10 host, and enjoy tinkering!  I'm now attempting to do the same on a Raspberry Pi4 and can't install timescaledb.  apt finds timescaledb-loader-postgresql-11, but not timescaledb-postgresql-11.  I'm not sure what "loader" even does?
Is there a timescal

[2020-11-13 08:18] EtienneM commented on #2556
The thing is that these missing foreign key constraints had been created by TimescaleDB and I have no idea what they are supposed to look like. Some of these missing constraints are defined on chunk tables. Is there a TimescaleDB command to re-create the foreign keys of all the chunk tables?

[2020-11-13 08:32] emacsway opened #2642 "Can't install TimescaleDB to PostgrsPro12"
**Relevant system information:**
 - OS: CentOS Linux release 7.8.2003 (Core)
 - PostgreSQL version (output of `postgres --version`): PostgrsPro12
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: "source"

**Describe the bug**
[code]

**Expected behavior**
Built

**Actual behavior**
Error of compilation

[2020-11-13 09:09] k-rus commented on #2556
@EtienneM TimescaleDB doesn't create any foreign key constraints. So it was manually created by someone in your database (or if you use some ORM, it might be created by it). I see no other way how they appeared in the original database.

[2020-11-13 11:47] pmwkaa opened #2645 "compress_chunk() fails with timeout on distributed chunk"
[code]

Source of the problem:

When executing remote function we expect it to finish within 1 hour, using hard-coded timeout value: https://github.com/timescale/timescaledb/blob/master/tsl/src/remote/async.h#L140 and then downgrade it to 1 min here: https://github.com/timescale/timescaledb/blob/master/tsl/src/remote/async.c#L644

[2020-11-13 12:47] erimatnor opened #2646 "Improve handling of timeouts and cancellations in distributed queries"
A distributed query should not timeout unless by user request or `statement_timeout` being reached (on the access node or data nodes).

We should try to execute queries until any of these conditions are met, the query completes by itself, or some other error occurs.

If the query is cancelled on the access node, we need to cancel all the queries on the data node connections, or, alternatively, clo

[2020-11-13 16:17] matinmlk commented on #1543
This restriction is blocking us to use compression in timescaledb.

[code]

If compression can be applied at chunk level not table wide for all chunks, it will give us the flexibility of adding a new nullable column to the table and compress it.

This code will make it possible to change the schema of the hypertable:

[code]

Unfortunately, only if you don't have compressed chunk in the table this

[2020-11-13 16:17] jtushman commented on #1024
Has anyone figured out a path for this.  I think this is an important feature.  We should consider reopening this issue.  Or I can create a similar one

[2020-11-13 17:22] mkarklins commented on #1024
I haven't figured out this one my self.

Given that the OP has found a workaround ( which relies on a unique use case ), and wouldn't care much about the issue - I think you could create a new one.

[2020-11-14 08:52] marksugar commented on #2605
ok
thanks

[2020-11-14 08:52] #2605 closed

[2020-11-15 06:45] undisputed-seraphim opened #2648 "2.0.0-rc3 compilation appears to expect private postgresql headers"
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version (output of `postgres --version`): 12, 13.1
 - TimescaleDB version (output of `\dx` in `psql`): git 2.0.0-rc3
 - Installation method: source

**Describe the bug**
Running bootstrap cmake fails with message that `/usr/include/postgresql/12/server/nodes/parsenodes.h` can't be found.

[code]

On Ubuntu 20.04, I have libpq-dev a

[2020-11-15 09:37] franchb commented on #2642
I had the same issue a few weeks ago. Guys from [Postgres Professional](https://github.com/postgrespro) told that most likely there could be difficulties with installing TimescaleDB on PostgresPro, especially for the Enterprise version. So we switched to plain Postgres.

[2020-11-15 11:41] k-rus commented on #2648
@undisputed-seraphim Have you installed development headers of PostgreSQL? It is required for building any version of TimescaleDB. See the reader and docs/BuildSource.md

[2020-11-15 11:52] undisputed-seraphim commented on #2648
Hi, yes, I am sorry, it appears that the package I needed was `postgresql-server-dev-12`.
I couldn't find it before because I was looking for a "libpostgres..."-named library.
Compilation works now.

I will close this.

[2020-11-15 11:52] #2648 closed

[2020-11-16 08:20] Barolina opened #2649 "Why is a table with one chunk stored for 2 days?"
I use timeseriesdb 1.7.4.
I created a hypertable chunk 1 day.

Example  my timestamp: 2020-04-04 03:00:00.

Why is a table with one chunk stored in 2 days?

[2020-11-16 09:58] pitming opened #2650 "Add condition on drop_chunk based on dimension"
**Relevant system information:**
 - OS: Alpine Linux v3.12 (use of the official docker)
 - PostgreSQL version: 12.4
 - TimescaleDB version 1.7.4
 - Installation method: using Docker

**Describe the bug**
This is of course not a bug. Much more an improvement request.

For the moment, we use pgsql to manage a saga pattern. Each step of the saga is a timestamped row. A saga can last some times and as

[2020-11-16 10:13] erimatnor commented on #2268
Closing since question is answered.

[2020-11-16 10:13] #2268 closed

[2020-11-16 10:17] erimatnor commented on #1901
Make sure you set `enable_partitionwise_aggregate=on` on the access node and then the aggregates should be pushed down in most cases. Otherwise, provide us with an EXPLAIN with the query plan and/or reach out on our support Slack.

[2020-11-16 10:17] #1901 closed

[2020-11-16 10:27] erimatnor commented on #2327
Is this issue fixed by https://github.com/timescale/timescaledb/pull/2604?

[2020-11-16 10:30] erimatnor commented on #2213
The timescaledb properties are not real reloptions and won't show up in database dumps.

[2020-11-16 10:30] #2213 closed

[2020-11-16 11:22] Barolina commented on #2649
And  my  explain

![изображение](https://user-images.githubusercontent.com/5443003/99246933-2da3cb00-2817-11eb-91d1-fa7baa26f9db.png)

[2020-11-16 11:43] nirue commented on #1494
Creating an index produes this error. It does not happen with non hypertables.

`CREATE INDEX ON some_table USING HASH ((extra->'maker'));`

`SQL-Fehler [XX000]: ERROR: cache lookup failed for attribute 61 of relation 0`

`select * from pg_language;`

oid  |lanname |lanowner|lanispl|lanpltrusted|lanplcallfoid|laninline|lanvalidator|lanacl|
-----|--------|--------|-------|------------|-------------

[2020-11-16 15:49] mkindahl commented on #2513
Fixed by #2502, for some reason not automatically closed, so closing now.

[2020-11-16 15:49] #2513 closed

[2020-11-16 16:16] Barolina opened #2652 "Why do Timescale use to index scan for only a one chunk and other chunks only a scan index?"
Please,  i don't understand
Why  dont timescale use to a index  scan?

Timescale use to index scan for only a one chunk  and other chunks only  a scan index

![изображение](https://user-images.githubusercontent.com/5443003/99277986-90a95800-283f-11eb-867a-24fa23744ed2.png)

[2020-11-17 02:33] mfreed commented on #2652
Hi @Barolina:  There could be a variety of reasons that the planner made this decision, the most likely that your statistics on each chunk perhaps are not up-to-date (or due to the selectivity of your filter as it applies to that specific chunk).

One thing to make sure is that you have autovacuum; you can try manually analyzing the hypertable and seeing what happens afterwards.

[2020-11-17 09:18] k-rus opened #2653 "Include raw hypertable into continuous_aggregate information view"
`timescaledb_information.continuous_aggregates` view doesn't include raw hypertable, while there might be cases when it is necessary to connect continuous aggregates with raw hypertables, e.g., to find all continuous aggregates belonging to a hypertable. An example of such need is refreshing a chunk before drop. The best is if the view includes `REGCLASS` of the raw hypertable, so a user policy to

[2020-11-17 09:33] k-rus commented on #2653
Example of how it will look now:
[code]
Note that calling the procedure requires to include schema name even if it is `public`. It can be avoided through complicating the query further.

[2020-11-17 11:10] mkindahl commented on #2140
Since we have made several fixes around tuple locking in 1.7.1 to 1.7.4 and there is no verification if this bug is still present in 1.7.4 I will close this bug. Please reopen if it turns out that it is still present in 1.7.4.

[2020-11-17 11:10] #2140 closed

[2020-11-17 13:00] erimatnor commented on #2645
Related to #2646

[2020-11-17 14:48] davidkohn88 commented on #1024
So, I think to do this properly, the way to do it would be to do a dump with `--section=pre-data --section=post-data` of the entire database, then a `--section=data` dump that excludes based on schema (not based on tables or patterns of tables that include schema names because I'm not sure that that will work, you will want to make sure that you still dump the _timescaledb_catalog schema) and can

[2020-11-17 15:14] JLockerman opened #2654 "Drop chunks does not appear to obey `drop_after` for small intervals"
**Relevant system information:**
 - OS: ALL
 - PostgreSQL version (output of `postgres --version`): ALL
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0-rc-2
 - Installation method: ALL

**Describe the bug**
When `add_retention_policy()` is called with a `drop_after` smaller than the default schedule interval, the data retention job is only scheduled at the default rate, making it seem th

[2020-11-17 15:25] davidkohn88 commented on #1024
I think if you leave out the part where you exclude table data from the _timescaledb*, because that will exclude our catalog schema potentially as well and I also would not exclude-table but just exclude-table-data with the '_timescaledb_internal._hyper*' flag. So it would just be:
[code]

[2020-11-17 18:55] gayyappan commented on #2557
Closing this as we don't have information about the core dump.
Feel free to reopen if you run into this .

[2020-11-17 18:55] #2557 closed

[2020-11-17 21:27] brianbenns opened #2655 "Segmentation Fault on Continuous Aggregate Data Refresh"
**Relevant system information:**
 - OS: Ubuntu 18.04.5 LTS
 - PostgreSQL version: 12.5
 - TimescaleDB version: 2.0.0-rc3
 - Installation method: apt install
 - `raw_data` hypertable contains about 2.5M rows per minute and few hundred million rows in total. Though I also tested this on a 100 row table and got the same result.

**Describe the bug**
When a continuous aggregate is created or refreshed

[2020-11-18 00:07] mfreed commented on #2649
Hi @Barolina I'm not sure I understand the question, my apologies.  Can you try to explain it a bit further what you are asking?

[2020-11-18 09:25] k-rus commented on #2655
Thank you for reporting!
Have you used the same view in earlier version of TimescaleDB, e.g., one of 1.7?

[2020-11-18 11:22] AndreAlves3 opened #2656 "Select avg over continous aggregates causes postgres to crash"
I'm having troubles selecting a field from a continuous aggregate:

The view has the following definition:

[code]
And the query is:
[code]

If I remove the field
[code]
everything works but with it I get:

[08006] An I/O error occurred while sending to the backend. java.io.EOFException

Im using timescaledb 1.7.4 with postgres11.

[2020-11-18 14:52] brianbenns commented on #2655
No I didn't try this specific view when I was running 1.7.

[2020-11-18 15:02] k-rus commented on #2653
This proposal is not possible, since the views should not contain `regclass` but use schema and table name instead.

[2020-11-18 15:28] AndreAlves3 commented on #2656
The logs from postgres:
`/usr/lib64/pgsql/pipelinedb.so(debug_segfault+0x2b)[0x7f1b28cb5f1b]
/lib64/libpthread.so.0(+0xf5f0)[0x7f1b366a05f0]
postgres: mswifimesh: alexa alexa 10.113.151.251(37982) SELECT(pg_detoast_datum+0x0)[0x854b00]
postgres: mswifimesh: alexa alexa 10.113.151.251(37982) SELECT(float8_avg+0x11)[0x784d41]
/usr/lib64/pgsql/timescaledb-tsl-1.7.4.so(+0xf7a2)[0x7f1afadd27a2]
postgre

[2020-11-18 18:58] Barolina commented on #2649
I have a data

[code]
I  create a hypertable:

[code]

Then i see  chanks

[code]
But every chynk have  1,3 G size.

I think,  if i create  interval '1 day' i get  one chunk with  one date.?

My question: Why do  chunk a number 2  have a  mixed data?

Thanks)

[2020-11-18 19:06] Barolina commented on #2649
Thanks)

[2020-11-18 21:23] jtyoung opened #2658 "With Docker Hub rate limiting pulls heavily, hosting Timescale in another Registry would be nice"
Since November 2nd, Docker Hub now [aggressively rate limits](https://www.docker.com/increase-rate-limits) container pulls. This has led to me being unable to pull down Timescale's docker container:

![image](https://user-images.githubusercontent.com/1165366/99589605-397bc280-29ba-11eb-9e76-6ff7814e5fb2.png)

It would be nice if there was an official Timescale ECR repo or something similar as an a

[2020-11-18 22:01] JLockerman opened #2659 "Altering Compression Settings from Functions Fails on Distributed Hypertables"
**Relevant system information:**
 - OS: macos docker `timescale/timescaledb:2.0.0-rc2-pg12`
 - PostgreSQL version: 12
 - TimescaleDB version: 2.0.0-rc2
 - Installation method: docker

**Describe the bug**
`ALTER TABLE ... SET (timescaledb.compress, ...)` fails when silently when called on a distributed hypertable from a function or procedure.

**To Reproduce**
Steps to reproduce the behavior:
1. C

[2020-11-18 22:19] JLockerman opened #2660 "compression_settings view does not report information for compressed hypertables"
**Relevant system information:**
 - OS: macos docker `timescale/timescaledb:2.0.0-rc2-pg12`
 - PostgreSQL version: 12
 - TimescaleDB version: 2.0.0-rc2
 - Installation method: docker

**Describe the bug**
`timescaledb_information.compression_settings` does not display information for distributed hypertables.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a distributed hypertable
2. E

[2020-11-19 01:24] davidkohn88 commented on #1024
Also, as a note here, @jtushman had asked about how to exclude just a hypertable's data but leave the continuous aggregates around, you can generate a list of exclude-table-data's with the following:
[code]
You should then disable the jobs or add `--exclude-table-data='_timescaledb_config.bgw_job' so you don't end up with the jobs then invalidating data and deleting from the continuous aggregates

[2020-11-19 02:15] solugebefola commented on #2017
Was this ever resolved?  Does `reorder_chunk` still require an `index` parameter the first time it's called on a chunk, etc.?

[2020-11-19 10:31] jyotibose commented on #805
Get : Schema, Parent , Chunk and Size

select a.parent_schema,a.parent,a.child,b.total_size from (SELECT nmsp_parent.nspname AS parent_schema,
       parent.relname AS parent,
       nmsp_child.nspname AS child_schema,
       child.relname AS child
FROM pg_inherits
JOIN pg_class parent ON pg_inherits.inhparent = parent.oid
JOIN pg_class child ON pg_inherits.inhrelid = child.oid
JOIN pg_namespace n

[2020-11-19 18:05] gayyappan commented on #2659
Repro test:

[code]

Now connect to a data node, ``` select * from timescaledb_information.compression_settings ```. Compression is not enabled.

[2020-11-19 19:32] alex88 opened #2661 "Join on hypertable results differs from vanilla PG"
**Relevant system information:**
 - OS: Docker 19.03.13 on Mac OS 11.0.1 & latest version timescaledb cloud server
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: [e.g., "using Docker", "apt install", "source"] using docker

**Describe the bug**
I've found this possible bug after migrating our production

[2020-11-19 23:02] arnevanacker opened #2663 "Can't change schema of hypertable with compression, even with all chunks in decompressed state."
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version (output of `postgres --version`):12.5
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0-rc3
 - Installation method: apt install

**Describe the bug**
Trying to add a column or index to a hypertable which has compression enabled errors out: "ERROR:  operation not supported on hypertables that have compression enabled

[2020-11-20 14:00] ghost opened #2665 "Collecting Metrics with the PostgreSQL and TimescaleDB Output Plugin for Telegraf"
Hello,
I have installed and set up my TimescaleDB.
I'm following the instruction that you have written here :
https://docs.timescale.com/latest/tutorials/telegraf-output-plugin

Unfortunately in the latest telegraf version I cannot find the [[outputs.postgresql]] in the config file.
Are you aware if they remove this output ?
Can you give/write an article how can we use data shipper (telegraf/metri

[2020-11-20 14:55] gayyappan commented on #2663
@arnevanacker  Could you try disabling compression and then modify the schema?
```ALTER TABLE <table_name> set (timescaledb.compress=false); ```

[2020-11-20 15:30] pbredav commented on #2656
Hi all,
I work with André. This is blocking us, and making us question the use of timescaledb with continuous aggregates in a project evolution currently ongoing.
We also faced core dumps not long ago in a similar situation, but after rebuilding the database from scratch it worked again... until now.
Is there some additional information you would like us to add to help in resolving this problem?
T

[2020-11-20 16:08] arnevanacker commented on #2663
That did the trick for me.
To be clear: I followed your suggestion without undoing the steps I listed in the issue.
I don't know whether only setting this value to false will suffice.

Thank you!

[2020-11-20 16:39] #2616 closed

[2020-11-20 20:07] gayyappan commented on #2663
@arnevanacker  Good to know that worked for you. Yes, you  should disable compression after completing the steps you listed (i.e. decompressing chunks and disabling the policy ).  You will not be able to disable If the hypertable has compressed chunks.

[2020-11-20 20:07] #2663 closed

[2020-11-22 11:17] Barolina opened #2667 "How to set a timezone in settings for timescale?"
My postgres  have a timezone 'Europe/MSK and the data is also stored in the same timezone.

How to set a timezone in the settings.
When I make a query with date conversion, I get one set of data.
When I make a request without converting the date, I get a different request.
But they must be the same, because the data is already stored in the timezone

[2020-11-22 16:00] mfreed commented on #2667
TimescaleDB's behavior here are the same as PostgreSQL.  If you are using a timestamptz type -- namely, you /are/ storing timezone information in your table, which we typically recommend -- then it will typically properly convert any timestamps returned based on the timezone specified by your client.

In other words, your client program has timezones settings when it connects to the database, and

[2020-11-22 16:05] mfreed commented on #2649
@Barolina It shouldn't.  Are you sure those are the actual timestamps, rather than time bucketed (as they are all showing at exactly the same time)?  Note that your chunk boundaries are often not aligned exactly to the day, but can be an arbitrary region of 24 hours.  So it would then be natural that some data from one day falls in one chunk while other data _from the same day but a different time

[2020-11-22 16:07] mfreed commented on #2656
Hi @pbredav Would you be able to test this on 2.0 RC-3 and see if you continue to get this problem there?

Also, do you see it with even a trivial amount of data, so could provide just full instructions above (create hypertable, insert 3 lines, run a query) that causes it to be recreated?

[2020-11-22 17:18] Barolina commented on #2667
thanks you

[2020-11-22 17:18] #2667 closed

[2020-11-22 17:24] mnvx opened #2669 "Is it possible to decompress chunk without locking of all table?"
Hello. When I decompress one chunk in next way
[code]

All table is locking. Is there are any way to decompress chunk without locking of all table?
TSDB version: 1.7.1, PostgresSQL 12.3.

[2020-11-23 02:03] moodgorning opened #2670 "Query scans entire hypertable if timezones are not resolvable at planning time leading to prohibitively slow queries."
**Relevant system information:**
This is running on postgres 11 and TimescaleDB 1.7.3 in side a 3 node HA cluster.

**Describe the bug**
We receive data from thousands of sensors in many different countries across numerous timezones. All data is stored in UTC (timestamptz). Now I find myself running into trouble if I need to perform queries that require analysis in local time, i.e. daily aggregate

[2020-11-23 08:53] LouisaFritz opened #2671 "Is timescale 1.6 downward compatible?"
I am currently working on a project that was done in timescaledb 1.6.0. I have a PostgreSQL version 10 (azure database for PostgreSQL) and wanted to set up the latest version of timescaledb in this database. However, I can only implement/choose a lower timescaledb version in the extensions.
Can I use the project with the timescaledb 1.6.0 version also with a lower version of timescaledb?

[2020-11-23 13:50] dhodyn opened #2673 "Compressed Chunks Join Issue"
**Relevant system information:**
 - OS: RH7
 - PostgreSQL version (output of `postgres --version`): 12.2, 12.3, 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: using Docker / using Source

**Describe the bug**
Incorrect results are seen when the chunks are compressed and there is a join against the compressed chunks

**To Reproduce**
Steps to reproduce the be

[2020-11-23 14:43] mfreed commented on #2661
Thanks for the report @alex88 .  We are able to reproduce this (including on the master branch) and currently evaluating.

[2020-11-23 15:05] mfreed commented on #2663
Created github issue in https://github.com/timescale/docs.timescale.com-content/issues/597

[2020-11-23 15:17] #2653 closed

[2020-11-23 18:47] erimatnor commented on #2660
I think this is basically a result of the same limitation that causes #2660

[2020-11-23 18:54] phemmer opened #2675 "Feature: Add function for retrieving active process event"
Currently when you do `SELECT wait_event, wait_event_type FROM pg_stat_activity`, you get back `Extension, Extension` if the process is currently executing within the TimescaleDB extension.

This lack of visibility into the extension state makes troubleshooting difficult, as the extension could be doing any number of things. This is even more important in multi-node configuration as when identifyi

[2020-11-23 19:06] davidkohn88 opened #2676 "Tests fail to run if bootstrapped with -DUSE_OPENSSL=0"
**Relevant system information:**
 - OS:mac
 - PostgreSQL version (output of `postgres --version`): 12
 - TimescaleDB version (output of `\dx` in `psql`): 2.0rc
 - Installation method: source

**Describe the bug**
Looks like something's up with CMAKE configs where we need to remove certain lines from the postgresql.conf and pg_hba.conf in order to make systems that are built without SSL support wor

[2020-11-23 19:11] svenklemm commented on #2655
Testcase to reproduce:
[code]

[2020-11-23 19:11] k-rus commented on #2670
@moodgorning My understanding is that in your second query the timezone is extracted dynamically from each record, thus it is not possible to know the timezone and thus the time conditions at the query planning time and thus exclude chunks.
Can you post explain of the query?

[2020-11-23 20:46] francesco11112 opened #2677 "COPY Command not working for large CSV/txt files of 1000000+ rows in Timescaledb rc1"
System Information

OS: Red Hat Enterprise Linux 8
PostgreSQL 12
Timescale 2.0 rc1
Installation method Rhel/Centos dnf/yum repository install
Multinode info : One Access Node 9 Datanodes
16Gb RAM, 1To HDD, 2 Cores, each node

BUG DESCRIPTION
When using COPY command on distributed hypertables for datasets of  (1 miilion)  1000000 + rows the command just hangs. No error message and no action or prog

[2020-11-23 20:54] mfreed commented on #2677
Just to be clear - you see COPY work for smaller file, just not with 1M rows?

Note that COPY command is single threaded (and transactional), so in general will take significant longer than our parallel copy tool.  And because transactional, you shouldn't see the result by querying the DB until it's completely done.

What happens if you try to use this:

https://github.com/timescale/timescaledb-pa

[2020-11-24 02:35] francesco11112 commented on #2677
Yes small files are okay but  1M+ rows are not okay !

COPY command was working reasonably in timescaledb-1.7-beta, eg 1M+ rows in 30 secs approx
Now in timescaledb-rc1 it can wait for 30 mins for 1M rows  and still not finish

I have not tried timescaledb-parallel-copy.
Can you use it on the Access node with distributed hypertables ?

[2020-11-24 06:37] LouisaFritz commented on #2671
Thank you!

[2020-11-24 06:37] #2671 closed

[2020-11-24 07:04] mfreed commented on #2677
Yes, you can write to access node.  Hard to debug what issues you are seeing.  Please also make sure your input CSV is sorted in time order.

[2020-11-24 07:11] mfreed commented on #2642
We spoke with PostgresPro folks a few months ago, and I believe the issue is that the PostgresPro distributio includes API modifications to "vanilla" Postgres (a la from the PostgreSQL Global Development Group), such that TimescaleDB does not compile against the PostgresPro distribution.

I believe you came across some of these issues above; I don't think this has anything to do with "Enterprise"

[2020-11-24 09:27] k-rus commented on #2656
@AndreAlves3 @pbredav Your query cannot be executed over the view, since the view is missing column `nifk`. This is why you get an error.

What happens if the query contains `ROUND(AVG(F_1.kpi1)::numeric, 0) kpi1 `? Is it the case when you observe the crash in the PG instance?

[2020-11-24 09:37] k-rus commented on #2656
@AndreAlves3 @pbredav Can you provide an example, which reproduces the crash? I am trying to guess from the above example, but so far all my queries and views worked without any problems.

[2020-11-24 09:57] AndreAlves3 commented on #2656
Hi @k-rus.

The nikf was not missing but I forgot to add it while changing the names of my fields (regarding privacy concerns :)).

I tried to replicate this issue in a simple scenario
with a fresh timescaledb official docker image and some exported data but the error
is not happening again. However we had this problem several times with different views and
the core dump was always caused by the A

[2020-11-24 10:31] k-rus commented on #2656
@AndreAlves3 Thank you for the reply. While you are trying to reproduce, can you provide the schema of the table (with changed names)? The best is if you can call `\d+` on it and then replace names.
If you are able to reproduce in your complex environment, can you do `EXPLAIN` on the query, which would crash when you execute it?
Do you have any customer or user defined C function used in queries?

[2020-11-24 11:34] AndreAlves3 commented on #2656
@k-rus I created the view and I'm executing the query every hour, data is always being inserted and soon I hope to reproduce it.
Then I will execute the EXPLAIN and get more stack trace from the crash dump. I do not use C functions.

[2020-11-24 19:47] rahulbsw opened #2679 "Add Support for GroupingSet , Rollup in Continuous aggregates"
Current  Continuous aggregates doesn't support GroupingSet , Rollup and Cube (OLAP methods) .
It will hard to do without time dimension but using below rule  in group by clause it could be feasible .
group by  <time dim>, <OLAP method>(<dim1>,<dim2>)

Test Case
[code]

[2020-11-24 20:43] #1789 closed

[2020-11-25 02:54] qiuyuhang opened #2680 "TimescaleDB corrupt catalog tables"
**Relevant system information:**
 - OS: RedHat 7u2 3.10.0-327
 - PostgreSQL version (output of `postgres --version`): 12.2 (and all version support parallel worker)
 - TimescaleDB version (output of `\dx` in `psql`): master (and all version register hook: CacheRegisterSyscacheCallback, CacheRegisterRelcacheCallback)
 - Installation method: source

**Describe the bug**
ParallelWorkerMain will call

[2020-11-25 03:29] moodgorning commented on #2670
Indeed the problem is that the timezone is extracted dynamically from each row. The query plan generated is ~250 KB big as we have quite a few chunks, so be prepared for a long read
`[
  {
    "Plan": {
      "Node Type": "Sort",
      "Parallel Aware": false,
      "Startup Cost": 299726.93,
      "Total Cost": 300464.01,
      "Plan Rows": 294830,
      "Plan Width": 509,
      "Sort Key": ["syn

[2020-11-25 03:33] moodgorning commented on #2670
For completeness sake, here's the corresponding plan for the query with static timezone:

`[
  {
    "Plan": {
      "Node Type": "Sort",
      "Parallel Aware": false,
      "Startup Cost": 722065.46,
      "Total Cost": 723878.16,
      "Plan Rows": 725081,
      "Plan Width": 510,
      "Sort Key": ["synced_data.\"time\" DESC"],
      "Plans": [
        {
          "Node Type": "Nested Loop",

[2020-11-25 07:30] mkindahl commented on #2673
Thank you for an excellent bug report @dhodyn!

Bug is easy to reproduce given the provided example and the explain shows that the index join condition on `time` column is not handled by the `DecompressChunk` node.

Uncompressed table:
[code]

Compressed table:
[code]

Compressed table with workaround:
[code]

[2020-11-25 10:06] allllan commented on #1621
Is it possible to backfill a continuous aggregate using data from a source other than a hyper table? Let’s say we create a continuous aggregate from a hyper table that has a retention policy of two days so there are only two days’ worth of data. But we have another database that has three months worth of data and we want to use that database to backfill the continuous aggregate. Is that possible?

[2020-11-25 20:15] JLockerman opened #2684 "Off by 4 error in histogram deserialize"
In [the histogram deserialization function](https://github.com/timescale/timescaledb/blob/825645b2f5c3685ce50d643f657e48d35677d015/src/histogram.c#L194-L196l) the `StringInfoData`'s pointer is set to `VARDATA(...)` which _does not_ include the `varlen` header, while the it's length is set to `VARSIZE(...)` which _does_ include the `varlen` header's length. This probably does not result in issues i

[2020-11-25 22:03] rahulbsw opened #2685 "Add Compression Support for Continuous Aggregates View"
Timescale DB support compression on hypertable.
Similar if it can support for continuous aggregates view it will help for the view which need to keep data longer time .
[code]

[2020-11-25 23:35] mfreed commented on #2685
Totally agree this is useful (and certainly something we are tracking).

Closing out this issue currently as a duplicate of https://github.com/timescale/timescaledb/issues/2072

Please leave any comments/discussion on that issue.  Thanks!

[2020-11-25 23:35] #2685 closed

[2020-11-26 08:53] Barolina commented on #2649
This is

[code]

[2020-11-26 10:47] erimatnor commented on #2528
Some context. When `timescaledb.enable_per_data_node_queries=true`, the access node performs a "data node scan" instead of a chunk-by-chunk scan. This is a lot more efficient since there is only one remote query/scan per data node instead of one remote query/scan per chunk. However, for a data node scan the information about which chunk a tuple comes from is lost and it is not trivially added back

[2020-11-26 12:16] feikesteenbergen opened #2686 "Allow dump restore to be done by non-superusers"

[2020-11-26 12:17] feikesteenbergen commented on #2686
# Security definer workaround

One solution could be is to make the `timescaledb_pre_restore()` and `timescaledb_post_restore()`
security definer functions with the public grants removed and execute privileges granted to the database owner.

Something with the following effect:

[code]

[2020-11-26 12:19] feikesteenbergen commented on #2686
Another solution would be to grant finegrained permissions on the required bits:

- make `timescaledb.restoring` non-superuser
- allow `_timescaledb_internal.restart_background_workers()` to be executed by the database owner.
- grant insert/update/delete privileges on `_timescaledb_catalog.metadata` to the database owner.

If those 3 are done, the `timescaledb_pre_restore()` and `timescaledb_post_

[2020-11-26 13:36] bilelkhedira opened #2687 "Can't install TimescaleDB on linuxmint RELEASE=20"
**Relevant system information:**
 - OS: [linuxmint RELEASE 20]
 - PostgreSQL version 12
 - TimescaleDB version 1.7 (latest)
 - Installation method: [e.g., "apt install"]

**Describe the bug**
Not supported OS

**To Reproduce**
`bilel@bilel-Inspiron-15-3567:~$ curl -s https://packagecloud.io/install/repositories/timescale/timescaledb/script.deb.sh | sudo bash
Detected operating system as LinuxMint/

[2020-11-26 17:07] #2645 closed

[2020-11-26 17:07] #2646 closed

[2020-11-26 20:43] #2457 closed

[2020-11-26 22:52] felipecsl opened #2690 "TimescaleDB installation fails on MacOS with Apple Silicon (M1/aarch64)"
Error logs

[code]

**To Reproduce**
`brew install timescaledb`

**Expected behavior**
Timescaledb installs properly

**Actual behavior**
Timescaledb installation fails

[2020-11-26 23:23] mfreed commented on #2690
Have you installed postgres _development_ libraries?

[2020-11-26 23:32] felipecsl commented on #2690
I just followed the installation instructions from the [website](https://docs.timescale.com/latest/getting-started/installation/macos/installation-homebrew)

[2020-11-27 06:34] dhodyn commented on #2316
as a workaround, we are always adding an extra column called "extracolumns" of the type [hstore](https://www.postgresql.org/docs/13/hstore.html) for tables which will be compressed so, that we can later _add more columns_ to the table by saving them as key-value pairs. But this has a major disadvantage that data is always text, and additional casting is needed when handling such data

[2020-11-27 08:08] mennowo opened #2691 "Dependency error with yum on CentOS 8"
System:
 - OS: CentOS 8
 - PostgreSQL version: 12.1
 - Installation method: yum

When trying to install TimescaleDB on CentOS 8, I get an error with yum. I installed postgres 12 as provided by the os: `dnf module enable postgresql:12` and then `dnf install postgresql-server`. Then when trying to install timescale I get: "nothing provides postgresql12 >= 12 needed by timescaledb-postgresql-12-1.7.4

[2020-11-27 08:50] iskhakovaks commented on #1613
I have the same problem too.
Caused by: org.postgresql.util.PSQLException: ERROR: could not load library "C:/Program Files/PostgreSQL/11/lib/timescaledb-1.7.4.dll": The specified module could not be found.

ssleay32 and libeay32 dll already in "C:/Program Files/PostgreSQL/11/bin".

![image](https://user-images.githubusercontent.com/22731206/100429707-c273b780-30a6-11eb-87bb-2cd0f4169f54.png)

[2020-11-27 09:03] alex88 opened #2692 "Feature request: delete compressed chunks if condition matches segmentby"
This is a follow-up of a slack [discussion](https://timescaledb.slack.com/archives/C4GT3N90X/p1606382645010400)
In our scenario we have IOT devices sending data into a `raw_data` table structured like this:
[code]
We also have compression enabled for chunks older than 2 weeks, which is segmented by `machine_id,metric_name`.
When we have to delete a machine there are three options:
 - use a foreign

[2020-11-27 10:23] k-rus commented on #2692
Thank you for the feature request and describing your use case!

[2020-11-28 01:04] felipecsl commented on #2690
Closing as duplicate of https://github.com/timescale/homebrew-tap/issues/15

[2020-11-28 01:04] #2690 closed

[2020-11-28 09:59] Barolina commented on #2652
I did  select join  from  then  chunk and  as  well only **Scan Insex**

![изображение](https://user-images.githubusercontent.com/5443003/100499288-5d3cc680-3179-11eb-926e-8e467a917404.png)

[2020-11-28 17:38] francesco11112 commented on #2677
Good News Mike

I tried out timescale-parallel-copy and it worked for a large csv of 6M rows on Timescaledb Multinode rc1
I used the simplest configuration. But when I have some more time I will play around with the lots of "bells and whistles" it has. Unforunately on my set up plain old PostgreSQL COPY command never worked.

I am so grateful for your help

I show the details below

xxxxxxxxxxxxxx

[2020-11-29 19:39] mfreed commented on #2652
I'm still not following.

Can you please post your (a) schema including indexes (preferable `\d+ <hypertable>`), (b) the query, and (c) the full EXPLAIN ANALYZE.  Please be sure to run "VACUUM ANALYZE" on the hypertable before running the explain analyze.

[2020-11-29 19:43] mfreed commented on #1613
@iskhakovaks In the past, we've sometimes seen this due to permissions error.  Were TimescaleDB and Postgres installed with administrator privileges?   (Sorry, I haven't used Windows meaningfully in 15+ years, so much less familiar with its current permissions model.)

[2020-11-30 07:34] iskhakovaks commented on #1613
@mfreed TimescaleDB was installed with administrator privileges. Not sure about Postgres. But I ran in with administrator privileges. The same problem
Installed TimescaleDB 1.7.2 - all the same

[2020-11-30 17:27] anjithapaulose opened #2693 "'expected 2-element int8 array' error while getting data from continuous aggregate (Using query with subquery)"
I am having table with mac_address and uptime. Mac address will be given with colon or without colon. I am having the following data

[code]

I have created an hourly continous agggregate view to get average uptime in each hour using below query

[code]

When I am trying to get data from aggregated_data table using below query, I am getting error '**expected 2-element int8 array**'

[code]

[2020-12-01 06:33] adriaan opened #2694 "no such file or directory: /usr/local/bin/timescaledb_move.sh"
**Relevant system information:**
 - OS: macOS Catalina
 - PostgreSQL version 11.10
 - TimescaleDB version (output of `\dx` in `psql`): current version (but not installed yet)
 - Installation method: Homebrew

**Describe the bug**

When following the install instructions on https://docs.timescale.com/latest/getting-started/installation/macos/installation-homebrew, the `timescaledb_move.sh` file is

[2020-12-01 07:48] k-rus commented on #2693
@anjithapaulose Thank you for reporting. What version of PostgreSQL do you use? What is the version of TimesaleDB, `\dx`?

I tried to reproduce the issue using the above information but without success. Can you provide more details about your example, including the table definition and minimal amount of data to insert?
What is the result of `\d+ data_table`?

Can you provide the result of `\d+ agg

[2020-12-01 09:01] qiuyuhang commented on #2680
I'm surprised that no one cares about this. This is a **FATAL** bug.

[2020-12-01 09:29] adriaan commented on #2694
Solved the problem. `timescaledb.rb` had a dependency on `postgresql@12`, whereas I am using `postrgresql@11`. Updating the dependency in the file resolved the issue.

[2020-12-01 09:29] #2694 closed

[2020-12-01 13:01] anjithapaulose commented on #2693
We are getting the data from view after creation of the continuous aggregate view. But when new data is added to data_table, we are not able to get data view(aggregated_data)

**Postgres version** : 12.5
**Timescale db version**: 1.7.4

**aggregated_data**
`SELECT _materialized_hypertable_2.time_bucket,
 _materialized_hypertable_2.mac_address,
 _timescaledb_internal.finalize_agg('avg(integer)'::te

[2020-12-01 16:15] PhilippJust commented on #2227
Is there a known workaround to get the size of the materialized views inside continuous aggregates in the mean time?

[2020-12-01 19:09] k-rus commented on #2693
@anjithapaulose Thank you providing more details. Unfortunately it is not enough to reproduce the issue.
Based on the above information I created the following repo:
[code]
Executing the query returns a result and don't give any error:
[code]
So it looks to be a some corner case.
Can you write a similar repro script, which results in the error?

[2020-12-02 09:20] erimatnor commented on #2677
I think the issue here might be a memory leak in the COPY path for distributed hypertables. It should be fixed in #2698 and will be part of RC4, coming soon. @francesco11112 it would be great if you could try to load your CSV again with that new release candidate once it is out.

[2020-12-02 09:29] mennowo commented on #2691
A small followup. Using this command:

    dnf -qy module disable postgresql

the dependency error will disappear, and timescale can install under CentOS.

Nonetheless, it would be better to correct the dependencies, as "postgresql12 >= 12" does not make much sense to begin with. The solution would be to alter the SPEC file for timescale, changing

    Requires: postgresql12 >= 12
    Requires: po

[2020-12-02 09:43] dennisjac opened #2701 "Single-node to multi-node migration"
What strategies are there to migrate a single-node TimescaleDB setup to a multi-node one with minimal downtime? As far as I can see the only way to do this right now would be to dump the database and import it again into a multi-node instance but for any non-trivial database size this will incur a prohibitively long downtime especially as the nature of the data (timeseries tend to contain lots of

[2020-12-02 10:04] #2607 closed

[2020-12-02 10:33] erimatnor commented on #2701
Currently, the only way to migrate is to do a `INSERT INTO newtable .... SELECT * FROM oldtable;`. That said, we have plans for more seamless migration where one can incorporate an existing single node instance into a multinode setup by making it a data node and sticking an access node in front of it. That would create a multinode setup with one data nod, which obviously isn't ideal, but it would

[2020-12-02 14:28] keitarobr opened #2704 "insert/update/delete not permitted on chunk error"
**Relevant system information:**
 - OS: Ubuntu 20.04.1 LTS
 - PostgreSQL version (output of `postgres --version`): psql (PostgreSQL) 12.4 (Ubuntu 12.4-1.pgdg20.04+1)
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: [e.g., "using Docker", "apt install", "source"] apt install

**Describe the bug**
[code]
The chunk is not compressed:

[code]

**Expected behavior**
Dat

[2020-12-02 14:48] k-rus opened #2706 "Push down gapfill and grouping when possible on multinode"
Currently `time_bucket_gapfill` is always executed on the access node. The grouping is not pushed down if it contains `time_bucket_gapfill`. Grouping and `time_bucket_gapfill` can be pushed in some cases, which can improve performance of query execution considerably.

[2020-12-02 15:42] #2660 closed

[2020-12-02 16:40] #2677 closed

[2020-12-02 18:11] #2452 closed

[2020-12-02 19:12] jonathan-s opened #2710 "Installing from source on macos"
**Relevant system information:**
 - OS: Macos 10.14.6
 - PostgreSQL version: postgres (PostgreSQL) 12.5
 - TimescaleDB version: 2.0.0-rc3
 - Installation method: source

**Describe the bug**
Following the instructions on installing from source. I reach the instructions to uncomment `shared_preload_libraries = 'timescaledb'` and fill in timescaledb. As I try to reboot postgres server I get the foll

[2020-12-02 20:24] cevian opened #2712 "Crash on continuous aggs with union views"
**Relevant system information:**
 - OS: Linux
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: unknown

At Promscale, we received a bug report of a crash with union views on continous aggs
https://github.com/timescale/promscale/issues/333#issuecomment-732101470

Reproducing report here:

We are experienci

[2020-12-02 22:40] jonathan-s commented on #2710
And apparently I had forgotten to do `make install` 🤦‍♂️

[2020-12-02 22:40] #2710 closed

[2020-12-03 12:14] binakot commented on #2701
Hello!
I really interested in migration from Timescale 1.x to 2.x after official release and first patches :)
Atm I have single node setup of Timescale 1.7: single master + 2 async streaming replicas. The size is about 4 TB.
It would be great if Timescale team write a guide or even migration tool for that! Because I don't see any way to migrate except INSERT new SELECT old.

[2020-12-04 08:59] mkindahl commented on #2712
@cevian Even if we do not have a full core dump, a stack trace give quite a lot of information that is useful for debugging the issue.

[2020-12-04 11:14] binakot opened #2714 "No chunk/data node exclusion on the space dimension if the values are enumerated with disjunction"
The data node is planned to be queried even though it can be excluded by condition WHERE in the filter when OR is used.

My personal experience you can find in this video: https://youtu.be/vbJCq9PhSR0?t=4620.
It's in Russian but I believe the screen sharing is enough :)

[2020-12-04 11:35] binakot opened #2715 "Destiny of the block_new_chunks function?"
Some time ago I found the method `block_new_chunks` in Timescale API that was specified in the official documentation. But after last docs update it was removed totally. I have idea to use this method to block data writing in data node when its space begins to run out. First of all the rebalancing chunks between data nodes is not implemented yet. And block some data node can be helpful in this cas

[2020-12-04 12:43] erimatnor commented on #2715
@binakot thanks for your interest in this functionality.

First, let me clarify a few things. The APIs you mention have never been part of a non-beta release or documentation. We moved these functions to our internal namespace as part of the 2.0-beta6 release because we didn't feel like we had yet figured out the right API and functionality for this feature. For example, we had one proposal to ext

[2020-12-04 13:03] erimatnor commented on #2714
@binakot Can you provide some more information here. Ideally a reproducible test case and/or EXPLAIN output. Also, is this specific to distributed hypertables or is it a general issue even with single node deployments?

[2020-12-04 18:44] binakot commented on #2715
@erimatnor I see. Thanks for the answer. The 'cordon' is good feature. But, please, don't forget to add few options for data node: default (read/write), read only (current state provided by `_timescaledb_internal.block_new_chunks()`) and under cordor (no read/no write). Now I have single node setup and waiting for official release and first patches. I hope you figure out this case and find the bes

[2020-12-04 19:27] binakot commented on #2714
Okay, I will try :)
Here is my demo from the video. It can be run easily with docker & docker-compose.
To reproduce my experience It's enough to do step by step from the beginning to this point: https://github.com/binakot/Multi-Node-TimescaleDB/blob/main/README.md#3-querying-to-cluster-via-access-node

And my new try:

## Setup
* PG12 / TimescaleDB 2.0 RC4 + PostGIS (from official docker image)
*

[2020-12-04 20:07] racosa commented on #1084
I was getting a segmentation fault when trying to this and ended up here. With a regular SQL table it works correctly.

Is there a way to access `NEW TABLE` inside a trigger function on a hypertable?

Thanks

[2020-12-05 07:13] WarriorOfWire commented on #2316
Hey @netrounds-fredrik feel free to +1 the existing issue for this:  https://github.com/timescale/timescaledb/issues/1543

Adding (nullable) and dropping columns (without space reclamation) has been a complete blocker since the initial release of compression for users like me with wide schema.

[2020-12-06 10:02] ferfebles commented on #698
This worked for me.
TimescaleDB is usually used for big databases, and restoring with a single job is too slow.

Could this be included in the documentation?

[2020-12-06 14:29] akamensky commented on #2143
@mfreed I don't have the capacity to test against the source (would need to setup build env and spend time building this). Would appreciate if there were either rpms, or drop-in patched binaries for this to test.

[2020-12-07 00:58] cevian opened #2716 "Turning off compression on distributed hypertable doesn't work."
**Relevant system information:**
 - OS: [e.g. Ubuntu 16.04, Windows 10 x64, etc] docker
 - PostgreSQL version (output of `postgres --version`): 12.x
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0-rc4
 - Installation method: docker

**Describe the bug**
Turning off compression on a distributed hypertable fails.

[code]

**Expected behavior**
No error

[2020-12-07 01:00] cevian commented on #2716
@gayyappan I suspect this has to do with the changes in #2662.

[2020-12-07 07:40] erimatnor commented on #2714
@binakot Thanks, that helps a lot. Still, it would be even more useful if you include the verbose output for the explain. I'd like to see the actual SQL query being sent to each data node.

[2020-12-07 07:45] erimatnor commented on #2680
@qiuyuhang Thank you for the bug report. We are looking at this.

[2020-12-07 07:48] netrounds-fredrik commented on #2316
Ahh, I thought that I searched for existing issues, but appearantly I did not look hard enough. Closing this one as a duplicate of https://github.com/timescale/timescaledb/issues/1543.

[2020-12-07 07:48] #2316 closed

[2020-12-07 08:49] qiuyuhang commented on #2680
Here is the script.

[code]

[2020-12-07 09:51] qiuyuhang commented on #2680
"You are also indicating you know how to fix. Perhaps you can elaborate?"
Nope, I just give a possible way for I don't know what tsdb is doing inside these two hooks.
It seems no way to fix this by "Use hash search like other hooks do", namespace_oid is not a hash table.

After all, the basic idea is remove get_namespace_oid from CacheRegisterSyscacheCallback, CacheRegisterRelcacheCallback in para

[2020-12-07 10:33] jon-v commented on #2712
I'm the origin of the report reproduced above - apologies for reporting to the wrong project initially. Here's the core dump: https://fromsmash.com/Lsire9ilrr-dt

[2020-12-07 14:29] dibdutta commented on #1708
Any update on this issue , not sure its closed without any proper resolution comments. I am seeing the issue for `timescaledb : 2.0.0-rc4`  too.

[2020-12-07 15:45] sscots opened #2717 "IS NULL on hypertable timestamp field doesn't work"
OS: RHEL 7.6
PostgreSQL version: 11.8
TimescaleDB version: 1.7.1
Installation method: unknown

I have a hyper table with a column of type "timestamp without timezone" that allows for NULLs. However I've come across a single instance where a row had a NULL value for that column (An actual NULL, not a string representation or anything else) and the row wasn't being returned when filtering on that co

[2020-12-07 18:18] svenklemm commented on #2717
Can you post your table definition including the create_hypertable call. Can you reproduce the issue on a new hypertable?

[2020-12-07 18:49] binakot commented on #2714
@erimatnor I did. Check the two links below "broken" queries.

There are links one more time:
https://explain.depesz.com/s/oFfr
https://explain.depesz.com/s/L6Y5

You can just open source tab, there is full explain output.
Or you ask for smth else?

[2020-12-07 18:53] gayyappan commented on #2704
@keitarobr Could you provide the output for?
``` \d+ _timescaledb_internal._hyper_7_32_chunk ```
and
``` select * from _timescaledb_catalog.chunk where table_name = '`_hyper_7_32_chunk` ; ```

[2020-12-07 18:59] binakot commented on #2714
Just in case, I'll duplicate it here, suddenly the links stop working.

[code]

EXPLAIN:

[code]

---

[code]

EXPLAIN:

[code]

[2020-12-07 19:17] keitarobr commented on #2704
Dear @gayyappan , these are the outputs:

[code]

[code]

[2020-12-07 20:24] gayyappan commented on #2704
@keitarobr  This is puzzling. The metadata shows that the chunk is not compressed. Could you try the failing insert stmt again and post the stmt and message here? Was this chunk compressed at some point and later decompressed?

[2020-12-08 03:33] moodgorning commented on #2670
@k-rus So I ran into the same issue when presenting the following filter in the where clause.
`((( (compressor_consumption."time") ) >= ((SELECT (DATE_TRUNC('day', CURRENT_TIMESTAMP) + (-29 || ' day')::INTERVAL))) AND ( (compressor_consumption."time") ) < ((SELECT ((DATE_TRUNC('day', CURRENT_TIMESTAMP) + (-29 || ' day')::INTERVAL) + (30 || ' day')::INTERVAL)))))
`
This is the generated where claus

[2020-12-08 10:05] jprecuch opened #2721 "PostgreSQL 13 support"
**Relevant system information:**
 Hi TimescaleDB team. Are there already plans for supporting PostgreSQL 13 version? I couldn't find any note for that yet.
Any progress or timeline for that?

**Describe the request**
Add support for Postgresql 13 for timescaledb extension

[2020-12-08 10:07] vitabaks opened #2722 "index of the segmentby column is not used"
The problem is that the index of the segmentby column is not used. Instead, the entire chunk is decompressed.

PostgreSQL 11.10
timescaledb 1.7.4

compression options:
[code]

test query:
[code]
execution plan:
[code]

column "group" is of type "character varying"

[2020-12-08 10:12] erimatnor commented on #2721
Yes, PostgreSQL 13 is being worked on (there's already a draft PR). Targeted for end of January (tentative).

Closing since duplicate of https://github.com/timescale/timescaledb/issues/2434

[2020-12-08 10:12] #2721 closed

[2020-12-08 16:00] k-rus commented on #2528
@pmwkaa @erimatnor Is it correct to close the issue? It is not fixed, but the bug is replaced with an error message.

[2020-12-08 16:09] nicolai-shape commented on #1717
Is anything planned for this? It's not just `unnest`, it's any function that expands to multiple rows

[2020-12-08 17:08] #2716 closed

[2020-12-08 19:39] keitarobr commented on #2704
Dear @gayyappan , we restarted the Postgres server and the problem went away. Seems it was something temporary. Thanks for your time and I believe we can close this issue.

[2020-12-08 21:04] #2704 closed

[2020-12-09 03:46] phemmer opened #2724 "timescaledb_information.chunks is_compressed not reporting correctly on access node"
**Relevant system information:**
 - OS: Debian 9
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 12.4 (Debian 12.4-1.pgdg90+1)
 - TimescaleDB version (output of `\dx` in `psql`): timescaledb | 2.0.0-rc4
 - Installation method: apt from packagecloud.io

**Describe the bug**
Compressed tables report as `is_compressed=f` on the access node.

**To Reproduce**
Steps to rep

[2020-12-09 04:34] phemmer opened #2725 "Cannot disable compression on distributed hypertable"
**Relevant system information:**
 - OS: Debian 9
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 12.4 (Debian 12.4-1.pgdg90+1)
 - TimescaleDB version (output of `\dx` in `psql`): timescaledb | 2.0.0-rc4
 - Installation method: apt from packagecloud.io

**Describe the bug**
Compression cannot be disabled on distributed hypertables.

**To Reproduce**
Steps to reproduce

[2020-12-09 07:56] erimatnor commented on #2725
Duplicate of https://github.com/timescale/timescaledb/issues/2716 and should be fixed in https://github.com/timescale/timescaledb/pull/2719.

[2020-12-09 07:56] #2725 closed

[2020-12-09 08:29] erimatnor opened #2726 "Faster views and stats functions for distributed hypertables"
There are several functions for fetching remote stats and information from data nodes that take a table as argument (e.g., in schema+name) form. When this functions are used in views to get chunk information the view becomes very inefficient since there is often one remote call/query per chunk. A better solution would be to have a a way to push down a condition clause so that one fetches the stats

[2020-12-10 00:51] kmatt opened #2731 "Continuous aggregate: unrecognized parameter namespace "timescaledb""
**Relevant system information:**
 - OS: Centos 8.2
 - PostgreSQL version: 12.5
 - TimescaleDB version: 1.7.4
 - Installation method: rpm

[code]

**Describe the bug**
https://docs.timescale.com/latest/api#continuous-aggregates suggests that continuous aggregates are a community license feature, but upon attempting to create a materialized view get error `unrecognized parameter namespace "timescale

[2020-12-10 01:30] mfreed commented on #2731
Hi @kmatt -

The syntax `CREATE MATERIALIZED VIEW` for continuous aggs was introduced in 2.0.  Prior to that, it was just `CREATE VIEW`.  Please try that and let me know if you continue to see any issues.

- 1.7:  https://docs.timescale.com/v1.7/api#continuous_aggregate-create_view
- 2.0: https://docs.timescale.com/v2.0/api#continuous_aggregate-create_view

[2020-12-10 01:32] kmatt commented on #2731
@mfreed That was indeed the problem. I was referencing the 2.0 docs while using the 1.7 extension.

[2020-12-10 01:32] #2731 closed

[2020-12-10 04:45] phemmer opened #2732 "compress_chunk() blocks chunks_detailed_size() for a long time"
**Relevant system information:**
 - OS: Debian 9
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 12.4 (Debian 12.4-1.pgdg90+1)
 - TimescaleDB version (output of `\dx` in `psql`): timescaledb | 2.0.0-rc4
 - Installation method: apt from packagecloud.io

**Describe the bug**
When compressing a chunk with `compress_chunk()`, after a certain point in the process, any quer

[2020-12-10 10:17] erimatnor commented on #2575
I wasn't able to reproduce this in tests on the 2.0 code base. Isolation tests were expanded for this case in https://github.com/timescale/timescaledb/pull/2688.

In particular, I added tests where I tried to reproduce the deadlock, but I wasn't able to. It might mean that prior fixes to locking in `drop_chunks` already resolved the issue or the test isn't "detailed" enough to cover the deadlock c

[2020-12-10 12:19] bijwaard commented on #1842
Hi all,
I'm trying to use TimescaleDB on a single-board-computer (orangepizero with 4-core with 512MB memory) that does electrical measurements every second to see if this performs better than influxdb. I compiled from git repository and I tuned some postgresql settings to reduce disk/memory usage (see zipfile below). I created the hypertable with time as BIGINT and a chuck_time_interval of 5 micr

[2020-12-10 15:20] #2138 closed

[2020-12-10 16:10] phemmer commented on #2732
Ok, so this issue is actually much worse than originally described, the blocking also affects normal read queries on the table.

[2020-12-10 16:18] phemmer opened #2733 "multi-node: extremely slow query plan when ordering by time"
**Relevant system information:**
 - OS: Debian 9
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 12.4 (Debian 12.4-1.pgdg90+1)
 - TimescaleDB version (output of `\dx` in `psql`): timescaledb | 2.0.0-rc4
 - Installation method: apt from packagecloud.io

**Describe the bug**
When performing a query across multiple data nodes and ordering the result by time, the query is

[2020-12-10 17:14] erimatnor commented on #2733
@phemmer, can you please include verbose explain output for the access node plan. It will show the SQL statement being sent to each data node.

[2020-12-10 17:37] phemmer commented on #2733
Sure thing, here you go:
[code]

[2020-12-11 07:56] bijwaard commented on #1842
Dear all,

After half a day, the database grew to 2.3GB, influxdb with the same measurement data is now 36M. I'm ditching the hypertable for now on my embedded device, and see if regular postgresql performs better.

$ sudo du /var/lib/|sort -n|tail -15
26844   /var/lib/influxdb/wal/_internal/monitor
26848   /var/lib/influxdb/wal/_internal
27484   /var/lib/dpkg/info
27564   /var/lib/influxdb/wal
29

[2020-12-11 08:16] pmwkaa commented on #2733
@phemmer Thanks for sharing with us. I have two suggestions to try:

1) disable JIT compilation on the access node `SET jit=off` (we already saw some significant performance drop because of that in other cases)

2) try to use different data fetcher `SET timescaledb.remote_data_fetcher = 'cursor'`. If I am not mistaken, we recently changed the default one to `rowbyrow`.

[2020-12-11 10:58] k-rus commented on #2528
The issue is not resolved, but the bug is fixed with returning error. So it is not a bug any more. However, proper `tableoid` needs to be fixed eventually, or a decision on new design around `tableoid` be made.

[2020-12-11 13:22] phemmer commented on #2733
neither of those had any effect :-(

[2020-12-11 16:11] sscots commented on #2717
I can't reproduce the issue because it's so random and it only happens in less than 1 out of 1k records.
However, I think I have solved the issue by dropping an index on that column and recreating the index with late_time IS NULL specified.
I had initially created a brin index with that late_time column when it was NOT NULL. Then I modified the column to accept NULL values and that's when I starte

[2020-12-11 16:57] phemmer opened #2740 "join on lookup table causing sequential scan"
**Relevant system information:**
 - OS: Docker timescale/timescaledb:2.0.0-rc4-pg12
 - PostgreSQL version (output of `postgres --version`): 12.0
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0-rc4
 - Installation method: docker

**Describe the bug**
When using a view to union multiple hypertables, and performing a join on that view with a lookup table, postgres switches to a sequential s

[2020-12-12 01:17] phemmer commented on #2733
Also, executing that `Remote SQL` statement directly on the data node is still slow.

Here's the explain plan from the data node on the statement:
[code]

If I take off the `WHERE _timescaledb_internal.chunks_in(...)`, then the query returns fast (8ms).

[2020-12-13 09:47] bloever commented on #283
Any news about this feature?

[2020-12-13 11:47] sulliwane commented on #1094
Very much interested in having issue this fixed as well! Thanks @erimatnor @bboule @RobAtticus for your input :)

[2020-12-13 12:57] tkirchm commented on #1533
An apt installer would be great.

[2020-12-14 12:18] bijwaard commented on #1842
First results with postgresql without timescaledb look promising, I use double precision in seconds for the UTC timestamps and a Python script with psycopg2 to dump into database:
- postgres database
  - 165M diskspace over the weekend,
  - 7.7 (main)+7.3% (checkpointer) +7.1% (background writer)=21.1% memory usage
  - 1.3% (database user) + 12.1% (Python script) CPU usage
- influxdb database
  -

[2020-12-14 14:19] dsempel opened #2743 "CMake error when building on MacOS"
I'm trying to build timescaledb from source, but keep running into in error when running bootstrap. Unable to find anything on this error. Anybody has any idea?

MacOS: 11.0.1
CMake: 3.19.1

[code]

[2020-12-14 15:22] phemmer opened #2744 "Query planner using sequential scan instead of index scan on compressed chunks"
**Relevant system information:**
 - OS: Debian 9
 - PostgreSQL version (output of `postgres --version`): postgres (PostgreSQL) 12.4 (Debian 12.4-1.pgdg90+1)
 - TimescaleDB version (output of `\dx` in `psql`): timescaledb | 2.0.0-rc4
 - Installation method: apt from packagecloud.io

**Describe the bug**
When performing a query using a disjunction on a column's value, the query planner uses sequenti

[2020-12-14 15:55] pmwkaa commented on #2733
@phemmer can you see any difference if you turn off the `jit` in the last attempt?

[2020-12-14 15:58] phemmer commented on #2733
no, disabling jit has no effect

[2020-12-14 19:46] le-duane opened #2745 "Is upgrading from 0.12.x to 1.7x supported?"
Hi,

The documentation only has instructions for upgrading from 1.x. Is upgrading from 0.12.1 supported?

If not, do you know what the recommended upgrade path is? I was looking to go the `ALTER EXTENSION timescaledb UPDATE;` route.

Thanks!

[2020-12-14 20:48] k-rus commented on #2745
The update of TimescaleDB is supported from 0.9 according to the documentation. See, for example, the version of documentation for [TimescaleDB 1.0](https://docs.timescale.com/v1.0/using-timescaledb/update-db). I believe you will need to have binaries of TimescaleDB for each version between your version and targeted version and they might be already in the extension folder. Also you will need to r

[2020-12-15 01:37] jpayne commented on #2743
I picked tonight to dive into TimescaleDB, and unfortunately I'm running into the exact same problem.

MacOS 11.0.1
CMake  3.19.1

[2020-12-15 09:24] PhilippS93 commented on #1304
Hi everyone,
is this already on the roadmap?

Thanks!

[2020-12-15 14:08] tylerfontaine opened #2747 "Longer chunk_time_intervals are capped at 497,664,000,000 milliseconds"
**Relevant system information:**
 - OS: CentOS8
 - PostgreSQL version (output of `postgres --version`): 12.4
 - TimescaleDB version (output of `\dx` in `psql`): 1.7.4
 - Installation method: apt install

**Describe the bug**
When creating hypertables with chunk_time_intervals of > 497,664,000,000 milliseconds (which is 15 years, 8 months, and some change), the intervals are actually capped at 497,

[2020-12-15 19:32] le-duane commented on #2745
Thanks so much for your response @k-rus!

Given your pointers, I ended up hopping through 1.5.1 to 1.7.1 with a vacuum full in between. This seemed to be the safest route since that was what was supported by the documentation at each version.

[2020-12-16 03:29] lantins commented on #2087
So the problem here is that to add a new column to a continuous aggregate we need to currently drop and recreate that view.

Doing so raises a number of problems for the OP and myself:

- If you have deleted the raw data the cont. aggs. were created with and you drop the view, you will loose that data and there's currently no work around?
- Recreating the cont. aggs. (even if you have the raw data

[2020-12-16 09:11] vitabaks commented on #2722
\d _timescaledb_internal.compress_hyper_34_584769_chunk
[code]

[2020-12-16 09:44] vitabaks commented on #2722
In the documentation: https://docs.timescale.com/latest/using-timescaledb/compression#understanding-segmentby

But it doesn't work for me...

Please help fix the problem.

[2020-12-16 09:49] vitabaks commented on #2722
SET enable_seqscan = OFF;

[code]

[2020-12-16 10:09] vitabaks commented on #2722
The "group" filter does not go down to the compress_hyper_34_584769_chunk level (_ts_meta_max_2, _ts_meta_min_2 only), and is applied at the DecompressChunk level.

[2020-12-16 19:00] frnk01 opened #2750 "Does adding additional partition columns lead to better performance?"
**Relevant system information:**
 - Azure
 - PostgreSQL version 11
 - TimescaleDB version: 1.3.2

Will large tables benefit of having multiple partition columns when running in Azure?

Let`s say a time column and a location column. The location column will probably contain up towards 1000 unique values and the table will in the long term have billions of rows.

Any feedback on this would be much a

[2020-12-16 22:22] luveti commented on #2400
This would be awesome. I'm storing some data as JSON arrays and wasn't sure what the query would be to denormalize it all for use in a view, so I opened a question on stack overflow here https://stackoverflow.com/q/65280697/1563399. But sadly it uses FILTER.. which isn't supported yet. I modified it to use CASE instead, but of course it was never going to work anyways due to lateral joins not bein

[2020-12-16 22:36] k1th commented on #2486
Same issue here, might be related to #1569.
We're on PG 12 with Timescale 1.7.2.

We have 2321 chunks in a table and we're trying to delete 25K records due to duplicate issues. As we don't have a unique index, we need to do this by ctid.
Statement is like this
[code]

This ends up with an OOM crash of the process. And the crash even happens if we only do an explain.
Based on similar issues this mi

[2020-12-17 18:19] fncaldas commented on #1919
I got this same error here when using pg_promise to call a function from PostgreSQL 12.5 in Ubuntu 20.10:

I could solve this error by adding the public schema when calling the last function. However calling my function directly from psql or jbdc interface doesn't trigger the error even when my fuction was in a different schema. It happens only when calling the function from pg_promise.

[2020-12-17 22:02] Greenbones commented on #414
Just echoing my support for this feature, our org needs calendar based monthly/yearly aggregation support as well.

[2020-12-17 22:47] mfreed commented on #2750
Please see our documentation here:  https://docs.timescale.com/latest/api#add_dimension  Thanks!

[2020-12-18 09:30] erimatnor commented on #2744
Possible duplicate of #2722

[2020-12-18 11:25] erimatnor opened #2757 "Make data node connection establishment non-blocking"
Data node connections are established with a blocking API, which means that, e.g., the `add_data_node` command cannot be canceled (ctrl-c) if the data node is not responding.

An easy way to test this manually is to run a listening netcat process that pretends to be a data node endpoint:

[code]

Then call `add_data_node` connecting to this IP and port and the result is a hanging that cannot be ca

[2020-12-18 12:22] blackbit42 commented on #1732
Any update on this?

[2020-12-18 12:27] mkindahl commented on #2743
This is triggered because the compiler does not support the flag `-fvisibility`. What is the compiler that you're using? It seems to be using the compiler at `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc` so if you could run something like

[code]

To figure out the compiler version, that would be helpful. It seems like CMake claims it is a Apple versio

[2020-12-18 12:45] dsempel commented on #2743
Here you go:
[code]

[2020-12-18 13:45] ppseverin opened #2758 "Q: Do I need to create a new table to convert it to hypertable?"
Hi!

I was following TimescaleDB [tutorials](https://docs.timescale.com/latest/getting-started/migrating-data) and a in one part the table we want to create as hypertable is duplicated. My question is, do we actually have to duplicate the table or we could just go with the `SELECT create_hypertable('new_table', 'time');` and `INSERT INTO new_table SELECT * FROM old_table;` operations?

[2020-12-18 13:55] ppseverin opened #2759 "[Design advice] One hypertable per object, or one across all objects"
Hi,

I was looking to store and do a little bit of processing of market tick data for 28 different instruments. I started with only 2 instruments and store the data in 2 separate tables (one for each instrument). Now that I want to scale this for 28 instruments, I was reviewing some more efficient options for the database design and schemas. Thats when I came across with TimescaleDB.

I'm looking

[2020-12-18 14:12] mkindahl commented on #2743
Strange. According to the documentation for the [CLang 12](https://clang.llvm.org/docs/ClangCommandLineReference.html) the option `-fvisibility=hidden` should be supported. Can you try the flag `-fvisibility=hidden` and see if that works directly?

[2020-12-18 16:08] mkindahl commented on #2758
It is a little unclear what you're aiming for, but the `create_hypertable` operation will transform the table into a hypertable. If you have data in the table, you can migrate it using the `migrate_data` option at the same time, but it is also perfectly fine to create an empty hypertable and insert data into it from an old table, like you suggest above.

I am not sure where the duplication comes i

[2020-12-19 05:20] emadct commented on #2232
Is there any fix around this issue ? Because we have such an issue in our monitoring (grafana) and some days, we see it often. When time passes for example two hours, it works again, we are using time_bucket and group by based on that. Also I checked it now, and while I remove the other conditions it works !

Not working:
[code]

Working:
[code]

[2020-12-19 07:34] WarriorOfWire commented on #2232
For a workaround instead of `$__timeFilter(“time”)` try `time between $__timeFrom()::timestamptz and $__timeTo()::timestamptz`.

[2020-12-20 06:40] emadct commented on #2232
Thank you very much, by the way if there are more information required to fix the issue, I can try my best to reproduce it using a SQL file.

[2020-12-21 13:36] Nizarius commented on #1435
Any updates on this?

[2020-12-21 14:27] k-rus opened #2767 "Test reorder_vs_insert is flaky"
On MacOS build `reorder_vs_insert` test failed once with diff:
[code]

[2020-12-22 02:21] clj commented on #1082
#### TLDR

It is possible to use a [Grafana query variable](https://grafana.com/docs/grafana/latest/variables/variable-types/add-query-variable/), refreshed **On Time Range Change**, that calls a PL/pgSQL function to automatically determine the best aggregate view to query. This seems like a fairly effective workaround for this issue (and is IMHO better than alternative suggested in both [this blo

[2020-12-22 05:39] zdm opened #2770 "Unable to build from source"
**Relevant system information:**
 - OS: Fedora 33
 - PostgreSQL version 12.5
 - TimescaleDB version 2.0.0
 - Installation method: "source"

**Describe the bug**
I get the error below when trying to build it from source.

1. clone and checkout latest release;
2. run:
[code]

[code]

[2020-12-22 06:50] jgoff commented on #2770
same error also seen when trying to build timscaledb 2.0.0 with postgres 12.5 on kali 2019.4 (x86_64), with GCC version 9.3.0

[2020-12-22 07:30] k-rus commented on #2770
@zdm @jgoff Can you provide `-DWARNINGS_AS_ERRORS=OFF` to the bootstrap? It should solve treating this warning as error?

[2020-12-22 07:32] zdm commented on #2770
maybe it will be better to six this?

On 22.12.2020 09:30, Ruslan Fomkin wrote:

[2020-12-22 08:10] k-rus commented on #2770
Yes.

[2020-12-22 08:16] CyberDem0n commented on #2770
For me it fails with:
[code]

It is sort of strange to have defaults that most likely would fail.

Another problem is that due to the https://github.com/timescale/timescaledb/commit/c90397fd6a0cfb5cc6487207424eeac5e6920c52 the bootstrap script fails on ubuntu 18.04 because there is only cmake 3.10 available, but perfectly works after manually changing requirement in the CMakeLists.txt.

[2020-12-22 11:05] dBitech opened #2771 "timescaledb-2.0.0 build failure on FreeBSD - dereference of a null pointer"
**Relevant system information:**
 - OS: FreeBSD 12.1-RELEASE-p6
 - PostgreSQL version: postgres (PostgreSQL) 12.5
 - TimescaleDB version 2.0.0
 - Installation method: source
 - FreeBSD clang version 10.0.1 (git@github.com:llvm/llvm-project.git llvmorg-10.0.1-0-gef32c611aa2)

**Describe the bug**
Unable to build from source, build failure in src/CMakeFiles/timescaledb.dir/subspace_store.c  Access t

[2020-12-22 13:43] jgoff commented on #2770
@k-rus , confirming that it compiles OK with this workaround flag

[2020-12-22 14:35] k-rus commented on #2770
Thank you for confirmation. We will look to remove the need for this flag in future release.

[2020-12-22 16:59] brettwooldridge opened #2773 "ERROR: right sibling's left-link doesn't match"
**Relevant system information:**
 - OS: Tinycore Linux 10
 - postgres (PostgreSQL) 11.9
 - TimescaleDB version: 1.7.4
 - Installation method: source

**Describe the bug**
Batch insert through JDBC is failing with the following error:
[code]
This error suddenly started appearing, I do not know the cause, or how to reproduce.  What is this an indication of?

[2020-12-22 17:20] brettwooldridge commented on #2773
Dropping and re-creating the index seems to have resolved the continuing error in our logs. However, I am curious is this is a known issue or whether the fact that this error occurred leads TimescaleDB devs to some conclusion?

[2020-12-23 08:08] erimatnor commented on #2771
This looks like a linter issue, hitting a well-known false positive. You should be able to get past this issue by running cmake with the flag `-DLINTER=OFF`.

[2020-12-23 10:40] dBitech commented on #2771
I can confirm that adding that option does in fact allow a clean build.

Thank you @erimatnor

[2020-12-23 19:39] mfreed commented on #2758
Ah -- I think I see perhaps the issue:

https://docs.timescale.com/latest/getting-started/migrating-data#same-db

mentions the `INSERT INTO new_table SELECT * FROM old_table;` step.  I think that part of the docs was written before we added the `migrate_data` ability to a hypertable.

Right now, you can take an existing table and just "migrate" it by running `create_hypertable` on it with `migrate

[2020-12-23 19:43] mfreed commented on #2759
Hi @ppseverin You might want to see this design discussion around "one hypertable per metric" in our own design for Promscale, which talks about some of these tradeoffs in depth:  https://tsdb.co/prom-design-doc

Having separate hyprtables per instructions given greater flexibility and performance improvements, although a few limitations as well (primarily around much harder to query _across_ inst

[2020-12-23 21:03] grawlinson opened #2774 "Does not compile against PostgreSQL 13.1"
**Relevant system information:**
 - OS: Arch Linux  `Linux $HOSTNAME 5.10.2-arch1-1 #1 SMP PREEMPT Mon, 21 Dec 2020 19:59:42 +0000 x86_64 GNU/Linux`
 - PostgreSQL version (output of `postgres --version`): 13.1
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0
 - Installation method: source

**Describe the bug**
TimescaleDB 2.0.0 fails to compile against PostgreSQL 13.1 due to a changed fun

[2020-12-24 12:39] Dessa commented on #2774
PG13 is not [fully] supported yet. there is a series of PRs which work towards that, but these didn't make it into 2.0.0

this one in particular is addressed by #2738 which is a subset of #2498 (for easing reviewing the changes im assuming)

[2020-12-24 17:08] gayyappan commented on #2744
@phemmer Could you add the definition for the table  (\d <table_name> ) and the settings used for compression (timescaledb_information.compression_settings)

[2020-12-24 17:13] phemmer commented on #2744
[code]

[2020-12-25 02:05] qiuyuhang commented on #2680
Can you reproduce this problem?

[2020-12-25 16:25] mfreed commented on #2774
We are targeting 2.1 to support PG13.

[2020-12-25 16:25] #2774 closed

[2020-12-25 16:27] mfreed commented on #2773
Hi @brettwooldridge Can you saw anything more about scenario which led to this?  I don't recall ever seeing such an error before.

[2020-12-26 10:36] sgorsh opened #2775 "PostgreSQL 12.5 on Windows crash when pgAdmin connects to database"
**Relevant system information:**
 - OS: Windows 10 x64 1909 (also tested on Windows 10 IoT Enterprise LTSB 2016)
 - PostgreSQL version: 12.5
 - TimescaleDB version: 2.0.0
 - Installation method:
   - TimescaleDB: `timescaledb-postgresql-12_2.0.0-windows-amd64` installer
   - PostgreSQL: EDB installer

**Describe the bug**
PostgreSQL crashes when pgAdmin 4.28 connects to the database where Timescal

[2020-12-28 00:18] alexeyklyukin opened #2777 "CMake doesn't propagate CPPFLAGS and LDFLAGS used when building PostgreSQL"
**Relevant system information:**
 - OS: macOS Big Sur 11.1
 - PostgreSQL version (output of `postgres --version`): 12.5
 - TimescaleDB version (output of `\dx` in `psql`): 2.0
 - Installation method: source

**Describe the bug**
Some PostgreSQL configure options make it link against external libraries and use external includes. Typically, PostgreSQL extensions use PGXS mechanism to propagate relat

[2020-12-28 12:49] k-rus commented on #2777
Thank you for reporting!

I add a note to relate it to https://github.com/timescale/timescaledb/issues/2770 so they can be fixed together.

[2020-12-28 14:08] rept opened #2778 "Docs still up-to-date? Compression not working"
Hi,

I installed AMI on AWS with TimescaleDB 2.0 and Postgres 12.

When I try the following from the docs here: https://docs.timescale.com/latest/using-timescaledb/compression#quick-start

[code]

I'm getting

    SQL Error [42883]: ERROR: function add_compression_policy(unknown, interval) does not exist Hint: No function matches the given name and argument types. You might need to add explicit ty

[2020-12-28 15:12] k-rus commented on #2778
@rept Thank you for reporting. Can you run `\dx` in the database you execute the SQL code and post the result?

[2020-12-28 15:18] k-rus commented on #2778
@rept If I don't mistake there are no AMI with TimescaleDB 2.0. So I guess you are running an older version of TimescaleDB, which has different API.

[2020-12-28 15:31] rept commented on #2778
[code]

This is the AMI I used...

TimescaleDB 2.0.0 (PostgreSQL 12) - Ubuntu 18.04 (EBS Backed) - ami-06479c10b25555960
An Ubuntu 18.04 instance with TimescaleDB installed and running

I don't understand why it's 1.7.4 since the AMI clearly said 2.0.0

![image](https://user-images.githubusercontent.com/1388221/103225373-0ec24980-492a-11eb-9eba-3a7884af33ff.png)

[2020-12-28 15:33] k-rus commented on #2778
@rept Thank you for the result of `\dx`. It clearly shows that the installed version of TimescaleDB is 1.7.4:

Thus the API is different than latest.

[2020-12-28 15:38] rept commented on #2778
There is an AMI on AWS which states TimescaleDB 2.0.0 while it's in fact 1.7.4 (see previous screenshot).  No idea who maintains these or who put it up.

Thanks for the feedback though! ;-)

[2020-12-28 16:08] k-rus commented on #2778
@rept I believe the packages will be rebuilt.
Thank you for reporting!

[2020-12-28 16:12] rept commented on #2778
Thanks!  Meanwhile I updated to TimescaleDB 2 and now it works of course.

[2020-12-28 16:12] #2778 closed

[2020-12-29 08:11] rept commented on #2778
@k-rus think I found something not up to date in docs:
https://docs.timescale.com/latest/api#show_chunks

    SELECT show_chunks();

Doesn't work, however if I use

    SELECT show_chunks('conditions');

It does work.  Version 2.0.0.  If you want me to open new issue, let me know.

[2020-12-29 08:22] k-rus commented on #2778
@rept Thank you! You are right it is not up-to-date. It is not possible to call `show_chunks` without specifying a table name from 2.0.

[2020-12-29 08:23] k-rus commented on #2778
I will fix it right away. If you find more of them, can you open issues in https://github.com/timescale/docs.timescale.com-content/issues ?

[2020-12-29 08:24] rept commented on #2778
Will do ;-)

[2020-12-29 11:49] k-rus commented on #2775
@sgorsh Thank you for reporting.
Have you tried to execute some other SQL statements with TimescaleDB extension through `psql`?
Have you used previous version of TimescaleDB on the same PostgreSQL installation?

Can you obtain the stack trace of the crash?

[2020-12-29 11:53] k-rus commented on #2775
I have tried to reproduce this issue on Windows with PostgreSQL and TimescaleDB installed from sources, but it worked successfully.

[2020-12-29 12:50] k-rus commented on #2775
I was able to reproduce this crash with TimescaleDB installation from the same zip.

[2020-12-29 13:01] k-rus commented on #2775
And as expected it is reproduced from the release build of TimescaleDB from the source.

[2020-12-29 15:34] k-rus commented on #2778
New AMIs were issued.

[2020-12-29 15:45] sgorsh commented on #2775
OK, let me know if you need any more information.
Thanks.

[2020-12-29 16:30] NunoFilipeSantos commented on #2434
Closing this issue.
Epic here: timescale/timescaledb-private#852

[2020-12-29 16:30] #2434 closed

[2020-12-29 16:31] NunoFilipeSantos commented on #2434
The PG 13 is on our next priorities to be released during the first quarter of the year.

[2020-12-29 17:11] NunoFilipeSantos opened #2779 "Support for PostgreSQL 13"
### What

This is a stop-gap release (outside our regular schedule) that aims to deliver PG13 support.

---

### Why

Support for PostgreSQL 13 is a frequently requested feature from the community and PostgreSQL 13 was released September 24, 2020.
PostgreSQL 13 offers significant improvements in performance and usability and in order to better support our users, we should include support for PG13

[2020-12-29 17:13] NunoFilipeSantos commented on #2721
You can follow our planned efforts regarding PG13 here: https://github.com/timescale/timescaledb/issues/2779

[2020-12-29 17:23] NunoFilipeSantos commented on #632
@JLockerman this issues looks done to me.
Please close it.

[2020-12-29 17:26] NunoFilipeSantos commented on #833
@cg-d are you still affected by this issue on the newest release?

[2020-12-29 17:34] NunoFilipeSantos commented on #849
@esatterwhite I have read through the [release process for PGXN](http://manager.pgxn.org/howto) seems straightforward, however this does not fall under our current priorities, maybe in the future when we start automating even further our release process.

[2020-12-29 17:38] NunoFilipeSantos commented on #835
@brintal and @cercata this issue has now some time, we're sorry we couldn't get to you in time, we hope this hasn't impacted you too much.
I'm closing the issue now, but feel free to reopen it, if you are still facing these questions.

[2020-12-29 17:38] #835 closed

[2020-12-29 17:44] NunoFilipeSantos commented on #1164
Closing. Looks like a repeat of #1085.
Feel free to re-open it, if that is not the case

[2020-12-29 17:44] #1164 closed

[2020-12-29 19:38] k-rus opened #2781 "Run regression tests on Windows in Release"
Some issues happen only in Release on Windows. For example, the crash in #2775.

Add the test of #2775, which is fixed in #2780, by calling:
[code]

[2020-12-29 19:51] k-rus opened #2782 "Add debug symbols to Windows Release build"
The supplied binaries of TimescaleDB doesn't contain debug symbols for Windows, which doesn't allow to get the stack trace of a crash. It would be nice to allow getting stack trace on Windows, since some crashes are unique and are not reproduced on other platforms.

[2020-12-30 08:40] k-rus commented on #2745
I created a PR to clarify upgrade to which versions requires restart: https://github.com/timescale/docs.timescale.com-content/pull/633

Since this issue was answered I close it.

[2020-12-30 08:40] #2745 closed

[2020-12-30 10:47] erimatnor commented on #2724
For now, the compression status will be reported as NULL for distributed chunks according to this PR: https://github.com/timescale/timescaledb/pull/2742

The function `chunk_compression_stats()` can be used to get information about compressed chunks in the meantime.

[2020-12-30 10:47] #2724 closed

[2020-12-30 11:09] #2750 closed

[2020-12-30 11:09] #2759 closed

[2020-12-30 11:15] erimatnor commented on #2650
You can manually do `DROP TABLE <chunk>` on individual chunks. With the new informational views in TimescaleDB 2.0.0 you should also be able to query for dimension information that you can use to compine with DROP TABLE in, e.g., a user-defined function.

[2020-12-30 11:15] #2650 closed

[2020-12-30 11:16] erimatnor commented on #2712
@jon-v can you post the backtrace output in this thread?

[2020-12-30 12:15] erimatnor commented on #2285
Closing since a workaround was found for 1.7. Please open a new issue if this problem reoccurs in 2.0.

[2020-12-30 12:15] #2285 closed

[2020-12-30 20:41] brettwooldridge commented on #2773
Unfortunately I do not have much additional information. From what I understand this occurred on a VM running in our lab. One of our engineers reports that the machine 1) seems to have encountered out of memory errors, according to logs viewed at the time, and 2) was unresponsive and was restarted with a hard reset. It was after the VM was restarted that the error started to appear. At that point

[2020-12-30 21:13] rebryk opened #2784 "Failed to create a hypertable for a simple PostgreSQL table"
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version:12.0
 - TimescaleDB version 2.0.0
 - Installation method: using Docker

**Describe the bug**
Failed to create a hypertable.

**To Reproduce**
[code]

**Expected behavior**
I expect timescaledb to create the hypertable.

**Actual behavior**
[code]

[2020-12-30 21:16] tylerfontaine commented on #2784
`SELECT create_hypertable('test_table', 'ts', chunk_time_interval >= 1000);`

Small typo there, the `>=` is transposed. Try:

`SELECT create_hypertable('test_table', 'ts', chunk_time_interval => 1000);`

[2020-12-30 21:26] rebryk commented on #2784
Argh. I've spent an hour on this!
Dude, thank you so much😉

[2020-12-30 21:26] #2784 closed

[2021-01-01 13:52] qwAAQ commented on #414
Is this being worked on? My entire solution hangs on being to use the 'quarter' feature which is available in date_trunc. I also chose TimescaleDB due to the continuous aggregates.

[2021-01-01 16:05] RedShift1 commented on #414
I've solved this by using triggers on insert to keep totals over monthly, quarterly, etc... periods.

[2021-01-01 16:16] qwAAQ commented on #414
Yeah I have thought about this too. I just see no use case for TimescaleDB anymore if I were to create triggers for the tables to just continuously insert convert data to quarter time buckets in another table. My data is static so a trigger would definitely solve it. I'm just wondering if TimescaleDB will support this anytime soon.

[2021-01-04 10:52] edsinclair commented on #2232
I just ran into this issue as well when attempting to order with a join:

[code]
I tried the workaround suggested above, but (perhaps obviously) it produces the wrong aggregates even though it does not throw an error:

[code]
In this particular case I'm not using Grafana and the result set isn't very big I'm able to workaround by sorting outside of Timescaledb by dropping the `ORDER BY`:

[code]
@

[2021-01-04 12:01] rept opened #2788 "Feature request: allow conversion of normal table into hypertable with compression at once"
There is already an option to convert a normal table into a hypertable without having to first create it and inserting into it.

It would be a time (and storage) saver if it would be possible to convert a normal table into a compressed hypertable in one go.

[2021-01-04 15:18] bdalenoord opened #2789 "`date_trunc` returning `null` only when a table is joined"
**Relevant system information:**
 - OS: Docker on MacOS X, also on Ubuntu server
 - PostgreSQL version (output of `postgres --version`): 12.5
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0
 - Installation method: using Docker

**Describe the bug**
I've got an issue with `date_trunc` as soon as I join a table.

The following query proves to be no issue:
[code]
You see a commented-out `LE

[2021-01-04 15:22] bdalenoord commented on #2789
Note: the PostgreSQL-initialization is a bit different as it does not have the `create_hypertable` (of course) nor does it support the `time_bucket` so instead I use `date_trunc` there as well. I don't see why that would cause an issue, but if I'm wrong please let me know.

[2021-01-04 18:03] WarriorOfWire commented on #2232
@edsinclair Are you using `timestamp with time zone` for metrics.ts?  Try your original query but use
[code]

[2021-01-05 06:24] icodeiexist commented on #1578
Hello, wish you a happy new year 2021, any plans to support an extension like timescaledb someday? I know there are serious architectural challenges there, but only the prospect sounds amazing.
Thank you.

[2021-01-05 12:03] zeeshanshabbir93 opened #2790 "Full Outer Join giving wrong result on hyper tables"
**Relevant system information:**
 - OS: [Ubuntu 18]
 - PostgreSQL version :[PostgreSQL 11.10 on x86_64-pc-linux-musl, compiled by gcc (Alpine 9.3.0) 9.3.0, 64-bit]
 - TimescaleDB version : [2.0.0]
 - Installation method: [docker]

**Describe the bug**
The behavior of full outer join in hyper tables is erroneous. Same query run on plain Postgres tables produces correct results. Data from one side o

[2021-01-05 14:42] k-rus commented on #2790
@zeeshanshabbir93 Thank you for reporting and for the reproduction instructions!
Have you been using older version of TimescaleDB, e.g., 1.7.4? If so, I am wonder if it worked correctly there.

[2021-01-05 15:19] zeeshanshabbir93 commented on #2790
@k-rus The issue persists for  1.4.2 & 1
.7.4  as well for postgres 11

[2021-01-05 15:37] davidkohn88 commented on #2790
Interesting, but not on PG12. Thanks that's good info, should help us isolate...

[2021-01-05 17:42] dberardo commented on #1003
same problem here ... and of course if i try to kill the postgres service before running the command, then psql cannot even run .... sounds like a vicious circle :D

[2021-01-05 17:59] brian-from-quantrocket opened #2791 "Updating to 2.0.0 on hypertable where chunks have been dropped fails"
Does TimescaleDB support upgrading to 2.0.0 on a database where chunks have previously been dropped with `drop_chunks`?

Using Timescale's Docker images, I am upgrading from `timescale/timescaledb:1.7.3-pg12` to `timescale/timescaledb:2.0.0-pg12`.

I have two databases, each of which contains a similarly structured hypertable.

[code]

Both hypertables have compression enabled and both have contin

[2021-01-05 22:41] brian-from-quantrocket commented on #1858
I've updated to Docker image `timescale/timescaledb:2.0.0-pg12` and it doesn't appear this issue has been addressed. The message text has changed but the message frequency is unchanged:

[code]

This shows up at the frequency of the `schedule_interval` parameter in `add_continuous_aggregate_policy` (every 2 minutes in my example scenario outlined above). As in 1.x, the messages are logged even if

[2021-01-06 00:23] mirubenstein opened #2792 "Semantically-versioned container tags"
Is there any way to get the latest docker container by major/minor version?
Like tags 1-pg12, 1.7-pg12 as well as 1.7.4-pg12

Something like the pattern used here?
Has 7-ubuntu, 7.9-ubuntu, and 7.9.0-ubuntu, etc.
https://hub.docker.com/r/atlassian/bitbucket-server/tags?page=1&ordering=last_updated

See Slack Installation channel discussion thread for more details.
https://timescaledb.slack.com/arc

[2021-01-06 12:17] PhilippJust opened #2793 "add_job ignores initial_start"
**Relevant system information:**
 - OS: Ubuntu 20.04
 - PostgreSQL version (output of `postgres --version`): 12.5
 - TimescaleDB version (output of `\dx` in `psql`): 2.0.0
 - Installation method: Docker

**Describe the bug**
When I add a new job with `add_job` and give a value for the parameter `initial_start`, the job still runs right away.

**To Reproduce**
Steps to reproduce the behavior:
1. Cr

[2021-01-06 15:09] brian-from-quantrocket commented on #1858
This log message is originating from [here](https://github.com/timescale/timescaledb/blob/d043ff1e041f22814f3d923860df85c84e99dbaf/tsl/src/bgw_policy/job.c#L318-L319).

By default, LOG messages will not be returned to the client (based on [client_min_messages](https://www.postgresql.org/docs/current/runtime-config-client.html#GUC-CLIENT-MIN-MESSAGES), which someone linked to above), but they *will

[2021-01-06 15:18] mtin commented on #2630
Same issue here on 2.0; specifically with materialized views. Granting read permissions via `ALTER DEFAULT PRIVILEGES` works for hypertables, but not for materialized views.

Is there any update on this? The workaround does its thing but seems quirky

[2021-01-06 17:14] mdespriee commented on #1248
also voting for this feature. We have a use-case very similar to the one described by @lely475

[2021-01-06 22:14] mfreed commented on #2792
Spoke to two users in community slack, and they expressed desire to have ability to "subscribe" to latest with more control.

Right now you have "latest" and specific versions (e.g., "1.7.4").  The use case here is to add ability to have

"latest" (-> will upgrade across major releases, as currently supported)
"latest-1" (-> will upgrade across minor releases in 1.x, not currently offered)
"latest